<div class="well" style="margin-top: 20px" id="bbcode-cheatsheet">

  <div class="clearfix">
    <button type="button" id="cheatsheet-toggle-btn" class="pull-right btn btn-default">
      Toggle
    </button>
    <h4>Formatting Cheatsheet</h4>
  </div>

  <div id="cheatsheet-body" style="display: none">

    <!-- Announcements -->
    <hr>
    <h5>BBCode Announcements</h5>
    <ul>
      <li style="color: #3BB878;">[March 8] Added <code>[hr]</code> tag for creating horizontal lines. Useful as a generic separator for organizing your posts.</li>
    </ul>
    <hr>

    <!-- Smilies -->

    {# Keep in sync with bbcode.js #}
    {% set smilies = [
      'airquotes',
      'airquote',
      'arghfist',
      'bow',
      'brow',
      'btw',
      'cool',
      'dreamy',
      'drool',
      'gray',
      'confused',
      'magnum',
      'nat',
      'hehe',
      'lol',
      'hmm',
      'golfclap',
      'ou',
      'newlol',
      'punch',
      'rock',
      'respek',
      'rollin',
      'rolleyes',
      'sick',
      'sun',
      'toot',
      'usa',
      'wub',
      'what',
      'zzz'
    ] %}

    <h3>Smilies</h3>
    <div>
      {% for smilie in smilies %}
        <div class="smilie-box">
          <span class="label label-default">
            :{{smilie}}
            <img src="/smilies/{{ smilie }}.gif">
          </span>
        </div>
      {% endfor %}
    </div>

    <!-- Basics -->

    <h3>Basics</h3>
    <div class="row">
      <div class="col-sm-6">
        <pre>
[b]Bold[/b]
[i]Italicize[/i]
[u]Underline[/u]
[s]Strike-through[/s]
[noparse][color=red][/noparse]
[hr] (Horizontal rule/line)

log[sub]b[/sub](xy) = log[sub]b[/sub](x) + log[sub]b[/sub](y)
E=mc[sup]2[/sup]
        </pre>
      </div>
      <div class="col-sm-6 bbcode">[b]Bold[/b]
[i]Italicize[/i]
[u]Underline[/u]
[s]Strike-through[/s]
[noparse][color=red][/noparse]
[hr]

log[sub]b[/sub](xy) = log[sub]b[/sub](x) + log[sub]b[/sub](y)
E=mc[sup]2[/sup]
      </div>
    </div>

    <!-- Colors -->

    <h3>Colors</h3>
    <p>List of all supported color names <a href="http://html-color-codes.info/color-names/">here</a>
    <div class="row">
      <div class="col-sm-6">
        <pre>
[color=lightcoral]Color by name[/color]
[color=f08080]Color by hex code[/color]
        </pre>
      </div>
      <div class="col-sm-6 bbcode">[color=lightcoral]Color by name[/color]
[color=f08080]Color by hex code[/color]
      </div>
    </div>

    <!-- Links and Images -->

    <h3>Links and Images</h3>
    <p><b>Note</b>: At the moment, [img] urls need to start with http or https.</p>
    <div class="row">
      <div class="col-sm-6">
        <pre>
[url]example.com[/url]
[url=example.com]Click me[/url]

[img]http://roleplayerguild.com/img/spinner.gif[/img]
        </pre>
      </div>
      <div class="col-sm-6 bbcode">[url]example.com[/url]
[url=example.com]Click me[/url]

[img]http://roleplayerguild.com/img/spinner.gif[/img]
      </div>
    </div>

    <h3>User @Mentions</h3>
    <p>
      You can @Mention someone in a post to ping them or let them know that you've replied to them. They will receive a notification that you mentioned them.
    </p>
    <div class="row">
      <div class="col-sm-6">
        <pre>
Hello, [@Internet Tough Guy]!
      </div>
      <div class="col-sm-6 bbcode">Hello, [@Internet Tough Guy]!
      </div>
    </div>

    <h3>Quotes and @QuoteMentions</h3>
    <p>
      You can @QuoteMention someone in a post to ping them or let them know that you've replied to them. They will receive a notification that you quoted them.
    </p>
    <div class="row">
      <div class="col-sm-6">
        <pre>
[quote]A quote with no name[/quote]

[quote=Socrates]A quote with a name[/quote]

[quote=@Mahz]A quote with a @QuoteMention[/quote]
(Mahz receives a notification)

[quote=@Internet Tough Guy]
[quote=@Mahz]Here's my opinion.[/quote]
Well, that's a wrong opinion.
[/quote]
        </pre>
      </div>
      <div class="col-sm-6 bbcode">[quote]A quote with no name[/quote]
[quote=Socrates]A quote with a name[/quote]
[quote=@Mahz]A quote with a @QuoteMention[/quote]
[quote=@Internet Tough Guy]
[quote=@Mahz]
Here's my opinion.
[/quote]
Well, it's wrong. It's a wrong opinion.
[/quote]
      </div>
    </div>

    <!-- Hiders -->

    <h3>Hiders</h3>
    <p>Hides its contents until the button is clicked. Useful for organizing posts.</p>
    <div class="row">
      <div class="col-sm-6">
        <pre>
[hider]Suprise![/hider]

[hider=Click Me!]Surprise![/hider]
        </pre>
      </div>
      <div class="col-sm-6 bbcode">[hider]Suprise![/hider]
[hider=Click Me!]Surprise![/hider]
      </div>
    </div>

    <!-- Tabs -->

<!--     <h3>Tabs</h3> -->
<!--     <p>Useful for post organization</p> -->
<!--     <div class="row"> -->
<!--       <div class="col-sm-6"> -->
<!--         <pre> -->
<!-- [tabs] -->
<!-- [tab=Intro] -->
<!-- This is the beginning -->
<!-- [/tab] -->
<!-- [tab=Interlude] -->
<!-- ... -->
<!-- [/tab] -->
<!-- [tab=Conclusion] -->
<!-- But this is how it all ends -->
<!-- [/tab] -->
<!-- [/tabs] -->
<!--         </pre> -->
<!--       </div> -->
<!--       <div class="col-sm-6 bbcode">[tabs] -->
<!-- [tab=Intro] -->
<!-- This is the beginning -->
<!-- [/tab] -->
<!-- [tab=Interlude] -->
<!-- ... -->
<!-- [/tab] -->
<!-- [tab=Conclusion] -->
<!-- But this is how it all ends -->
<!-- [/tab] -->
<!-- [/tabs] -->
<!--       </div> -->
<!--     </div> -->

    <!-- Alignment -->

    <h3>Alignment</h3>
    <div class="row">
      <div class="col-sm-6">
        <pre>
To the left
[center]Dead center[/center]
[right]To the right[/right]
        </pre>
      </div>
      <div class="col-sm-6 bbcode">To the left
[center]Dead center[/center]
[right]To the right[/right]
      </div>
    </div>

    <!-- Lists -->

    <h3>Lists</h3>
    <p>Only unordered lists are supported at the moment</p>
    <div class="row">
      <div class="col-sm-6">
        <pre>
[list]
[*] Item A
[*] Item B
[*] Item C
[/list]

[list]
[*] Item A
[*] Item B
[*] Nested
    [list]
    [*] Item A
    [*] Item B
    [*] Item C
    [/list]
[/list]
        </pre>
      </div>
      <div class="col-sm-6 bbcode">[list]
[*] Item A
[*] Item B
[*] Item C
[/list]
[list]
[*] Item A
[*] Item B
[*] Nested
    [list]
    [*] Item A
    [*] Item B
    [*] Item C
    [/list]
[/list]
      </div>
    </div>

    <!-- Indentation -->

    <h3>Indentation</h3>
    <p>You may have to play with it to get the line-breaks right.</p>
    <div class="row">
      <div class="col-sm-6">
        <pre>
He's got a massive whinge he hasn't got a too right! Built like a uluru heaps he's got a massive icy pole. Grab us a gobful piece of piss you little ripper swag. As cunning as a stonkered mate he hasn't got a mullet.

[indent]He's got a massive whinge he hasn't got a too right! Built like a uluru heaps he's got a massive icy pole. Grab us a gobful piece of piss you little ripper swag. As cunning as a stonkered mate he hasn't got a mullet.[/indent]

[indent][indent]He's got a massive whinge he hasn't got a too right! Built like a uluru heaps he's got a massive icy pole. Grab us a gobful piece of piss you little ripper swag. As cunning as a stonkered mate he hasn't got a mullet.[/indent][/indent]
        </pre>
      </div>
      <div class="col-sm-6 bbcode">He's got a massive whinge he hasn't got a too right! Built like a uluru heaps he's got a massive icy pole. Grab us a gobful piece of piss you little ripper swag. As cunning as a stonkered mate he hasn't got a mullet.

[indent]He's got a massive whinge he hasn't got a too right! Built like a uluru heaps he's got a massive icy pole. Grab us a gobful piece of piss you little ripper swag. As cunning as a stonkered mate he hasn't got a mullet.[/indent]
[indent][indent]He's got a massive whinge he hasn't got a too right! Built like a uluru heaps he's got a massive icy pole. Grab us a gobful piece of piss you little ripper swag. As cunning as a stonkered mate he hasn't got a mullet.[/indent][/indent]
      </div>
    </div>

    <!-- Headings -->

    <h3>Headings</h3>
    <p>Useful for breaking lengthy text into subtitled hierarchies.</p>
    <div class="row">
      <div class="col-sm-6">
        <pre>
[h1]Header 1[/h1]
[h2]Header 2[/h2]
[h3]Header 3[/h3]
        </pre>
      </div>
      <div class="col-sm-6 bbcode">[h1]Header 1[/h1]
Grab us a cut snake how it'll be chuck a sickie. Stands out like a jackaroo my lets throw a bingle. Get a dog up ya back of bourke to shazza got us some blow in the bag. As cunning as a bluey heaps trent from punchy grouse. Get a dog up ya veg out mate she'll be right cook.
[h2]Header 2[/h2]
She'll be right dead dingo's donger to as stands out like slab. She'll be right gobful no dramas flat out like a chunder. As stands out like kero with he hasn't got a blowie. Trent from punchy ambo my as cunning as a postie. ocker to as cross as a jug. Lets throw a cubby house where gutful of flick.
[h3]Header 3[/h3]
He hasn't got a bog standard also she'll be right ironman. She'll be right rock up come a bingle. As stands out like greenie piece of piss she'll be right old fella. He hasn't got a rapt also as busy as a fruit loop. Lets get some stubby holder also as stands out like smokes. Built like a down under mate built like a barrack. Mad as a mate's rate how you little ripper esky.
      </div>
    </div>


    <!-- -->

    <!-- <h3></h3> -->
    <!-- <div class="row"> -->
    <!--   <div class="col-sm-6"> -->
    <!--     <pre> -->
    <!--     </pre> -->
    <!--   </div> -->
    <!--   <div class="col-sm-6 bbcode"> -->
    <!--   </div> -->
    <!-- </div> -->

    </div><!-- /#cheatsheet-body, the part that toggles when btn clicked-->

</div> <!-- /.well, full container -->
