<div class="well" style="margin-top: 20px">
  <div class="clearfix">
    <button type="button" id="cheatsheet-toggle-btn" class="pull-right btn btn-default">
      Toggle
    </button>
    <h4>Formatting Cheatsheet</h4>
  </div>
  <div class="row" id="cheatsheet-body" style="display: none">
    <div class="col-sm-6">
      <pre style="background-color: transparent; border: none; color: white">
You can **embolden** and *italicize* text.

You can created [hyperlinks](http://example.com)

You can auto-linkify a url <http://example.com>

You can embed images: ![](/img/spinner.gif)

You can create `inline code blocks`, or you can create multiline code blocks by prepending 4 spaces before each line:

    Meet my elephant:

             ___     _,.--.,_
          .-~   ~--"~-.   ._ "-.
         /      ./_    Y    "-. \
        Y       :~     !         Y
        lq p    |     /         .|
     _   \. .-, l    /          |j
    ()\___) |/   \_/";          !
     \._____.-~\  .  ~\.      ./
                Y_ Y_. "vr"~  T
                (  (    |L    j
                [nn[nn..][nn..]
            ~~~~~~~~~~~~~~~~~~~~~~~

You can create unordered lists:

- Item A
- Item B
- Item C

And ordered lists

1. Item A
2. Item B
3. Item C

You can quote somebody:

> I have two questions:
>
> 1. What color is the sky?
> 2. What's the #1 fundamental rule of the guild?

1. Blue
2. Be fonz-cool

You can also organize your post with six levels of headers:

# Header 1
## Header 2
### Header 3
#### Header 4
##### Header 5
###### Header 6

You can create horizontal separators with 3 or more hyphens in a row:

---

Finally, you can click "View Raw" on any post to see the original text.
      </pre>
    </div>
    <div class="col-sm-6">
<p>You can <strong>embolden</strong> and <em>italicize</em> text.</p>

<p>You can created <a href="http://example.com">hyperlinks</a></p>

<p>You can auto-linkify a url <a href="http://example.com">http://example.com</a></p>

<p>You can embed images: <img alt="" src="/img/spinner.gif"></p>

<p>You can create <code>inline code blocks</code>, or you can create multiline code blocks by prepending 4 spaces before each line:</p>

<pre><code>Meet my elephant:

         ___     _,.--.,_
      .-~   ~--"~-.   ._ "-.
     /      ./_    Y    "-. \
    Y       :~     !         Y
    lq p    |     /         .|
 _   \. .-, l    /          |j
()\___) |/   \_/";          !
 \._____.-~\  .  ~\.      ./
            Y_ Y_. "vr"~  T
            (  (    |L    j
            [nn[nn..][nn..]
        ~~~~~~~~~~~~~~~~~~~~~~~ </code></pre>

<p>You can create unordered lists:</p>

<ul><li>Item A</li><li>Item B</li><li>Item C</li></ul>

<p>And ordered lists</p>

<ol><li>Item A</li><li>Item B</li><li>Item C</li></ol>

<p>You can quote somebody:</p>

<blockquote><p>I have two questions:</p><ol><li>What color is the sky?</li><li>What's the #1 fundamental rule of the guild?</li></ol></blockquote>

<ol><li>Blue</li><li>Be fonz-cool</li></ol>

<p>You can also organize your post with six levels of headers:</p>

<h1>Header 1</h1>

<h2>Header 2</h2>

<h3>Header 3</h3>

<h4>Header 4</h4>

<h5>Header 5</h5>

<h6>Header 6</h6>

<p>You can create horizontal separators with 3 or more hyphens in a row:</p>

<hr>

<p>Finally, you can click "View Raw" on any post to see the original text.</p>

    </div>
  </div>
</div>
