{% import '../macros/macros.html' as macros %}
<!doctype html>
<html lang="en">
<head>
  {# Temporarily off
   Guests always get the mobile version
  {% if not ctx.currUser %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endif %}
  {% if ctx.currUser and ctx.currUser.force_device_width %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endif %}
  #}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="/favicon.ico?v=3">

  {% if ctx.path == '/' %}
    <meta name="description" content="Laid-back and free-form roleplaying. From fandoms to original plots, you'll find other players that share your interests. Roleplays are organized by skill-level and tags.">
  {% endif %}

  <title>
    {% if title %}
      {{ title }} &mdash; Roleplayer Guild
    {% else %}
      Roleplayer Guild &mdash; Play-by-Post Role Playing Forum
    {% endif %}
  </title>

  {% if ctx.dist.css %}
    <link rel="stylesheet" href="/{{ ctx.dist.css }}">
  {% else %}
    <!-- Bootstrap CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <!-- Other 3rd party CSS -->
    <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet">
    <!-- RPGuild CSS -->
    <link href="/css/bootstrap_overrides.css" rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet">
  {% endif %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  {% block head %}{% endblock %}
</head>
<body class="{{ className or '' }}">
<div class="container">

  <div id="top-bottom-box">
    <a class="top-btn" href="#" title="Go to top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <a class="bottom-btn" href="#bottom" title="Go to bottom">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>

  {% block aboveNavbar %}{% endblock %}

    <!-- Static navbar -->
    <nav class="navbar navbar-inverse" role="navigation"
         style="">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="padding:10px 15px; height:auto;">
            {% if ctx.config.NODE_ENV == 'production' %}
              <h2 style="margin:0;font-size:14px;">
                <img src="/img/redPANDA-logo.png" alt="Roleplayer Guild"
                     width="196"
                     height="28">
              </h2>
            {% else %}
              <div style="margin-top: 5px; display: inline-block;">
                {{ ctx.config.NODE_ENV }}-guild
              </div>
            {% endif %}
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% if ctx.currUser %}
              <li>
                <a href="/search">
                  <span class="glyphicon glyphicon-search"></span>
                  Search
                </a>
              </li>
            {% endif %}
              <li>
                <a href="/staff">
                  <span class="glyphicon glyphicon-heart-empty"></span>
                  Staff
                </a>
              </li>
            {% if false and cache2.get('faq-post') %}
              <li>
                <a href="/faq">
                  <span class="glyphicon glyphicon-question-sign"></span>
                  FAQ
                </a>
              </li>
            {% endif %}
            {% if ctx.can(ctx.currUser, 'READ_USER_LIST') %}
              <li>
                <a href="/users">
                  <span class="glyphicon glyphicon-globe"></span>
                  Users
                </a>
              </li>
            {% endif %}
            {% if config.IS_DISCORD_CONFIGURED %}
            <li>
              <a href="/discord">
                <span class="glyphicon glyphicon-comment"></span>
                Discord
                {% if cache2.get('discord-stats').online > 0 %}
                  <span class="label label-primary" style="color: #fff;">{{ cache2.get('discord-stats').online }} Online</span>
                {% endif %}
              </a>
            </li>
            {% endif %}
          </ul>

          <!-- If user is logged in, show logout button -->
          {% if ctx.currUser %}
            <form style="padding-top:3px;"
                  action="/me/logout"
                  method="post"
                  class="logout-form navbar-form pull-right">
              <input type="submit"
                     value="Logout"
                     style="color: white;"
                     class="btn-link">
            </form>

            <div class="hidden-xs">
              {{ macros.renderUserBar(ctx, true, 'pull-right') }}
            </div>
          {% endif %}
          <!-- If user is not logged in, show login/register controls -->
          {% if not ctx.currUser %}
            <div class="navbar-right">
              <a class="btn btn-default navbar-btn" href="/login" id="login-btn">
                Login
              </a>
              <a class="btn btn-primary navbar-btn" href="/register" id="register-btn">
                Register
              </a>
            </div>
          {% endif %}

        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav><!-- /navbar -->

    <!-- userbar for mobile users -->
    {% if ctx.currUser %}
      <div class="text-center visible-xs-block">
        {{ macros.renderUserBar(ctx, false) }}
      </div>
    {% endif %}

    {% set cachedAlert = cache.get('global-alert') %}
    {% if cachedAlert and (ctx.cookies.get('hide-global-alert') | parseIntOr(0)) < cachedAlert.updated_at.getTime() %}
      <div class="alert alert-info">
        <div class="pull-right">
          {% if ctx.currUser.role | isIn(['smod', 'admin']) %}
            <a href="/lexus-lounge#global-alert" class="btn btn-default btn-xs">
              Edit
            </a>
          {% endif %}
          <form method="POST" action="/global-alerts/hide?={{ cachedAlert.updated_at.toISOString() }}"
                style="display: inline-block"
          >
            <button type="submit" class="btn btn-primary btn-xs">
              Hide
            </button>
          </form>
        </div>
        <div class="pull-right small" style="margin-right: 10px;">
          <abbr class="timeago" title="{{ cachedAlert.updated_at.toISOString() }}"
                style="color: inherit"
          >
            {{ cachedAlert.updated_at | formatDate }}
          </abbr>
          by
          {{ cachedAlert.updated_by.uname }}
        </div>
        <span class="glyphicon glyphicon-bullhorn"></span>
        <strong>Global Alert</strong>
        <div style="margin-top: 10px;">
          {{ cachedAlert.value.html | safe  }}
        </div>
      </div>
    {% endif %}

    <!-- Display flash message -->
    {% if ctx.flash.message %}
      <div class="alert alert-{{ ctx.flash.message[0] }}"
           role="alert">
        {{ ctx.flash.message[1] }}
      </div>
    {% endif %}

    <!-- Embedded content is nested here -->
    {% block embed %}{% endblock %}

    <a name="bottom"></a>

    <!-- Footer -->
    <div class="text-center" style="margin-top: 100px;">
      &copy; 2007-2017
      <div><a href="/bbcode">BBCode Cheatsheet</a></div>
    </div>

    {% if ctx.currUser %}
      <div id="post-drafts-debug" class="text-center" style="margin-top: 25px;"></div>
    {% endif %}

  </div> <!-- /container -->

  <!-- JS -->
  {% if ctx.dist.js %}
    <script src="/{{ ctx.dist.js }}"></script>
  {% else %}
    {# Sync with gulpfile #}
    <script src="/vendor/lodash-4.17.4.min.js"></script>
    <script src="/vendor/jquery/jquery-2.1.3.min.js"></script>
    <script src="/vendor/jquery-hotkeys/jquery.hotkeys.js"></script>
    <script src="/vendor/timeago/jquery.timeago.js"></script>
    <script src="/vendor/markdown/markdown.js"></script>
    <script src="/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
    <script src="/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/vendor/autolinker/dist/Autolinker.js"></script>
    <script src="/vendor/xbbcode/xbbcode/bbcode.js"></script>
    <script src="/js/bbcode_editor.js"></script>
    {# Draft auto-save #}
    <script src="/js/store/index.js"></script>
  {% endif %}

  <script type="text/javascript">
    $(function() {

      var strings = {
        simple: {
          prefixAgo: null,
          prefixFromNow: "in",
          suffixAgo: "ago",
          suffixFromNow: "",
          seconds: "<1 min",
          minute: "1 min",
          minutes: "%d min",
          hour: "1 hr",
          hours: "%d hrs",
          day: "1 day",
          days: "%d days",
          month: "1 mo",
          months: "%d mos",
          year: "1 yr",
          years: "%d yrs",
          wordSeparator: " ",
          numbers: []
        }
      };

      $.timeago.settings.allowFuture = true;

      $.timeago.settings.strings = strings.simple;
      $("abbr.timeago").timeago();
    });
  </script>
  <script type="text/javascript">
    // Activate cheatsheet toggle
    var isCheatsheetRendered = false;
    $('#cheatsheet-toggle-btn').on('click', function() {
      // Only render the BBCode demos on first click and never again
      if (!isCheatsheetRendered) {
        console.log('rendering cheatsheet');
        $('#bbcode-cheatsheet .bbcode').each(function() {
          $(this).html(XBBCODE.process({
            text: $(this).text(),
            addInLineBreaks: true
          }).html);
        });
        isCheatsheetRendered = true;
      }
      $('#cheatsheet-body').toggle();
    });
  </script>
  <script>
    //$('.hider-button').click(function(e) {
    // Bind to any hiders that are created after page load (i.e. hiders
    // in preview boxes)
    $(document).ready(function() {
      $(document).on('click', '.hider-button', function(e) {
         console.log('click');
         e.stopPropagation();
         //$(this).next().toggle();


         var $button = $(this);
         console.log($button);
         var hiderName = $button.attr('data-name');
         var $content = $button.parent().next();
         console.log('$content', $content);
         console.log('expr', $content.css('display'));

         if ($content.css('display') == 'none') {
           $content.show();
           $button.parent().parent().css('border', '1px solid #111')
           $button.text(hiderName + ' [-]');
         } else {
           $content.hide();
           $button.parent().parent().css('border', 'none')
           $button.text(hiderName + ' [+]');
         }

         return false;
       })
    });
  </script>

  <script type="text/javascript">
    $('.viewers-list-btn').on('click', function() {
      if ($('.viewers-list').css('display') == 'none') {
        $('.viewers-list').show();
        $('.viewers-list-btn').text('Hide');
      } else {
        $('.viewers-list').hide();
        $('.viewers-list-btn').text('Show');
      }
    });
  </script>

  <script type="text/javascript">
    // Is localStorage supported in this browser?
    function isStorage() {
      var key = 'test';
      try {
          localStorage.setItem(key, key);
          localStorage.removeItem(key);
          return true;
      } catch(ex) {
          return false;
      }
    }
  </script>

  {% if ctx.currUser %}
    <script>
      var keys = postDrafts.keys()
      var html = '<p>'+keys.length + ' drafts saved (for 6 hours max)</p>'

      html += '<ul class="list-unstyled">'

      keys.forEach(function (key) {
        html += '<li>- <a href="'+key+'">'+key+'</a></li>'
      })

      html += '</ul>'

      if (keys.length > 0) {
        html += '<button class="btn btn-default btn-xs">Clear</button>'
      }

      $('#post-drafts-debug').html(html)

      if (keys.length > 0) {
        $('#post-drafts-debug button').on('click', function (e) {
          postDrafts.clear()
          $('#post-drafts-debug').remove()
        })
      }

    </script>
  {% endif %}

  {% block scripts %}{% endblock %}
</body>
</html>
