{% extends 'layouts/master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
  </ol>

  {% if ctx.currUser && ctx.currUser.role === 'banned' %}
    <div class="alert alert-danger">
      You cannot participate in chat because you're banned from the guild.
    </div>
  {% endif %}

  <div class="page-header" style="border-color: #000">
    <h3>Chat</h3>
  </div>

  <p class="lead text-center">
    Welcome to the Guild's chat. All Guild rules apply here. Be cool. <img src="http://i.imgur.com/MJSGzeo.gif">
  </p>

  {% if session_id %}
    <div id="session-id" data-session-id="{{ session_id }}"></div>
  {% endif %}

  <div id="chat-server-url" data-chat-server-url="{{ chat_server_url }}"></div>

  <style>
    .text-counter-error {
      color: #e74c3c;
      text-shadow: 1px 1px 0 #333;
    }
    .messages li:focus {
      outline: 0;
    }
    .message-uname {
      text-shadow:
        1px 1px 5px #000,
        -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
    }
    .message-item .message-text,
    .message-input {
      font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
      /*font-size: 12px;*/
      /*font-family: "Lucida Console", Monaco, monospace;*/
      /*font-family: "Courier New", Courier, monospace;*/
    }
    .mentions-user {
      background-color: #325352;
    }
  </style>

  <button type="button" class="chat-help-btn btn btn-default btn-xs">Show Chat Help</button>
  <div class="chat-help" style="border: 2px dotted #999; padding: 5px; display: none;">
    <li>
      <strong>Emote:</strong>
      <ul>
        <li>
          <code>/me claps excitedly</code>
          <div style="display: inline-block;">
            &rarr;
            <img src="https://dl.dropboxusercontent.com/spa/quq37nq1583x0lf/rutlz-cn.png">
          </div>
        </li>
        <li>
          <code>/me's house</code>
          <div style="display: inline-block;">
            &rarr;
            <img src="https://dl.dropboxusercontent.com/spa/quq37nq1583x0lf/0oq5typq.png">
          </div>
        </li>
      </ul>
    </li>
    <li>
      <strong>@Mention:</strong> Notify the people that you're talking to.
      <ul>
        <li>Click on any username (from sidebar or chatbox) to add mentions to your message.</li>
        <li>
          When someone is mentioned, the message is highlighted on their screen:
          <img src="https://dl.dropboxusercontent.com/spa/quq37nq1583x0lf/u_48_ck8.png">
        </li>
        <li>
          Their browser tab will blink with unread mention count until they visit the tab.
          <img src="https://dl.dropboxusercontent.com/spa/quq37nq1583x0lf/uaxz_u52.png">
        </li>
      </ul>
    </li>
  </div>

  <div id="app" style="margin-top: 10px;"></div>


  <ul class="text-muted">
    <li>
      The goal of this chat system is to eventually lead to a group-chat system and user-to-user IMing
    </li>
    <li>
      Bugs? Ideas? Suggestions? Leave feedback in
      <a href="http://www.roleplayerguild.com/topics/75056-mahzs-dev-journal/ooc/first-unread" target="_blank">Mahz's Dev Thread</a>
    </li>
    <li>
      Prefer IRC? Check out our <a href="http://widget02.mibbit.com/?settings=c2129339a43d8c49d86c34fa8dff7610&server=irc.foonetic.net&channel=%23Roleplayerguild" target="_blank">IRC channel</a> (#roleplayerguild on irc.foonetic.net)
    </li>
    <li>
      Chat logs are stored in the database. I will eventually let you browse the chat history.
    </li>
  </ul>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
  <script src="/vendor/cbuffer.js"></script>
  <script src="/vendor/socket.io-client/socket.io.js"></script>
  <script src="https://fb.me/react-0.13.3.min.js"></script>
  <script src="/vendor/md5.js"></script>
  <script src="/vendor/startsWith.js"></script>

  <script type="text/javascript">
    $('.chat-help-btn').on('click', function() {
      if ($('.chat-help').css('display') === 'none') {
        $('.chat-help').show();
        $('.chat-help-btn').text('Hide Chat Help');
      } else {
        $('.chat-help').hide();
        $('.chat-help-btn').text('Show Chat Help');
      }
    });
  </script>

  {% if ctx.dist && ctx.dist.chatjs %}
    <script src="/{{ ctx.dist.chatjs }}" type="text/javascript"></script>
  {% else %}
    <script src="/js/chat.js" type="text/javascript"></script>
  {% endif %}
{% endblock %}
