{% extends 'layouts/master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{{ user.url }}">{{ user.uname }}</a></li>
  </ol>

  <div class="page-header" style="border-color: #000">
    <h3>Edit {{ user.uname }}</h3>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <!-- Change custom_title form -->
      {% if ctx.can(ctx.currUser, 'UPDATE_USER_CUSTOM_TITLE', user) %}
        <form action="{{ user.url }}" method="post" class="form-horizontal">
          <input type="hidden" name="_method" value="put">
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">Edit Custom Title</div>
            <!-- PANEL BODY -->
            <div class="panel-body">
              <p>Your title is displayed between your username and avatar in each post. It's fun.</p>
              <p>Examples: <code>The Bearded</code>, <code>A Friendly Hobbit</code>, <code>Dank Meme Generator</code>.</p>
              <div class="text-muted">Please don't set it to things like "Admin", "Banned", etc.</div>
              <p class="text-muted">Use <code>\n</code> to force a line-break (1 max)</p>
              <div class="form-group">
                <label for="custom-title-input" class="col-sm-3 control-label">Custom Title:</label>
                <div class="col-sm-9">
                  <input id="custom-title-input" name="custom-title" class="form-control" autocomplete="off" value="{{ user.custom_title }}" type="text">
                  <p class="help-block">50 chars max</p>
                </div>
              </div>
            </div> <!-- /.panel-body -->
            <!-- PANEL FOOTER -->
            <div class="panel-footer" style="border-color: #000">
              <div class="text-right">
                <input id="custom-title-submit" type="submit" value="Submit"
                       class="btn btn-primary">
              </div>
            </div> <!-- /.panel-footer -->
          </div> <!-- /.panel -->
        </form>
      {% endif %}

      <!-- Change role form -->
      {% if ctx.can(ctx.currUser, 'UPDATE_USER_ROLE', user) %}
        <form action="{{ user.url }}/role" method="post" class="form-horizontal">
          <input type="hidden" name="_method" value="put">
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">Edit Role</div>
            <!-- PANEL BODY -->
            <div class="panel-body">
              <div class="form-group">
                <label for="role-input" class="col-sm-3 control-label">Role:</label>
                <div class="col-sm-9">
                  <select id="role-input" name="role" class="form-control"
                          autocomplete="off">
                    <option value="admin"
                            {% if user.role === 'admin' %}selected{% endif %}
                            >
                      Admin
                    </option>
                    <option value="smod"
                            {% if user.role === 'smod' %}selected{% endif %}
                            >
                      Super Mod
                    </option>
                    <option value="mod"
                            {% if user.role === 'mod' %}selected{% endif %}
                            >
                      Mod
                    </option>
                    <option value="member"
                            {% if user.role === 'member' %}selected{% endif %}
                            >
                      Member
                    </option>
                    <option value="banned"
                            {% if user.role === 'banned' %}selected{% endif %}
                            >
                      Banned
                    </option>
                  </select>
                </div>
              </div>
            </div> <!-- /.panel-body -->
            <!-- PANEL FOOTER -->
            <div class="panel-footer" style="border-color: #000">
              <div class="text-right">
                <input id="role-submit" type="submit" value="Submit"
                       class="btn btn-primary">
              </div>
            </div> <!-- /.panel-footer -->
          </div> <!-- /.panel -->
        </form>
      {% endif %}

      <!-- Change email form -->

      <form action="{{ user.url }}" method="post" class="form-horizontal">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Edit Email</div>
          <!-- PANEL BODY -->
          <div class="panel-body">

            <div class="form-group">
              <label for="email-input" class="col-sm-3 control-label">Email:</label>
              <div class="col-sm-9">
                <input id="email-input" name="email" type="text"
                       class="form-control" value="{{ user.email }}">
              </div>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="email-submit" type="submit" value="Save Email"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

      <!-- Delete legacy signature -->

      {% if user.legacy_sig %}
        <form action="{{ user.url }}/legacy-sig" method="post" class="form-horizontal">
          <input type="hidden" name="_method" value="delete">
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">Delete Legacy Signature</div>
            <div class="panel-body">
              <p>You have a legacy signature ported from the previous database. Delete it if you want it to stop displaying.</p>
            </div> <!-- /.panel-body -->
            <!-- PANEL FOOTER -->
            <div class="panel-footer" style="border-color: #000">
              <div class="text-right">
                <input type="submit" value="Delete Legacy Signature"
                       class="btn btn-primary">
              </div>
            </div> <!-- /.panel-footer -->
          </div> <!-- /.panel -->
        </form>
      {% endif %}

      <!-- Ghost mode checkbox -->

      <form action="{{ user.url }}" method="post" class="form-horizontal">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Ghost Mode</div>
          <!-- PANEL BODY -->
          <div class="panel-body">
            <p>When you're in ghost-mode, you will not appear in the list of online users. Also, the site will indicate that you're Invisible instead of announcing you as Online or Offline.</p>
            <p>Recommendation: Keep it off unless you feel it's necessary. It makes things feel more alive.</p>
            <input name="is-ghost" type="hidden" value="false">
            <div class="checkbox">
              <label>
                <input id="is-ghost-input"
                       name="is-ghost"
                       type="checkbox"
                       {% if user.is_ghost %}
                         checked
                       {% endif %}
                       >
                Enable Ghost Mode
              </label>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input type="submit" value="Save" class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

      <!-- Hide sigs/avatars -->

      <form action="{{ user.url }}" method="post" class="form-horizontal">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Hide Signatures/Avatars</div>
          <!-- PANEL BODY -->
          <div class="panel-body">

            <p>These options allow you to stop signatures and avatars from appearing/loading.</p>

            <input name="hide-sigs" type="hidden" value="false">
            <input name="hide-avatars" type="hidden" value="false">
            <div class="checkbox">
              <label>
                <input id="hide-sigs-input"
                       name="hide-sigs"
                       type="checkbox"
                       {% if user.hide_sigs %}
                         checked
                       {% endif %}
                       >
                Hide Signatures?
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input id="hide-avatars-input"
                       name="hide-avatars"
                       type="checkbox"
                       {% if user.hide_avatars %}
                         checked
                       {% endif %}
                       >
                Hide Avatars?
              </label>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input type="submit" value="Save" class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

      <!-- Edit sig -->

      <form action="{{ user.url }}" method="post">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Edit Signature</div>
          <!-- PANEL BODY -->
          <div class="panel-body">

            <p>Your signature appears below every post you make.</p>
            <ul>
              <li>Please keep it small and simple. Remember that everyone who views your post will have to download any massive images you chose to put in your sig. Even people on smartphones that do not have unlimited internet plans.</li>
              <li>No videos.</li>
              <li>Max signature height: 300px. Anything taller will get cut off.</li>
            </ul>

            <div class="form-group">
              <label for="sig-input" class="control-label">Signature:</label>
              <textarea id="sig-input" name="sig" class="form-control">{{ user.sig }}</textarea>
              <div class="help-block">If you currently have a signature ported over from the old database, it will be replaced by anything you save here.</div>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="email-submit" type="submit" value="Save Signature"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

      <!-- Set avatar URL -->

      <a name="avatar"></a>
      <form action="{{ user.url }}/avatar" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Edit Avatar</div>
          <!-- PANEL BODY -->
          <div class="panel-body">

            <p>Your avatar is the image that appears below your username to the left of every post you make.</p>
            <ul>
              <li><b>Max dimensions:</b> 150px width, 200px height</li>
              <li>Images larger than these dimensions will be resized</li>
              <li>Animated GIFs often break when resized by the system, so you may want to resize them yourself before uploading</li>
            </ul>

            <hr>

            {% if user.legacy_avatar_url %}
              <div class="alert alert-warning">
                <strong>Legacy Avatar Detected</strong>
                <p>Your avatar needs to be uploaded into the new system. Download it to your computer and then use the form below.</p>
                <p>Old Avatar:</p>
                <div style="max-width: 150px; max-height: 150px;">
                  <img src="{{ user.legacy_avatar_url }}" class="img-responsive">
                </div>
                Link: <a href="{{ user.legacy_avatar_url }}">{{ user.legacy_avatar_url }}</a>
              </div>
            {% endif %}

            {% if user.avatar_url %}
              <div class="form-group" style="margin-bottom: 20px;">
                <div class="row">
                <div class="col-sm-4" style="font-weight: bold;">Current Avatar:</div>
                <div class="col-sm-8">
                  <img src="{{ user.avatar_url }}">
                </div>
                </div>
              </div>
            {% endif %}

            <div class="form-group">
              <div class="row">
              <label for="avatar-url-input" class="col-sm-4 control-label">New Avatar:</label>


              <div class="col-sm-8">
                <input type="file" name="avatar">
                <div class="help-block"></div>
              </div>
              </div>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <button type="submit" name="submit" value="delete" class="btn btn-danger">
                Delete Avatar
              </button>
              <button type="submit" name="submit" value="save" class="btn btn-primary">
                Save Avatar
              </button>
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

      {#
      <!-- Toggle user.force_device_width -->

      <a name="force-device-width"></a>
      <form action="{{ user.url }}" method="post">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select" style="border-color: #000">
          <div class="panel-heading">Force Device Width</div>
          <!-- PANEL BODY -->
          <div class="panel-body">
            <p>
              Default: On
            </p>
            <p>This setting forces the website to render at your device's width. You generally want to leave this on <b>unless</b> the Guild is so broken on your smartphone/tablet that you can't do anything. Disabling this setting might help in some cases.</p>
            <div class="form-group">

              <input name="force-device-width" type="hidden" value="false">
              <div class="checkbox">
                <label>
                  <input id="force-device-width-input"
                         name="force-device-width"
                         type="checkbox"
                         {% if user.force_device_width %}
                           checked
                         {% endif %}
                         >
                  Force the website to scale to your device's width
                </label>
              </div>

            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="force-device-width-submit" type="submit" value="Save"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>
      #}

      <!-- Toggle grayscale avatars -->

      <a name="grayscale-avatars"></a>
      <form action="{{ user.url }}" method="post">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select" style="border-color: #000">
          <div class="panel-heading">Grayscale Avatars</div>
          <!-- PANEL BODY -->
          <div class="panel-body">
            <p>Enabling this will convert all avatars to black and white.</p>
            <div class="form-group">

              <input name="is-grayscale" type="hidden" value="false">
              <div class="checkbox">
                <label>
                  <input id="is-grayscale-input"
                         name="is-grayscale"
                         type="checkbox"
                         {% if user.is_grayscale %}
                           checked
                         {% endif %}
                         >
                  Enable Grayscale Avatars
                </label>
              </div>

            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="is-grayscale-submit" type="submit" value="Save"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

    </div> <!-- /col -->
  </div> <!-- /.row -->

{% endblock %}

{% block scripts %}
<script>
  $('#uname-input').focus();
</script>

  <script>
    $(function() {
      $('#sig-input').bbcode({
        height: 388
      });
    });
  </script>
{% endblock %}
