{% extends 'layouts/master.html' %}
{% import 'macros/macros.html' as macros %}
{% import './macros/ads.html' as ads %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
    <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
    <li class="active">Edit Topic</li>
  </ol>

  {{ ads.topResponsive() }}

  <div class="page-header" style="border-color: #000">
    <h3>Edit {{ topic.title }}</h3>
  </div>

  <!-- ====================================================== -->
  <!-- Manage join status -->
  <!-- ====================================================== -->

  {% if ctx.can(ctx.currUser, 'UPDATE_TOPIC_JOIN_STATUS', topic) %}
    <form action="{{ topics.url }}" method="post">
      <input name="_method" type="hidden" value="put">

      <div class="panel panel-default no-select" style="border-color: #000">
        <!-- PANEL HEADING -->
        <div class="panel-heading">
          <h4>Join Status</h4>
        </div><!--/panel-heading-->

        <!-- PANEL BODY -->
        <div class="panel-body">

          <!-- <p class="text-muted"></p> -->

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <div class="btn-group btn-group-justified" data-toggle="buttons">
              <label class="btn btn-default {% if topic.join_status === 'jump-in' %}active{% endif%} join-status join-status-jump-in">
                <input type="radio" name="join-status" id="option1" autocomplete="off" value="jump-in" {% if topic.join_status === 'jump-in' %}checked{% endif%}>
                Jump-in
              </label>
              <label class="btn btn-default {% if topic.join_status === 'apply' %}active{% endif%} join-status join-status-apply">
                <input type="radio" name="join-status" id="option2" autocomplete="off" value="apply" {% if topic.join_status === 'apply' %}checked{% endif%}>
                Apply
              </label>
              <label class="btn btn-default {% if topic.join_status === 'full' %}active{% endif%} join-status join-status-full">
                <input type="radio" name="join-status" id="option3" autocomplete="off" value="full" {% if topic.join_status === 'full' %}checked{% endif%}> Full
              </label>
            </div>
          </div> <!--/form-group-->
            </div><!--/col-->
          </div><!--/row-->

          <ul>
            {% for status in ['jump-in', 'apply', 'full'] %}
              <li class="text-muted">
                <span class="join-status join-status-{{ status }}">
                  {{ status|capitalize }}
                </span>
                &mdash;
                {{ status|expandJoinStatus }}
              </li>
            {% endfor %}
          </ul>

        </div> <!-- /.panel-body -->
        <!-- PANEL FOOTER -->
        <div class="panel-footer" style="border-color: #000">
          <div class="text-right">
            <a href="{{ topic.url }}" class="btn btn-default">Back</a>
            <input id="topic-submit" type="submit" value="Save" class="btn btn-primary">
          </div>
        </div> <!-- /.panel-footer -->
      </div> <!-- /.panel -->
    </form>
  {% endif %}

  <!-- edit title -->
  <form action="{{ topics.url }}" method="post">
    <input name="_method" type="hidden" value="put">

    <div class="panel panel-default no-select" style="border-color: #000">
      <!--
          PANEL BODY
          -->
      <div class="panel-body">

        <div class="form-group">
          <label for="title-input">
            Title:
          </label>
          <input id="title-input" type="text" name="title"
                 class="form-control"
                 value="{{ topic.title }}">
        </div>

      </div> <!-- /.panel-body -->
      <!--
          PANEL FOOTER
          -->
      <div class="panel-footer" style="border-color: #000">
        <div class="text-right">
          <a href="{{ topic.url }}" class="btn btn-default">Back</a>
          <input id="topic-submit" type="submit" value="Update Topic"
                 class="btn btn-primary">
        </div>
      </div> <!-- /.panel-footer -->
    </div> <!-- /.panel -->
  </form>

  <!-- ====================================================== -->
  <!-- Edit tags -->
  <!-- ====================================================== -->

  {% if ctx.can(ctx.currUser, 'UPDATE_TOPIC_TAGS', topic) %}
    <form action="{{ topic.url }}/tags" method="post">
      <input name="_method" value="put" type="hidden">
      <div class="panel panel-default no-select" style="border-color: #000">
        <!-- PANEL HEADING -->
        <div class="panel-heading">
          <h4>Manage Tags</h4>
        </div><!--/panel-heading-->

        <!-- PANEL BODY -->
        <div class="panel-body">
          {{ macros.renderTagInputs(tagGroups, selectedTagIds) }}
        </div><!--/panel-body-->

        <!-- PANEL FOOTER -->
        <div class="panel-footer" style="border-color: #000">
          <div class="text-right">
            <a href="{{ topic.url }}" class="btn btn-default">Back</a>
            <input id="topic-submit" type="submit" value="Save Tags"
                   class="btn btn-primary">
          </div>
        </div> <!-- /.panel-footer -->
      </div><!--/panel-->
    </form>
  {% endif %}

  <!-- ====================================================== -->
  <!-- Manage Co-GMs -->
  <!-- ====================================================== -->

  {% if ctx.can(ctx.currUser, 'UPDATE_TOPIC_CO_GMS', topic) %}

    <a name="co-gms"></a>
    <div class="panel panel-default no-select" style="border-color: #000">

      <!-- PANEL HEADER -->
      <div class="panel-heading">
        <h4>Manage Co-GMs</h4>
      </div>

      <!-- PANEL BODY -->
      <div class="panel-body">

        <p><strong>What are co-GMs?</strong></p>
        <ul>
          <li>You can elect co-GMs to help run the roleplay. Co-GMs will have an orange "Co-GM" banner on their posts so that other players know that they carry authority.</li>
          <li>Eventually GMs/co-GMs will have more power in a roleplay, but for now it's just an indication of authority.</li>
          <li>Players are required to obey GMs and co-GMs if they wish to participate in a roleplay.</li>
          <li>You can promote/demote co-GMs at any time.</li>
        </ul>

        <p><strong>Co-GM topic permissions:</strong></p>
        <ul>
          <li><span style="color:#2ecc71;">CAN</span> update topic join-status</li>
          <li><span style="color:#2ecc71;">CAN</span> update topic tags</li>
          <li><span style="color:#2ecc71;">CAN</span> update topic title</li>
          <li><span style="color:#e74c3c;">CANNOT</span> update topic co-GMs</li>
        </ul>

        <p>
          <strong>Current GM:</strong>
          <div>
            <a href="{{ topic.user.url }}">{{ topic.user.uname }}</a>
            {% if ctx.currUser.id === topic.user.id %}
              (You)
            {% endif %}
          </div>
        </p>

        <p><strong>Current Co-GMs:</strong>
          ({{ topic.co_gm_ids.length }}/{{ ctx.config.MAX_CO_GM_COUNT }})</p>
        {% if !topic.co_gm_unames %}
          <p class="text-muted">None</p>
        {% endif %}
        {% if topic.co_gm_unames %}
          <ul class="list-inline">
            {% for uname in topic.co_gm_unames %}
              <li>
                <a href="/users/{{ uname|slugifyUname }}">{{ uname }}</a>
                <form action="{{ topic.url }}/co-gms/{{ uname|slugifyUname }}"
                      method="post" style="display: inline-block;">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Remove" class="btn btn-xs btn-danger">
                </form>
              </li>
              {% if !loop.last %}&mdash;{% endif %}
            {% endfor %}
          </ul>
        {% endif %}

  <form action="{{ topic.url }}/co-gms" method="post">
        <div class="form-group">
          <label for="title-input" style="display: block;">
            New Co-GM:
          </label>
          <input class="co-gm-input" type="text" name="uname"
                 class="form-control"
                 >
        </div>

      </div> <!-- /.panel-body -->
      <!--
          PANEL FOOTER
          -->
      <div class="panel-footer" style="border-color: #000">
        <div class="text-right">
          <a href="{{ topic.url }}" class="btn btn-default">Back</a>
          <input id="topic-submit" type="submit" value="Add Co-GM"
                 class="btn btn-primary">
        </div>
      </div> <!-- /.panel-footer -->
    </div> <!-- /.panel -->
  </form>
  {% endif %}

{% endblock %}

{% block scripts %}

  <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();
  </script>

  {% if ctx.can(ctx.currUser, 'UPDATE_TOPIC_CO_GMS', topic) %}
    <script type="text/javascript" src="/vendor/typeahead/typeahead.bundle.js"></script>
    <script type="text/javascript">
      var unames = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 5,
        prefetch: {
          cacheKey: 'unames',
          url: '/unames.json',
          filter: function(unames) {
            return unames.map(function(uname) { return { value: uname }});
          }
        }
      });

      unames.initialize();

      $('.co-gm-input').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      }, {
        name: 'Usernames',
        displayKey: 'value',
        source: unames.ttAdapter()
      });
    </script>
  {% endif %}
{% endblock %}
