{% extends 'layouts/master.html' %}
{% import 'macros/macros.html' as macros %}
{% import './macros/ads.html' as ads %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
    <li><a href="{{ topic.url }}">{{ topic.title }}</a></li>
    <li class="active">Edit Topic</li>
  </ol>

  {{ ads.topResponsive() }}

  <div class="page-header" style="border-color: #000">
    <h3>Edit {{ topic.title }}</h3>
  </div>

  <!-- ====================================================== -->
  <!-- Manage join status -->
  <!-- ====================================================== -->

  {% if ctx.can(ctx.currUser, 'UPDATE_TOPIC_JOIN_STATUS', topic) %}
    <form action="{{ topics.url }}" method="post">
      <input name="_method" type="hidden" value="put">

      <div class="panel panel-default no-select" style="border-color: #000">
        <!-- PANEL HEADING -->
        <div class="panel-heading">
          <h4>Join Status</h4>
        </div><!--/panel-heading-->

        <!-- PANEL BODY -->
        <div class="panel-body">

          <!-- <p class="text-muted"></p> -->

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <div class="btn-group btn-group-justified" data-toggle="buttons">
              <label class="btn btn-default {% if topic.join_status == 'jump-in' %}active{% endif%} join-status join-status-jump-in">
                <input type="radio" name="join-status" id="option1" autocomplete="off" value="jump-in" {% if topic.join_status == 'jump-in' %}checked{% endif%}>
                Jump-in
              </label>
              <label class="btn btn-default {% if topic.join_status == 'apply' %}active{% endif%} join-status join-status-apply">
                <input type="radio" name="join-status" id="option2" autocomplete="off" value="apply" {% if topic.join_status == 'apply' %}checked{% endif%}>
                Apply
              </label>
              <label class="btn btn-default {% if topic.join_status == 'full' %}active{% endif%} join-status join-status-full">
                <input type="radio" name="join-status" id="option3" autocomplete="off" value="full" {% if topic.join_status == 'full' %}checked{% endif%}> Full
              </label>
            </div>
          </div> <!--/form-group-->
            </div><!--/col-->
          </div><!--/row-->

          <ul>
            {% for status in ['jump-in', 'apply', 'full'] %}
              <li class="text-muted">
                <span class="join-status join-status-{{ status }}">
                  {{ status|capitalize }}
                </span>
                &mdash;
                {{ status|expandJoinStatus }}
              </li>
            {% endfor %}
          </ul>

        </div> <!-- /.panel-body -->
        <!-- PANEL FOOTER -->
        <div class="panel-footer" style="border-color: #000">
          <div class="text-right">
            <a href="{{ topic.url }}" class="btn btn-default">Back</a>
            <input id="topic-submit" type="submit" value="Save" class="btn btn-primary">
          </div>
        </div> <!-- /.panel-footer -->
      </div> <!-- /.panel -->
    </form>
  {% endif %}

  <!-- edit title -->
  <form action="{{ topics.url }}" method="post">
    <input name="_method" type="hidden" value="put">

    <div class="panel panel-default no-select" style="border-color: #000">
      <!--
          PANEL BODY
          -->
      <div class="panel-body">

        <div class="form-group">
          <label for="title-input">
            Title:
          </label>
          <input id="title-input" type="text" name="title"
                 class="form-control"
                 value="{{ topic.title }}">
        </div>

      </div> <!-- /.panel-body -->
      <!--
          PANEL FOOTER
          -->
      <div class="panel-footer" style="border-color: #000">
        <div class="text-right">
          <a href="{{ topic.url }}" class="btn btn-default">Back</a>
          <input id="topic-submit" type="submit" value="Update Topic"
                 class="btn btn-primary">
        </div>
      </div> <!-- /.panel-footer -->
    </div> <!-- /.panel -->
  </form>

  <!-- ====================================================== -->
  <!-- Edit tags -->
  <!-- ====================================================== -->

  {% if ctx.can(ctx.currUser, 'UPDATE_TOPIC_TAGS', topic) %}
    <form action="{{ topic.url }}/tags" method="post">
      <input name="_method" value="put" type="hidden">
      <div class="panel panel-default no-select" style="border-color: #000">
        <!-- PANEL HEADING -->
        <div class="panel-heading">
          <h4>Manage Tags</h4>
        </div><!--/panel-heading-->

        <!-- PANEL BODY -->
        <div class="panel-body">
          {{ macros.renderTagInputs(tagGroups, selectedTagIds) }}
        </div><!--/panel-body-->

        <!-- PANEL FOOTER -->
        <div class="panel-footer" style="border-color: #000">
          <div class="text-right">
            <a href="{{ topic.url }}" class="btn btn-default">Back</a>
            <input id="topic-submit" type="submit" value="Save Tags"
                   class="btn btn-primary">
          </div>
        </div> <!-- /.panel-footer -->
      </div><!--/panel-->
    </form>
  {% endif %}

  <!-- ====================================================== -->
  <!-- Manage Co-GMs -->
  <!-- ====================================================== -->

  {% if ctx.can(ctx.currUser, 'UPDATE_TOPIC_CO_GMS', topic) %}

    <a name="co-gms"></a>
    <div class="panel panel-default no-select" style="border-color: #000">

      <!-- PANEL HEADER -->
      <div class="panel-heading">
        <h4>Manage Co-GMs</h4>
      </div>

      <!-- PANEL BODY -->
      <div class="panel-body">

        <p><strong>What are co-GMs?</strong></p>
        <ul>
          <li>You can elect co-GMs to help run the roleplay. Co-GMs will have an orange "Co-GM" banner on their posts so that other players know that they carry authority.</li>
          <li>Eventually GMs/co-GMs will have more power in a roleplay, but for now it's just an indication of authority.</li>
          <li>Players are required to obey GMs and co-GMs if they wish to participate in a roleplay.</li>
          <li>You can promote/demote co-GMs at any time.</li>
        </ul>

        <p><strong>Co-GM topic permissions:</strong></p>
        <ul>
          <li><span style="color:#2ecc71;">CAN</span> update topic join-status</li>
          <li><span style="color:#2ecc71;">CAN</span> update topic tags</li>
          <li><span style="color:#2ecc71;">CAN</span> update topic title</li>
          <li><span style="color:#2ecc71;">CAN</span> update topic ban list</li>
          <li><span style="color:#e74c3c;">CANNOT</span> update topic co-GMs</li>
        </ul>

        <p>
          <strong>Current GM:</strong>
          <div>
            <a href="{{ topic.user.url }}">{{ topic.user.uname }}</a>
            {% if ctx.currUser.id == topic.user.id %}
              (You)
            {% endif %}
          </div>
        </p>

        <p><strong>Current Co-GMs:</strong>
          ({{ topic.co_gm_ids.length }}/{{ ctx.config.MAX_CO_GM_COUNT }})</p>
        {% if not topic.co_gm_unames %}
          <p class="text-muted">None</p>
        {% endif %}
        {% if topic.co_gm_unames %}
          <ul class="list-inline">
            {% for uname in topic.co_gm_unames %}
              <li>
                <a href="/users/{{ uname|slugifyUname }}">{{ uname }}</a>
                <form action="{{ topic.url }}/co-gms/{{ uname|slugifyUname }}"
                      method="post" style="display: inline-block;">
                  <input type="hidden" name="_method" value="delete">
                  <input type="submit" value="Remove" class="btn btn-xs btn-danger">
                </form>
              </li>
              {% if not loop.last %}&mdash;{% endif %}
            {% endfor %}
          </ul>
        {% endif %}

  <form action="{{ topic.url }}/co-gms" method="post">
        <div class="form-group">
          <label for="title-input" style="display: block;">
            New Co-GM:
          </label>
          <input class="co-gm-input" type="text" name="uname"
                 class="form-control"
                 >
        </div>

      </div> <!-- /.panel-body -->
      <!--
          PANEL FOOTER
          -->
      <div class="panel-footer" style="border-color: #000">
        <div class="text-right">
          <a href="{{ topic.url }}" class="btn btn-default">Back</a>
          <input id="topic-submit" type="submit" value="Add Co-GM"
                 class="btn btn-primary">
        </div>
      </div> <!-- /.panel-footer -->
    </div> <!-- /.panel -->
  </form>
  {% endif %}

  <!-- ====================================================== -->
  <!-- Topic Bans -->
  <!-- ====================================================== -->

  {% if topic.is_roleplay and can(ctx.currUser, 'UPDATE_TOPIC', topic) %}
    <a name="topic-bans"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Roleplay Bans</h4>
        <hr>
        <p>
          GMs and Co-GMs get the final say on decisions made in the roleplay.
        </p>
        <p>
          It's healthy to allow other players to disagree with you in
          the OOC tab. But if you ask them to stop and they refuse to stop,
          you can block them from further participation in the thread.
          Please use this sparingly.
        </p>
      </div>
      <div class="panel-body">
        <p>
          <b>Banned Users:</b>
          ({{ topicBans.length }}/10)
        </p>
      {% if topicBans.length == 0 %}
        <p class="text-muted">None</p>
      {% else %}
        <ul>
          {% for ban in topicBans %}
            <li>
              <a href="{{ ban.banned.url }}">
                {{ ban.banned.uname }}
              </a>
              <span class="text-muted">
                Banned
                {{ macros.timeago(ban.created_at) }}
                by
                <a href="{{ ban.banned_by.url }}">
                  {{ ban.banned_by.uname }}
                </a>
              </span>
              <form method="POST" action="{{ ban.url }}" style="display: inline-block">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-danger btn-xs">
                  X
                </button>
              </form>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <hr>

      <form action="{{ topic.url }}/bans" method="POST">
        <div class="form-group">
          <label for="topic-ban-input" style="display: block;">
            Ban User from Roleplay:
          </label>
          <input type="text" name="uname" class="form-control topic-ban-input">
        </div>

      </div> <!-- /.panel-body -->

      <div class="panel-footer text-right" style="border-color: black">
        <a href="{{ topic.url }}" class="btn btn-default">Back</a>
        <button type="submit" class="btn btn-primary">Add Ban</button>
      </div>
      </form>

      </div>
    </div>
  {% endif %}

  <!-- ====================================================== -->
  <!-- Ranked Arena Outcome -->
  <!-- ====================================================== -->

  {% if topic.forum.is_arena_rp %}
  <a name="arena-outcome"></a>
  <div class="panel panel-default no-select" style="border-color: #000">
    <!-- PANEL HEADER -->
    <div class="panel-heading">
      <h4>Ranked Arena Outcomes</h4>
    </div>


    <!-- PANEL BODY -->
    {% if not topic.is_ranked %}
      <div class="panel-body">
        Only ranked fights can have outcomes. This fight is unranked.

        <form method="POST" action="{{ topic.url }}/promote-to-ranked">
          <button type="submit" class="btn btn-warning">
            <span class="glyphicon glyphicon-fire"></span>
            Promote to Ranked
          </button>
        </form>

      </div>
    {% else %}
      <div class="panel-body">
        Outcomes:
        {% if arenaOutcomes.length == 0 %}
          Not outcomes, yet
        {% else %}
          <ul>
            {% for outcome in arenaOutcomes %}
              <li>
                <a href="{{ outcome.user.url }}">{{ outcome.user.uname }}</a>
                {{ outcome.outcome|outcomeToElement|safe }}

                <form method="POST" action="{{ topic.url }}/arena-outcomes"
                      style="display: inline-block;"
                >
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="hidden" name="outcome_id" value="{{ outcome.id }}">
                  <button type="submit" class="btn btn-danger btn-xs">
                    Delete
                  </button>
                </form>

              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <hr>

        <form method="POST" action="/topics/{{ topic.id }}/arena-outcomes">

        Username:
        <input type="text" name="uname"
               class="form-control outcome-uname-input"
               required
        >

        Outcome:
        <select name="outcome" required>
          <option value="">-- Pick One --</option>
          <option value="WIN">Win</option>
          <option value="LOSS">Loss</option>
          <option value="DRAW">Draw</option>
        </select>
    </div>

    <!-- PANEL FOOTER -->
    <div class="panel-footer" style="border-color: #000">
      <div class="text-right">
        <input id="topic-submit" type="submit" value="Add Outcome"
               class="btn btn-primary"
        >
      </div>
    </div> <!-- /.panel-footer -->

    </form>
    {% endif %} {# /if topic.is_ranked #}
  </div><!-- /.panel -->
  {% endif %} {# endif topic.forum.is_arena_rp #}

{% endblock %}

{% block scripts %}

  <script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();
  </script>

  {# typeahead #}
  <script type="text/javascript" src="/vendor/typeahead/typeahead.bundle.js"></script>
  <script>
      window.unames = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        limit: 5,
        prefetch: {
          cacheKey: 'unames',
          url: '/unames.json',
          filter: function(unames) {
            return unames.map(function(uname) { return { value: uname }});
          }
        }
      });

      window.unames.initialize()
  </script>

  <script>
      $('.topic-ban-input').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      }, {
        name: 'Usernames',
        displayKey: 'value',
        source: window.unames.ttAdapter()
      });
  </script>

  {% if can(ctx.currUser, 'UPDATE_TOPIC_CO_GMS', topic) or can(ctx.currUser, 'UPDATE_TOPIC_ARENA_OUTCOMES', topic) %}
    <script type="text/javascript">
      $('.co-gm-input').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      }, {
        name: 'Usernames',
        displayKey: 'value',
        source: window.unames.ttAdapter()
      });

      $('.outcome-uname-input').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      }, {
        name: 'Usernames',
        displayKey: 'value',
        source: window.unames.ttAdapter()
      });
    </script>
  {% endif %}
{% endblock %}
