{% extends 'layouts/master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{{ user.url }}">{{ user.uname }}</a></li>
  </ol>

  <div class="page-header" style="border-color: #000">
    <h3>Edit {{ user.uname }}</h3>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <!-- Change role form -->
      {% if ctx.can(ctx.currUser, 'UPDATE_USER_ROLE', user) %}
        <form action="{{ user.url }}/role" method="post" class="form-horizontal">
          <input type="hidden" name="_method" value="put">
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">Edit Role</div>
            <!-- PANEL BODY -->
            <div class="panel-body">
              <div class="form-group">
                <label for="role-input" class="col-sm-3 control-label">Role:</label>
                <div class="col-sm-9">
                  <select id="role-input" name="role" class="form-control"
                          autocomplete="off">
                    <option value="admin"
                            {% if user.role === 'admin' %}selected{% endif %}
                            >
                      Admin
                    </option>
                    <option value="smod"
                            {% if user.role === 'smod' %}selected{% endif %}
                            >
                      Super Mod
                    </option>
                    <option value="mod"
                            {% if user.role === 'mod' %}selected{% endif %}
                            >
                      Mod
                    </option>
                    <option value="member"
                            {% if user.role === 'member' %}selected{% endif %}
                            >
                      Member
                    </option>
                    <option value="banned"
                            {% if user.role === 'banned' %}selected{% endif %}
                            >
                      Banned
                    </option>
                  </select>
                </div>
              </div>
            </div> <!-- /.panel-body -->
            <!-- PANEL FOOTER -->
            <div class="panel-footer" style="border-color: #000">
              <div class="text-right">
                <input id="role-submit" type="submit" value="Submit"
                       class="btn btn-primary">
              </div>
            </div> <!-- /.panel-footer -->
          </div> <!-- /.panel -->
        </form>
      {% endif %}

      <!-- Change email form -->

      <form action="{{ user.url }}" method="post" class="form-horizontal">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Edit Email</div>
          <!-- PANEL BODY -->
          <div class="panel-body">

            <div class="form-group">
              <label for="email-input" class="col-sm-3 control-label">Email:</label>
              <div class="col-sm-9">
                <input id="email-input" name="email" type="text"
                       class="form-control" value="{{ user.email }}">
              </div>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="email-submit" type="submit" value="Save Email"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

      <!-- Delete legacy signature -->

      {% if user.legacy_sig %}
        <form action="{{ user.url }}/legacy-sig" method="post" class="form-horizontal">
          <input type="hidden" name="_method" value="delete">
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">Delete Legacy Signature</div>
            <div class="panel-body">
              <p>You have a legacy signature ported from the previous database. Delete it if you want it to stop displaying.</p>
            </div> <!-- /.panel-body -->
            <!-- PANEL FOOTER -->
            <div class="panel-footer" style="border-color: #000">
              <div class="text-right">
                <input type="submit" value="Delete Legacy Signature"
                       class="btn btn-primary">
              </div>
            </div> <!-- /.panel-footer -->
          </div> <!-- /.panel -->
        </form>
      {% endif %}

      <!-- Ghost mode checkbox -->

      <form action="{{ user.url }}" method="post" class="form-horizontal">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Ghost Mode</div>
          <!-- PANEL BODY -->
          <div class="panel-body">
            <p>When you're in ghost-mode, you will not appear in the list of online users. Also, the site will indicate that you're Invisible instead of announcing you as Online or Offline.</p>
            <p>Recommendation: Keep it off unless you feel it's necessary. It makes things feel more alive.</p>
            <input name="is-ghost" type="hidden" value="false">
            <div class="checkbox">
              <label>
                <input id="is-ghost-input"
                       name="is-ghost"
                       type="checkbox"
                       {% if user.is_ghost %}
                         checked
                       {% endif %}
                       >
                Enable Ghost Mode
              </label>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input type="submit" value="Save" class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

      <!-- Hide sigs checkbox -->

      <form action="{{ user.url }}" method="post" class="form-horizontal">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Hide Signatures</div>
          <!-- PANEL BODY -->
          <div class="panel-body">

            <p>Check this box if you don't want to see signatures beneath posts. Mobile users should check this to save bandwidth.</p>

            <input name="hide-sigs" type="hidden" value="false">
            <div class="checkbox">
              <label>
                <input id="hide-sigs-input"
                       name="hide-sigs"
                       type="checkbox"
                       {% if user.hide_sigs %}
                         checked
                       {% endif %}
                       >
                Hide Signatures?
              </label>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="email-submit" type="submit" value="Save"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

      <!-- Edit sig -->

      <form action="{{ user.url }}" method="post">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Edit Signature</div>
          <!-- PANEL BODY -->
          <div class="panel-body">

            <p>Your signature appears below every post you make.</p>
            <ul>
              <li>Please keep it small and simple. Remember that everyone who views your post will have to download any massive images you chose to put in your sig. Even people on smartphones that do not have unlimited internet plans.</li>
              <li>If your sig is larger than 300px, you'll trigger scrollbars to appear. Only the first 300px will be visible.</li>
              <li>Use common sense. Signatures with images that are too big will be manually removed by moderators and may get you banned from the signature system.</li>
            </ul>

            <div class="form-group">
              <label for="sig-input" class="control-label">Signature:</label>
              <textarea id="sig-input" name="sig" rows=5
                     class="form-control">{{ user.sig }}</textarea>
              <div class="help-block">If you currently have a signature ported over from the old database, it will be replaced by anything you save here.</div>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="email-submit" type="submit" value="Save Signature"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

      <!-- Set avatar URL -->

      <form action="{{ user.url }}" method="post" class="form-horizontal">
        <input type="hidden" name="_method" value="put">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <div class="panel-heading">Edit Avatar</div>
          <!-- PANEL BODY -->
          <div class="panel-body">

            <p>Your avatar is the image that appears below your username to the left of every post you make.</p>

            <ul>
              <li>Until I get an image-upload system working, I'm letting you input a URL to any image.</li>
              <li>Do not link to images hosted on random websites. Instead, re-upload the image to <a href="http://imgur.com/">imgur.com</a>. Copy and paste the "Original GIF link" from imgur into the box below. It should end in ".gif", ".jpg", or ".png".</li>
              <li>Please, please, please ensure the image you link to is 150px by 150px. You can resize the image after you upload it to <a href="http://imgur.com/">imgur.com</a>. I'm going to personally trust you to follow this rule.</li>
            </ul>

            <div class="form-group">
              <label for="avatar-url-input" class="col-sm-3 control-label">Avatar URL:</label>
              <div class="col-sm-9">
                <input id="avatar-url-input" name="avatar-url" type="text"
                       class="form-control" value="{{ user.avatar_url }}">
                <div class="help-block"></div>
              </div>
            </div>
          </div> <!-- /.panel-body -->
          <!-- PANEL FOOTER -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="avatar-url-submit" type="submit" value="Save Avatar"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>

    </div> <!-- /col -->
  </div> <!-- /.row -->

{% endblock %}

{% block scripts %}
<script>
  $('#uname-input').focus();
</script>

  <script>
    $(function() {
      $('#sig-input').bbcode({
        height: 200
      });
    });
  </script>
{% endblock %}
