{% extends 'layouts/master.html' %}
{% import './macros/macros.html' as macros %}

{% block embed %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/faq">FAQ</a>
    </li>
  </ol>

  <div class="page-header">
    <h1>
      Frequently Asked Questions
      {% if post and (ctx.currUser.role | isIn(['mod', 'smod', 'admin'])) %}
        <a href="/posts/{{ config.FAQ_POST_ID }}" class="btn btn-default">
          Edit
        </a>
      {% endif %}
    </h1>
    {% if post.updated_at %}
      <p class="text-muted">
        Last updated
        {{ macros.timeago(post.updated_at) }}
      </p>
    {% endif %}
  </div>

  {% if not post %}
    The FAQ system is currently offline.
  {% endif %}

  {% if post %}
    {{ post.html | safe }}
  {% endif %}
{% endblock %}
