{% extends 'layouts/master.html' %}

{% block embed %}
  <div class="row">
    <div class="col-sm-12">
      {% for category in categories %}
        <div class="list-group">
          <div class="list-group-item"
               style="background-color: #1d1d1d; border: 1px solid #111;">
            <div class="row">
              <div class="col-xs-7">
                <h4>{{ category.title }}</h4>
              </div>
              <div class="col-xs-1">Topics</div>
              <div class="col-xs-1">Posts</div>
              <div class="col-xs-3">Latest Post</div>
            </div> <!-- /.row -->
          </div> <!-- /.list-group-item -->
          {% for forum in category.forums %}
            <div class="list-group-item" href="/"
                 style="background-color: #3d3a3a; border: 1px solid #111;
                        color: #fff;">
              <div class="row">
                <div class="col-xs-7">
                  <h5 class="list-group-item-heading">
                    <a href="{{ forum.url }}">{{ forum.title }}</a>
                  </h5>
                  {% if forum.description %}
                    <p>{{ forum.description }}</p>
                  {% endif %}
                </div> <!-- /.col-xs-7 -->
                <div class="col-xs-1">{{ forum.topics_count }}</div>
                <div class="col-xs-1">{{ forum.posts_count }}</div>
                <div class="col-xs-3">
                  {% if forum.latest_post %}
                    <div>
                      <a href="{{ forum.latest_post.url }}">
                        {{ forum.latest_topic.title|truncate(40) }}
                      </a>
                    </div>
                    <div>
                      by
                      <a href="{{ forum.latest_user.url }}" style="color: #fff;">
                        {{- forum.latest_user.uname -}}
                      </a>
                    </div>
                    <abbr class="timeago"
                          title="{{ forum.latest_post.created_at.toISOString() }}">
                      {{ forum.latest_post.formattedCreatedAt }}
                    </abbr>
                  {% else %}
                    --
                  {% endif %}
                </div>
              </div> <!-- /.row -->
              <!-- Subforums -->
              {% for subforum in forum.forums %}
                <div class="row">
                  <div class="col-xs-7">
                    <img src="/img/subforum-icon.gif">
                    <a href="{{ subforum.url }}">{{ subforum.title }}</a>
                  </div>
                  <div class="col-xs-1">{{ subforum.topics_count }}</div>
                  <div class="col-xs-1">{{ subforum.posts_count }}</div>
                  <div class="col-xs-3">
                    {% if subforum.latest_post %}
                      <a href="{{ subforum.latest_post.url }}">Latest Post</a>
                      <br>by
                      <a href="{{ subforum.latest_user.url }}">{{ subforum.latest_user.uname }}</a>
                      <br>
                      <abbr class="timeago"
                            title="{{ subforum.latest_post.created_at.toISOString() }}">
                        {{ subforum.latest_post.formattedCreatedAt }}
                      </abbr>
                    {% else %}
                      --
                    {% endif %}
                  </div>
                </div> <!-- /.row -->
              {% endfor %}
            </div> <!-- /.list-group-item -->
        {% endfor %} <!-- endfor forums -->
        </div> <!-- /.list-group -->
      {% endfor %} <!-- endfor categories -->
    </div> <!-- /.col-sm-12 -->
  </div> <!-- /.row -->
{% endblock %}
