{% extends 'layouts/master.html' %}
{% import './macros/macros.html' as macros %}
{% import './macros/ads.html' as ads %}

{% block embed %}

  {{ ads.topResponsive() }}

  <div class="row">
    <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">

            {% for category in categories %}
              {% if ctx.can(ctx.currUser, 'READ_CATEGORY', category) %}
                <div class="list-group category-group">
                  <div class="list-group-item category-group-heading">
                    <div class="row">
                      <div class="col-sm-12">
                        <button type="button"
                                class="btn btn-default btn-xs pull-right category-toggle"
                                title="Hide/Show Category"
                                {% if ctx.cookies.get('collapse' + category.id) %}
                                  data-is-collapsed="true"
                                {% endif %}
                                data-category-id="{{ category.id }}">
                          {% if ctx.cookies.get('collapse' + category.id) %}
                            <span class="glyphicon glyphicon-plus"></span>
                          {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                          {% endif %}
                        </button>
                        <h4 class="category-title">
                          {{ category.title }}
                        </h4>
                      </div>
                    </div> <!-- /.row -->
                  </div> <!-- /.list-group-item -->
                  {% for forum in category.forums %}
                    <div class="list-group-item forum-item"
                         data-category-id="{{ category.id }}"
                         {% if ctx.cookies.get('collapse' + category.id) %}
                           style="display: none;"
                         {% endif %}
                         >
                         <!-- style="background-color: #3d3a3a; border: 1px solid #111; -->
                         <!--        color: #fff;" -->
                      <div class="row">
                        <div class="col-sm-7">
                          <h5 class="list-group-item-heading forum-item-title">
                            <a href="{{ forum.url }}">{{ forum.title }}</a>
                            {% if forum.viewerCount > 0 %}
                              <span style="font-weight: 400; font-size: 75%;">({{ forum.viewerCount }} Viewing)</span>
                            {% endif %}
                          </h5>

                          <small class="text-muted">
                          {{ forum.topics_count|commafy }} Topics,
                          {{ forum.posts_count|commafy }} Posts
                          </small>

                          {% if forum.description %}
                            <p class="forum-item-description hidden-xs">{{ forum.description }}</p>
                          {% endif %}
                        </div> <!-- /.col-xs-7 -->
                        <div class="col-sm-5">
                          {% if forum.latest_post %}
                            <div class="latest-post">
                              Latest:
                              <a href="{{ forum.latest_post.url }}" class="latest-title">
                                {{ forum.latest_topic.title }}
                              </a>
                              <div class="by-line">
                                by
                                <a href="{{ forum.latest_user.url }}" style="color: #fff;">
                                  {{- forum.latest_user.uname -}}
                                </a>,
                                <abbr class="timeago" style="display: inline-block;"
                                      title="{{ forum.latest_post.created_at.toISOString() }}">
                                  {{ forum.latest_post.created_at|formatDate }}
                                </abbr>
                              </div>
                            </div>
                          {% else %}
                            --
                          {% endif %}
                        </div>
                      </div> <!-- /.row -->
                      <!-- Subforums -->
                      {% if forum.forums %}
                      <div class="" style="margin-top: 5px; margin-bottom: 5px; background-color: ##222020;">
                      <!-- <div class="well well-sm" style="margin-top: 5px; margin-bottom: 5px; background-color: #635D5E;"> -->

                      {% for subforum in forum.forums %}
                        <div class="row" style="padding-top: 0px;">
                          <div class="col-sm-7">
                            <h5 class="list-group-item-heading subforum-item-title">
                              <img src="/img/subforum-icon.gif"
                                   alt="Subforum Icon"
                                   title="Subforum Icon">
                              <a href="{{ subforum.url }}">{{ subforum.title }}</a>
                              {% if subforum.viewerCount > 0 %}
                                <span style="font-weight: 400; font-size: 80%;">
                                ({{ subforum.viewerCount }} Viewing)
                                </span>
                              {% endif %}
                            </h5>
                            <small class="text-muted">
                              {{ subforum.topics_count|commafy }} Topics,
                              {{ subforum.posts_count|commafy }} Posts
                            </small>
                          </div>

                          <div class="col-sm-5">
                            {% if subforum.latest_post %}
                              <div class="latest-post">
                                Latest:
                                <a href="{{ subforum.latest_post.url }}" class="latest-title">{{ subforum.latest_topic.title }}</a>
                                <div class="by-line">
                                  by
                                  <a href="{{ subforum.latest_user.url }}" style="color: #fff;">
                                    {{- subforum.latest_user.uname -}}
                                  </a>,
                                  <abbr class="timeago" style="display: inline-block;"
                                        title="{{ subforum.latest_post.created_at.toISOString() }}">
                                    {{ subforum.latest_post.created_at|formatDate }}
                                  </abbr>
                                </div><!--/by-line-->
                              </div>
                            {% else %}
                              --
                            {% endif %}
                          </div>
                        </div> <!-- /.row -->
                      {% endfor %}
                      </div><!--/well-->
                      {% endif %}
                    </div> <!-- /.list-group-item -->
                {% endfor %} <!-- endfor forums -->
                </div> <!-- /.list-group -->
              {% endif %} <!-- if can READ_CATEGORY -->
            {% endfor %} <!-- endfor categories -->
          </div> <!-- /.col-sm-12 -->
        </div> <!-- /.row -->

    </div><!--/col (forums) -->
    <div class="col-sm-3">
      {{ macros.renderSidebar(latestChecks, latestRoleplays) }}
    </div><!--/col (sidebar)-->
  </div><!--/row-->

  <!-- Stats box -->
  <div class="panel panel-default stats-panel" style="border: 1px solid #111">
    <div class="panel-body">
      <div class="row" style="border-bottom: 1px solid #111; padding-bottom: 10px">
        <div class="col-xs-12">
          <button type="button" id="whos-online-toggle"
                  class="btn btn-default btn-xs pull-right">
            View All
          </button>
          <h4>{{ stats.onlineUsers.length }} Members Online (within 15 min)</h4>
          <div id="whos-online-list" style="display: none;">
            {% for user in stats.onlineUsers %}
              {% if ctx.can(ctx.currUser, 'READ_USER_ONLINE_STATUS', user) %}
                {% if user.is_ghost %}
                  <a href="{{ user.url }}" style="color: #000">{{ user.uname }}</a>
                {% else %}
                  <a href="{{ user.url }}" style="color: #999">{{ user.uname }}</a>
                {% endif %}
                {% if !loop.last %}
                  ,
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div> <!--/.row-->
      <div class="row stats-panel-aggregates">
        <div class="col-sm-2">
          <h4>Users</h4>
          <div class="text-muted"><b>{{ stats.usersCount|commafy }}</b> total</div>
        </div>
        <div class="col-sm-2">
          <h4>Topics</h4>
          <div class="text-muted"><b>{{ stats.topicsCount|commafy }}</b> total</div>
        </div>
        <div class="col-sm-2">
          <h4>Posts</h4>
          <div class="text-muted"><b>{{ stats.postsCount|commafy }}</b> total</div>
        </div>
        <div class="col-sm-6">
          <h4>Newest User</h4>
          <div>
            {% if stats.latestUser %}
            <a href="{{ stats.latestUser.url }}">{{ stats.latestUser.uname }}</a>
            <abbr class="timeago" title="{{ stats.latestUser.created_at.toISOString() }}">
              {{ stats.latestUser.formattedCreatedAt }}
            </abbr>
            {% else %}
              --
            {% endif %}
          </div>
        </div>
      </div><!--/.row-->
    </div> <!--/.panel-body-->
  </div> <!--/.panel-->
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // Activate tag tooltips
    $('[data-toggle="tooltip"]').tooltip()
  </script>

  <script type="text/javascript">
    $('#whos-online-toggle').on('click', function() {
      $('#whos-online-list').toggle();
    });
  </script>

  <script type="text/javascript">
    $('.category-toggle').on('click', function() {
      var $this = $(this);
      // catId :: String
      var catId = $this.attr('data-category-id');
      var isCollapsed = !!$this.attr('data-is-collapsed');

      var cookieString;
      if (isCollapsed) {
        // Show forums
        $('.forum-item[data-category-id="'+catId+'"]').show(100);

        // Mark is NOT collased
        $this.removeAttr('data-is-collapsed');
        cookieString = 'collapse' + catId + '=;max-age=1';
        $this.html('<span class="glyphicon glyphicon-minus"></span>');
      } else {
        // Hide forums
        $('.forum-item[data-category-id="'+catId+'"]').hide(100);

        // Mark as collased
        $this.attr('data-is-collapsed', true);

        cookieString = 'collapse' + catId + '=true;max-age=31536e3';
        $this.html('<span class="glyphicon glyphicon-plus"></span>');
      }

      document.cookie = cookieString;
    });
  </script>

  <script type="text/javascript">
    $('.like-status-btn').on('click', function(e) {
      var $this = $(this);
      var statusId = $this.attr('data-status-id');
      var url = '/statuses/' + statusId + '/like';

      $.ajax(url, {
        method: 'POST',
        error: function(xhr) {
          var json;
          try {
            json = JSON.parse(xhr.responseText);
          } catch(ex) {
            alert('Like failed. Refresh the page and try again.');
            throw ex;
          }
          if (json.error === 'TOO_SOON')
            alert('Must wait 30 seconds between status likes.');
        },
        success: function() {
          console.log('Success');

          $this.parent().text('You liked this -');
          var prevCount = parseInt($('.status-' + statusId + ' .status-like-count').text().trim());
          if (prevCount) {
            $('.status-' + statusId + ' .status-like-count').text(prevCount + 1);
          } else {
            $('.status-' + statusId + ' .status-like-count').text(1);
            $('.status-' + statusId + ' .status-like-count-suffix').text('like');
          }

        }
      });
    });
  </script>

{% endblock %}
