{% extends 'layouts/master.html' %}
{% import './macros/macros.html' as macros %}
{% import './macros/ads.html' as ads %}

{% block aboveNavbar %}
  <div class="text-center" style="color: #666;">
    <h1 id="tagline">Play-by-Post Role Playing Forum</h1>
    <ul class="list-inline">
      <li>Est. 2007</li>
      <li>
        <span class="green-glow">{{ stats.onlineUsers.length }}</span> members online
      </li>
    </ul>
  </div>
{% endblock %}


{% block embed %}
  {{ ads.topResponsive() }}

  {% if ftopic %}
    <div class="panel panel-default" style="border: 2px solid #8e44ad">


      <div class="panel-body">
        <h4 style="font-family: Georgia; margin-bottom: 20px;" class="text-muted">Feedback Request
          <small>All responses are kept private and only read by Mahz</small>
        </h4>

      <p class="lead">
      {{ ftopic.html | safe }}
      </p>

      <form method="POST" action="/current-feedback-topic/replies">
        <div class="form-group">
          <input name="text" type="text" class="form-control" placeholder="Type a short response here or just click ignore" maxlength="3000">
        </div>
        <button name="commit" value="ignore" type="submit" class="btn btn-default">Ignore</button>
        <button name="commit" value="send" type="submit" class="btn btn-primary">Send Feedback</button>
      </form>
      </div>
    </div>
  {% endif %}

  {# Important changes #}

  {#
    <div class="alert alert-warning">
      <strong>Major performance issues.</strong>
      <p>
        I am on vacation and cannot address the site's performance issues until I get back.
      </p>
      <p>
        Please copy/save your post on your computer before submitting it to the
        website so that you don't lose your post if the server times out.
      </p>
        <p>
          -- Mahz
        </p>
    </div>
    #}

  {#
  <p class="text-center text-muted">
    [July 18]: Working on an on-site chat system.
    <a href="/chat" class="btn btn-primary btn-xs">
      <span class="glyphicon glyphicon-comment"></span> Help test it
    </a>
  </p>
  #}

  {# The forum loop #}

  <div class="row">
    <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">

            {% for category in categories %}
              {% if can(ctx.currUser, 'READ_CATEGORY', category) %}

                {# Put the "View All Roleplays" button before the RP category #}
                {% if category.id == 2 %}
                  <div class="text-center">
                    <a href="/roleplays" class="btn btn-default">
                      View All Roleplays
                    </a>
                  </div>
                {% endif %}

                <div class="list-group category-group">
                  <div class="list-group-item category-group-heading">
                    <div class="row">
                      <div class="col-sm-12">
                        <button type="button"
                                class="btn btn-default btn-xs pull-right category-toggle"
                                title="Hide/Show Category"
                                {% if ctx.cookies.get('collapse' + category.id) %}
                                  data-is-collapsed="true"
                                {% endif %}
                                data-category-id="{{ category.id }}">
                          {% if ctx.cookies.get('collapse' + category.id) %}
                            <span class="glyphicon glyphicon-plus"></span>
                          {% else %}
                            <span class="glyphicon glyphicon-minus"></span>
                          {% endif %}
                        </button>
                        <h4 class="category-title">
                          {{ category.title }}
                          {#
                          {% if category.id == 7 %}
                            <a href="https://www.roleplayerguild.com/topics/163787" class="btn btn-default btn-xs">
                              What is this?
                            </a>
                          {% endif %}
                          #}
                        </h4>
                        {% if category.description %}
                          <p class="text-muted">
                            {{ category.description }}
                          </p>
                        {% endif %}
                      </div>
                    </div> <!-- /.row -->
                  </div> <!-- /.list-group-item -->
                  {% for forum in category.forums %}
                    <div class="list-group-item forum-item"
                         data-category-id="{{ category.id }}"
                         {% if ctx.cookies.get('collapse' + category.id) %}
                           style="display: none;"
                         {% endif %}
                         >
                         <!-- style="background-color: #3d3a3a; border: 1px solid #111; -->
                         <!--        color: #fff;" -->
                      <div class="row">
                        <div class="col-sm-7">
                          <h5 class="list-group-item-heading forum-item-title">
                            <a href="{{ forum.url }}">{{ forum.title }}</a>
                            {% if forum.viewerCount > 0 %}
                              <span style="font-weight: 400; font-size: 75%;">({{ forum.viewerCount }} Viewing)</span>
                            {% endif %}
                          </h5>

                          <small class="text-muted">
                          {{ forum.topics_count|commafy }} Topics,
                          {{ forum.posts_count|commafy }} Posts
                          </small>

                          {% if forum.description %}
                            <p class="forum-item-description hidden-xs">{{ forum.description }}</p>
                          {% endif %}
                        </div> <!-- /.col-xs-7 -->
                        <div class="col-sm-5">
                          {% if forum.latest_post %}
                            <div class="latest-post">
                              Latest:
                              <a href="{{ forum.latest_post.url }}" class="latest-title">
                                {{ forum.latest_topic.title }}
                              </a>
                              <div class="by-line">
                                by
                                <a href="{{ forum.latest_user.url }}" style="color: #fff;">{{ forum.latest_user.uname }}</a>,
                                {{ macros.timeago(forum.latest_post.created_at) }}
                              </div>
                            </div>
                          {% else %}
                            --
                          {% endif %}
                        </div>
                      </div> <!-- /.row -->
                      <!-- Subforums -->
                      {% if forum.forums %}
                      <div class="" style="margin-top: 5px; margin-bottom: 5px; background-color: ##222020;">
                      <!-- <div class="well well-sm" style="margin-top: 5px; margin-bottom: 5px; background-color: #635D5E;"> -->

                      {% for subforum in forum.forums %}
                        <div class="row" style="padding-top: 0px;">
                          <div class="col-sm-7">
                            <h5 class="list-group-item-heading subforum-item-title">
                              <img src="/img/subforum-icon.gif"
                                   alt="Subforum Icon"
                                   title="Subforum Icon">
                              <a href="{{ subforum.url }}">{{ subforum.title }}</a>
                              {% if subforum.viewerCount > 0 %}
                                <span style="font-weight: 400; font-size: 80%;">
                                ({{ subforum.viewerCount }} Viewing)
                                </span>
                              {% endif %}
                            </h5>
                            <small class="text-muted">
                              {{ subforum.topics_count|commafy }} Topics,
                              {{ subforum.posts_count|commafy }} Posts
                            </small>
                          </div>

                          <div class="col-sm-5">
                            {% if subforum.latest_post %}
                              <div class="latest-post">
                                Latest:
                                <a href="{{ subforum.latest_post.url }}" class="latest-title">{{ subforum.latest_topic.title }}</a>
                                <div class="by-line">
                                  by
                                  <a href="{{ subforum.latest_user.url }}" style="color: #fff;">{{ subforum.latest_user.uname }}</a>,
                                  {{ macros.timeago(subforum.latest_post.created_at) }}
                                </div><!--/by-line-->
                              </div>
                            {% else %}
                              --
                            {% endif %}
                          </div>
                        </div> <!-- /.row -->
                      {% endfor %}
                      </div><!--/well-->
                      {% endif %}
                    </div> <!-- /.list-group-item -->
                {% endfor %} <!-- endfor forums -->
                </div> <!-- /.list-group -->
              {% endif %} <!-- if can READ_CATEGORY -->
            {% endfor %} <!-- endfor categories -->
          </div> <!-- /.col-sm-12 -->
        </div> <!-- /.row -->

    </div><!--/col (forums) -->
    <div class="col-sm-3">
      {{ macros.renderSidebar(ctx, latestChecks, latestRoleplays, latestStatuses, currentContest, friendships, latest_rpgn_topic) }}
    </div><!--/col (sidebar)-->
  </div><!--/row-->

  <!-- Stats box -->
  <div class="panel panel-default stats-panel" style="border: 1px solid #111">
    <div class="panel-body">
      <div class="row" style="border-bottom: 1px solid #111; padding-bottom: 10px">
        <div class="col-xs-12">
          <h4>{{ stats.onlineUsers.length }} Members Online (within 15 min)</h4>
          <div id="whos-online-list" class="text-muted">
            {% for user in stats.onlineUsers %}
              {% if not user.is_ghost %}
                <a href="{{ user.url }}" style="color: #999">{{ user.uname }}</a>
                {%- if not loop.last -%}
                  ,
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div> <!--/.row-->
      <div class="row stats-panel-aggregates">
        <div class="col-sm-2">
          <h4>Users</h4>
          <div class="text-muted"><b>{{ stats.usersCount|commafy }}</b> total</div>
        </div>
        <div class="col-sm-2">
          <h4>Topics</h4>
          <div class="text-muted"><b>{{ stats.topicsCount|commafy }}</b> total</div>
        </div>
        <div class="col-sm-2">
          <h4>Posts</h4>
          <div class="text-muted"><b>{{ stats.postsCount|commafy }}</b> total</div>
        </div>
        <div class="col-sm-6">
          <h4>Newest User</h4>
          <div>
            {% if stats.latestUser %}
              <a href="{{ stats.latestUser.url }}">{{ stats.latestUser.uname }}</a>
              {{ macros.timeago(stats.latestUser.created_at) }}
            {% else %}
              --
            {% endif %}
          </div>
        </div>
      </div><!--/.row-->
    </div> <!--/.panel-body-->
  </div> <!--/.panel-->
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // Activate tag tooltips
    $('[data-toggle="tooltip"]').tooltip()
  </script>

  <script>
   $('.toggle-statuses').on('click', function () {
     var $this = $(this)
     var isCollapsed = !!$this.attr('data-is-collapsed')

     var cookieString
     if (isCollapsed) {
       $('.statuses-box .collapsible').show(100)
       $this.removeAttr('data-is-collapsed')
       cookieString = 'collapse-statuses=;max-age=1'
       $this.html('<span class="glyphicon glyphicon-minus"></span>')
     } else {
       $('.statuses-box .collapsible').hide(100)
       $this.attr('data-is-collapsed', true)
       cookieString = 'collapse-statuses=true;max-age=31536e3'
       $this.html('<span class="glyphicon glyphicon-plus"></span>')
     }

     document.cookie = cookieString
   })
  </script>

  <script type="text/javascript">
    $('.category-toggle').on('click', function() {
      var $this = $(this);
      // catId :: String
      var catId = $this.attr('data-category-id');
      var isCollapsed = !!$this.attr('data-is-collapsed');

      var cookieString;
      if (isCollapsed) {
        // Show forums
        $('.forum-item[data-category-id="'+catId+'"]').show(100);

        // Mark is NOT collased
        $this.removeAttr('data-is-collapsed');
        cookieString = 'collapse' + catId + '=;max-age=1';
        $this.html('<span class="glyphicon glyphicon-minus"></span>');
      } else {
        // Hide forums
        $('.forum-item[data-category-id="'+catId+'"]').hide(100);

        // Mark as collased
        $this.attr('data-is-collapsed', true);

        cookieString = 'collapse' + catId + '=true;max-age=31536e3';
        $this.html('<span class="glyphicon glyphicon-plus"></span>');
      }

      document.cookie = cookieString;
    });
  </script>

  <script type="text/javascript">
    $('.like-status-btn').on('click', function(e) {
      var $this = $(this);
      var statusId = $this.attr('data-status-id');
      var url = '/statuses/' + statusId + '/like';

      $.ajax(url, {
        method: 'POST',
        error: function(xhr) {
          var json;
          try {
            json = JSON.parse(xhr.responseText);
          } catch(ex) {
            alert('Like failed. Refresh the page and try again.');
            throw ex;
          }
          if (json.error == 'TOO_SOON')
            alert('Must wait 3 seconds between status likes.');
        },
        success: function() {
          console.log('Success');

          $this.parent().text('You liked this -');
          var prevCount = parseInt($('.status-' + statusId + ' .status-like-count').text().trim());
          if (prevCount) {
            $('.status-' + statusId + ' .status-like-count').text(prevCount + 1);
          } else {
            $('.status-' + statusId + ' .status-like-count').text(1);
            $('.status-' + statusId + ' .status-like-count-suffix').text('like');
          }

        }
      });
    });
  </script>

{% endblock %}
