{% extends 'layouts/master.html' %}
{% import './macros/ads.html' as ads %}

{% block embed %}

  {{ ads.topResponsive() }}

  {% if staffRep %}
  <div class="well" style="margin-top: 20px;">
    <p>
      Staff Representative Account:
      <a href="{{ staffRep.url }}">{{ staffRep.uname }}</a>
    </p>
    <p class="text-muted">
      When a user registers, they receive the welcome PM from this user.
      Be sure to log into the rep account periodically. Users may have responded
      to the welcome PM or contacted the rep account for help.
    </p>
    <p class="text-warning">TODO: Allow mods to click a button right here that lets them log in as the rep account.</p>
  </div>
  {% else %}
    <div class="alert alert-warning">
      <p>
        <strong>Notice:</strong> <code>STAFF_REPRESENTATIVE_ID</code> is not set, so new users will not receive the welcome PM
      </p>
    </div>
  {% endif %}

  <div class="well">
    Registrations are currently:
    {% if registration.value %}
      <form method="POST" action="/lexus-lounge/registration" class="pull-right">
        <input type="hidden" name="enable" value="">
        <button type="submit" class="btn btn-default pull-right">Disable</button>
      </form>
      <span class="green-glow">
        ENABLED
      </span>
    {% else %}
      <form method="POST" action="/lexus-lounge/registration" class="pull-right">
        <input type="hidden" name="enable" value="true">
        <button type="submit" class="btn btn-default pull-right">Enable</button>
      </form>
      <span class="red-glow">
        DISABLED
      </span>
    {% endif %}
    {% if registration.updated_by %}
      <p class="text-muted">
        <span class="glyphicon glyphicon-pencil"></span>
        Updated by
        <a href="{{ registration.updated_by.url }}">{{ registration.updated_by.uname }}</a>
        (<abbr class="timeago" title="{{ registration.updated_at.toISOString() }}">
          {{ registration.updated_at | formatDate }}
        </abbr>)
      </p>
    {% endif %}
  </div>

  <div class="well">
    <ul>
      <li>
        <a href="/lexus-lounge/images">
          View Latest Image Uploads
        </a>
        <span class="text-muted">Warning: High bandwidth</span>
      </li>
      {% if ctx.currUser.role | isIn(['smod', 'admin']) %}
        <li>
          <a href="/tag-groups">
            Manage Tags
          </a>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="list-group">
        <div class="list-group-item"
             style="background-color: #1d1d1d; border: 1px solid #111;">
          <div class="row">
            <div class="col-xs-7">
              <h4>{{ category.title }}</h4>
            </div>
            <div class="col-xs-1">Topics</div>
            <div class="col-xs-1">Posts</div>
            <div class="col-xs-3">Latest Post</div>
          </div> <!-- /.row -->
        </div> <!-- /.list-group-item -->
        {% for forum in category.forums %}
          <div class="list-group-item" href="/"
               style="background-color: #3d3a3a; border: 1px solid #111;
                      color: #fff;">
            <div class="row">
              <div class="col-xs-7">
                <h5 class="list-group-item-heading">
                  <a href="{{ forum.url }}">{{ forum.title }}</a>
                </h5>
                {% if forum.description %}
                  <p>{{ forum.description }}</p>
                {% endif %}
              </div> <!-- /.col-xs-7 -->
              <div class="col-xs-1">{{ forum.topics_count }}</div>
              <div class="col-xs-1">{{ forum.posts_count }}</div>
              <div class="col-xs-3">
                {% if forum.latest_post %}
                  <div>
                    <a href="{{ forum.latest_post.url }}">
                      {{ forum.latest_topic.title|truncate(40) }}
                    </a>
                  </div>
                  <div>
                    by
                    <a href="{{ forum.latest_user.url }}" style="color: #fff;">{{ forum.latest_user.uname }}</a>
                  </div>
                  <abbr class="timeago"
                        title="{{ forum.latest_post.created_at.toISOString() }}">
                    {{ forum.latest_post.formattedCreatedAt }}
                  </abbr>
                {% else %}
                  --
                {% endif %}
              </div>
            </div> <!-- /.row -->
          </div> <!-- /.list-group-item -->
      {% endfor %} <!-- endfor forums -->
      </div> <!-- /.list-group -->
    </div> <!-- /.col-sm-12 -->
  </div> <!-- /.row -->

  <!-- Dashboard -->
  <style>
    .latest-user-list li {
      padding-left: 10px;
      padding: 10px;
    }
  </style>

  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <h4 class="text-center">Latest {{ latestUserLimit }} Users</h4>
        <ul class="latest-user-list list-unstyled">
          {% for user in latestUsers %}
            <li>
              <span style="display: inline-block; width: 150px;" class="text-muted">
                Joined <abbr class="timeago" title="{{ user.created_at.toISOString() }}">
                  {{ user.formattedCreatedAt }}
              </abbr>
              </span>
              <span style="display: inline-block; width: 70px;">
                {% if user.role == 'banned' %}
                  <span style="color: #d9534f; text-shadow: 0px 0px 1px #d9534f;">{{ user.role }}</span>
                {% else %}
                  <span class="text-muted">{{ user.role }}</span>
                {% endif %}
              </span>
              <span style="display: inline-block; width: 200px; font-family: monospace">
                <a href="{{ user.url }}">{{ user.uname }}</a>
                {% if user.is_nuked %}
                  <img src="/img/nuked.gif" height="33" width="33" title="Nuked">
                {% endif %}
              </span>
              <input type="text" value="{{ user.email }}" style="display: inline-block; width: 400px; font-family: monospace; box-shadow: none; color: #ccc;" class="form-control">
                <span class="text-muted">
                {{ user.pms_count }} pms, {{ user.posts_count }} posts
                </span>
                {% if user.nuked_by %}
                  <span class="text-danger">
                    Nuked by
                    <a href="{{ user.nuked_by.url }}">
                      {{ user.nuked_by.uname }}
                    </a>
                  </span>
                {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>

{% endblock %}
