{% extends 'layouts/master.html' %}
{% import 'macros/paginate.html' as paginate %}
{% import 'macros/macros.html' as macros %}
{% import 'macros/ads.html' as ads %}

{% block embed %}
  <style>
   .timeago.fresh {
     color: #51e0db;
   }
   .first-page-links a {
     text-decoration: underline;
     color: #999;
   }
  </style>

  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/roleplays">Roleplays</a>
    </li>
  </ol>

  <!-- Viewers -->
  {# macros.renderViewers(viewers, true) #}

  {{ ads.topResponsive() }}

  <!-- Page header -->

  <div class="page-header" style="border-color: #000">
    <h3>
      <a href="/roleplays" style="color: #fff">
        Roleplays
      </a>
    </h3>
  </div>

  {# paginate.render(currPage, totalPages, forum.url) #}

  <!-- FILTER -->

  <form>
  <div class="panel panel-default" id="filter-panel">
    <div class="panel-heading">
      Filter
    </div>
    <div class="panel-body">
        <div class="row">
          <div class="col-sm-2 text-center">
            <strong style="text-decoration: underline;">
              Tags
            </strong>
          </div>
          <div class="col-sm-10">
          </div>
        </div>
        <div id="tag-inputs">
          {{ macros.renderTagInputs2(tagGroups, selectedTagIds) }}
        </div>
        <div id="logic-box" style="display: none;">
          <hr>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
              Roleplay must have
              <div class="btn-group btn-group-sm" data-toggle="buttons">
                <label class="btn btn-default {% if logic == "any" %}active{% endif %}">
                  <input type="radio" name="logic" autocomplete="off" value="any" {% if logic == "any" %}checked{% endif %}>
                  At least one
                </label>
                <label class="btn btn-default {% if logic == "all" %}active{% endif %}">
                  <input type="radio" name="logic" autocomplete="off" value="all" {% if logic == "all" %}checked{% endif %}>
                  All
              </div>
              of the <span class="count" style="text-decoration: underline;">0</span> selected tags
              <button class="clear btn btn-danger btn-xs">
                Clear Tags
              </button>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-2 text-center">
            Sort By:
          </div>
          <div class="col-sm-10">
            <div class="btn-group btn-group-sm" role="group" data-toggle="buttons">
              <label class="btn btn-default {% if sort == 'bumped' %}active{% endif %}">
                <input type="radio" name="sort" autocomplete="off" value="bumped" {% if sort == 'bumped'  %}checked{% endif %}> Latest Post
              </label>
              <label class="btn btn-default {% if sort == 'created' %}active{% endif %}">
                <input type="radio" name="sort" autocomplete="off" value="created" {% if sort == 'created'  %}checked{% endif %}> Newest
              </label>
            </div>
          </div>
        </div>
    </div>
    <div class="panel-footer text-right">
      <a href="/roleplays" class="btn btn-default">
        Clear Filter
      </a>
      <button type="submit" class="btn btn-primary">
        Apply Filter
      </button>
    </div>
  </div>
  </form>

  <!-- Pagers -->

  <ul class="pager">
    <li>
      <a href="{{ firstPageUrl }}" rel="first">
        First Page
      </a>
    </li>
    <li>
      <a href="{{ nextPageUrl }}" rel="next">
        Next Page
      </a>
    </li>
  </ul>

  <!-- Tabs -->

  <ul class="nav nav-tabs forum-tabs">
    <li class="active">
      <a href="/roleplays">
        Roleplays
      </a>
    </li>
    {#
    <li>
      <a href="/interest-checks">
        Interest Checks
      </a>
    </li>
    #}
  </ul>

  {% if roleplays.length == 0 %}
    <div class="well text-center">
      {% if nextBeforeId == null %}
        {# We are paginated #}
        <p class="lead">
          No more results
        </p>
        <p>
          <a href="{{ firstPageUrl }}">
            Back to first page
          </a>
        </p>
      {% else %}
        <p class="lead">
          No Results
        </p>
      {% endif %}
    </div>
  {% endif %}

  {% if roleplays.length > 0 %}
    <div class="list-group">
      <div class="list-group-item"
           style="background-color: #1D1D1D; border: 1px solid #111;">
        <div class="row">
          <div class="col-sm-3">Roleplay</div>
          <div class="col-sm-3 hidden-xs">Latest IC</div>
          <div class="col-sm-3 hidden-xs">Latest OOC</div>
          <div class="col-sm-3 hidden-xs">Latest Char</div>
        </div>
      </div>
      {% for topic in roleplays %}
        {% if ctx.can(ctx.currUser, 'READ_TOPIC', topic) %}
          <div class="list-group-item topic-panel"
             style="background-color: #3d3a3a; border: 1px solid #111; color: #fff;">

            <div class="row">
              <div class="col-lg-12">
                <h5 class="list-group-item-heading topic-panel-title">
                  <a href="{{ topic.url }}">{{ topic.title }}</a>
                </h5>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3">
                <div class="text-muted first-page-links">
                  {{ topic.ic_posts_count }}
                  <a href="{{ topic.url }}/ic">IC</a>,
                  {{ topic.ooc_posts_count }}
                  <a href="{{ topic.url }}/ooc">OOC</a>,
                  {{ topic.char_posts_count }}
                  <a href="{{ topic.url }}/char">Char</a>
                </div>
                <p class="list-group-item-text topic-panel-desc">
                  by
                  <a href="{{ topic.user.url }}" style="color: #fff">{{ topic.user.uname }}</a>,
                  {{ macros.timeago(topic.created_at) }}
                </p>
              </div>
              <!-- Latest IC-->
              <div class="col-sm-3">
                <span class="visible-xs-inline">Latest IC:</span>
                {% if topic.latest_ic_user %}
                  <div class="latest-ic">
                    <a href="{{ topic.latest_ic_user.url }}"
                       style="color: #fff">{{ topic.latest_ic_user.uname }}</a>
                    <a href="{{ topic.latest_ic_post.url }}"
                       class="btn btn-default btn-xs latest-post-btn">
                      &rarr;
                    </a>
                  </div>
                  {{ macros.timeago(
                       topic.latest_ic_post.created_at
                       topic.latest_post_id == topic.latest_ic_post_id
                     )
                  }}
                {% else %}
                  <span class="text-muted">None</span>
                {% endif %}
              </div>
              <!-- Latest OOC-->
              <div class="col-sm-3">
                <span class="visible-xs-inline">Latest OOC:</span>
                {% if topic.latest_ooc_user %}
                  <div class="latest-ooc">
                    <div style="display: inline-block;">
                      <a href="{{ topic.latest_ooc_user.url }}"
                         style="color: #fff">{{ topic.latest_ooc_user.uname }}</a>
                      <a href="{{ topic.latest_ooc_post.url}}"
                         class="btn btn-default btn-xs latest-post-btn">
                        &rarr;
                      </a>
                    </div>
                  </div>
                  {{ macros.timeago(
                       topic.latest_ooc_post.created_at
                       topic.latest_post_id == topic.latest_ooc_post_id
                     )
                  }}
                {% else %}
                  <span class="text-muted">None</span>
                {% endif %}
              </div><!--/.col-2-->
              <!-- Latest Char-->
              <div class="col-sm-3">
                <span class="visible-xs-inline">Latest Char:</span>
                {% if topic.latest_char_user %}
                  <div class="latest-char">
                    <a href="{{ topic.latest_char_user.url }}"
                       style="color: #fff">{{ topic.latest_char_user.uname }}</a>
                    <a href="{{ topic.latest_char_post.url}}"
                       class="btn btn-default btn-xs latest-post-btn">
                      &rarr;
                    </a>
                  </div>
                  {{ macros.timeago(
                       topic.latest_char_post.created_at
                       topic.latest_post_id == topic.latest_char_post_id
                     )
                  }}
                {% else %}
                  <span class="text-muted">None</span>
                {% endif %}
              </div><!--/.col-2-->
            </div><!--/.row-->

            <div class="row">
              <div class="col-lg-12">
                <div>
                  {{ macros.renderJoinStatus(topic.join_status) }}
                  {% for tag in topic.tags %}
                    <span class="label {% if tag.id | isIn(selectedTagIds) %}label-primary{% else %}label-default{% endif %}" style="display: inline-block;"
                          data-toggle="tooltip" title="{{ tag.description }}">
                      {{ tag.title }}
                    </span>
                  {% endfor %}
                </div>
              </div>
            </div>

          </div>
        {% endif %}
      {% endfor %}
    </div> <!-- /.list-group -->
  {% endif %}

  <!-- Pagers -->

  <ul class="pager">
    <li>
      <a href="{{ firstPageUrl }}" rel="first">
        First Page
      </a>
    </li>
    <li>
      <a href="{{ nextPageUrl }}" rel="next">
        Next Page
      </a>
    </li>
  </ul>


  <!-- Top -->
  <div style="display: block; margin-bottom: 20px;">
    <a href="#" class="top-link">&uarr; Top</a>
  </div>

  <!-- Viewers -->
  {# macros.renderViewers(viewers, true) #}

  {# paginate.render(currPage, totalPages, forum.url) #}

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // Activate tag tooltips
    $('[data-toggle="tooltip"]').tooltip()
  </script>

  <script>
   function updateLogicBox () {
     var count = $('#tag-inputs input:checked').length

     if (count >= 2) {
       $('#logic-box').show()
     } else {
       $('#logic-box').hide()
     }

     $('#logic-box .count').text(count)
   }

   $('#tag-inputs input').on('change', function (e) {
     updateLogicBox()
   })

   updateLogicBox()
  </script>

  <script>
   $('#logic-box .clear').on('click', function (e) {
     e.preventDefault()
     $('#tag-inputs input').each(function () {
       $(this).prop('checked', false)
       $(this).parent('label').removeClass('active')
     })
     updateFilterButtons()
     updateLogicBox()
   })
  </script>

  <script>
   function updateFilterButtons () {
     $('#filter-panel input').each(function () {
       console.log($(this).val(), $(this).is(':checked'))
       if ($(this).is(':checked')) {
        $(this).parent('.btn').removeClass('btn-default').addClass('btn-primary')
       } else {
        $(this).parent('.btn').removeClass('btn-primary').addClass('btn-default')
       }
     })
   }

   $('#filter-panel input').on('change', function (e) {
     updateFilterButtons()
   })

   updateFilterButtons()
  </script>
{% endblock %}
