{% extends 'layouts/master.html' %}
{% import 'macros/macros.html' as macros %}

{% block embed %}
  <div class="panel panel-default" style="background: transparent;">
    <div class="panel-body">
      <h4 style="margin-bottom: 20px;" class="text-center">
        <span class="glyphicon glyphicon-comment"></span>
        Latest 100 Statuses
      </h4>

      {% if statuses.length == 0 %}
        <div class="text-center">-- None --</div>
      {% endif %}

      {% for status in statuses %}
        <div class="media" style="margin-top: 0; margin-bottom: 10px;">
          {% if status.user.avatar_url_sm %}
            <div class="media-left">
              <a href="{{ status.user.url }}">
                <img src="{{ status.user.avatar_url_sm }}" class="media-object" alt="Avatar of {{ status.user.uname }}">
              </a>
            </div>
          {% endif %}
          <div class="media-body" style="vertical-align: middle; font-size: 90%;">
            <a href="{{ status.user.url }}" style="color: #999;">{{ status.user.uname }}</a>
            <span class="text-muted" style="display: inline-block;">

              {{ macros.timeago(status.created_at) }}
            </span>
          </div>
        </div>

        <div style="word-wrap: break-word; font-size: 90%; margin-bottom: 6px;" >
          {{ status.html|safe }}
        </div>

        <!-- Like button -->

        {% if ctx.currUser %}
          {% if ctx.currUser.uname|isIn(status.likers) %}
            <span style="font-size: 90%;" class="text-muted">
              You like this &mdash;
            </span>
          {% else %}
            {% if ctx.can(ctx.currUser, 'LIKE_STATUS', status) %}
              <form method="POST" action="/browser/statuses/{{ status.id }}/like">
                <button type="submit" class="btn btn-default btn-xs like-status-btn">
                  Like
                </button>
              </form>
            {% endif %}
          {% endif %}
        {% endif %}

        <!-- Likes and likers -->

        {% if status.likers.length > 0 %}
          <span style="font-size: 90%;" class="text-muted">
            {{ status.likers.length }} like{% if status.likers.length > 1%}s{% endif %}:
            {% for uname in status.likers %}
              <a href="/users/{{ uname|slugifyUname }}" class="text-muted" style="text-decoration: underline;">{{ uname }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          </span>
        {% endif %}

        {% if not loop.last %}<hr>{% endif %}
      {% endfor %}
    </div><!-- /panel-body -->
  </div><!-- /panel-default -->
{% endblock %}
