{% extends 'layouts/master.html' %}

{% block embed %}
  <div class="panel panel-default" style="background: transparent;">
    <div class="panel-body">
      <h4 style="margin-bottom: 20px;" class="text-center">
        <span class="glyphicon glyphicon-comment"></span>
        Latest 100 Statuses
      </h4>

      {% if statuses.length === 0 %}
        <div class="text-center">-- None --</div>
      {% endif %}

      {% for status in statuses %}
        <div class="media" style="margin-top: 0; margin-bottom: 10px;">
          {% if status.user.avatar_url %}
            <div class="media-left">
              <a href="{{ status.user.url }}">
                <img src="{{ status.user.avatar_url }}" width="30" class="media-object">
              </a>
            </div>
          {% endif %}
          <div class="media-body" style="vertical-align: middle; font-size: 90%;">
            <a href="{{ status.user.url }}" style="color: #999;">{{ status.user.uname }}</a>
            <span class="text-muted" style="display: inline-block;">
              <abbr class="timeago" title="{{ status.created_at.toISOString() }}">
                {{ status.created_at|formatDate }}
              </abbr>
            </span>
          </div>
        </div>
        <div style="word-wrap: break-word; font-size: 90%;">
          {{ status.html|safe }}
        </div>
        {% if !loop.last %}<hr>{% endif %}
      {% endfor %}
    </div><!-- /panel-body -->
  </div><!-- /panel-default -->
{% endblock %}
