{% extends 'layouts/master.html' %}
{% import './macros/ads.html' as ads %}
{% import './macros/paginate.html' as paginate %}





{% block embed %}
  {{ ads.topResponsive() }}

  <div class="row">
    <div class="col-md-3">
      <style>
      .folder-list .list-group-item {
        background-color: #3d3a3a;
        border-color: #7d7c7c;
        position: relative;
        padding: 0;
      }
      .folder-list .list-group-item .badge {
        position: absolute;
        right: 10px;
        border-color: #000;
      }
      .folder-list .list-group-item:hover {
        background-color: #7d7c7c;
      }
      .folder-list .list-group-item a {
        display: block;
        color: #ccc;
        padding: 10px 15px;
      }
      .folder-list .list-group-item a:hover {
        text-decoration: none;
      }
      </style>

      <h3 class="text-center">
        Folders
      </h3>

      <ul class="list-group folder-list">
        <li class="
              list-group-item
              {% if ctx.path == '/me/convos' %}active{% endif %}
            ">
          <a href="/me/convos">
            <span class="glyphicon glyphicon-inbox"></span>
            &nbsp;
            Inbox
            <span class="badge">
              {% if cps['INBOX'] %}
                <span style="color: #3BB878">
                  {{ cps['INBOX'].length }} new
                </span>
                /
              {% endif %}
              {{ counts.inbox_count }}
            </span>
          </a>
        </li>
        <li class="
              list-group-item
              {% if ctx.path == '/me/convos/star' %}active{% endif %}
            ">
          <a href="/me/convos/star">
            <span class="glyphicon glyphicon-star"></span>
            &nbsp;
            Starred
            <span class="badge">
              {% if cps['STAR'] %}
                <span style="color: #3BB878">
                  {{ cps['STAR'].length }} new
                </span>
                /
              {% endif %}
              {{ counts.star_count }}
            </span>
          </a>
        </li>
        <li class="
              list-group-item
              {% if ctx.path == '/me/convos/archive' %}active{% endif %}
            ">
          <a href="/me/convos/archive">
            <span class="glyphicon glyphicon-folder-open"></span>
            &nbsp;
            Archived
            <span class="badge">
              {% if cps['ARCHIVE'] %}
                <span style="color: #3BB878">
                  {{ cps['ARCHIVE'].length }} new
                </span>
                /
              {% endif %}
              {{ counts.archive_count }}
            </span>
          </a>
        </li>
        <li class="
              list-group-item
              {% if ctx.path == '/me/convos/trash' %}active{% endif %}
            ">
          <a href="/me/convos/trash">
            <span class="glyphicon glyphicon-trash"></span>
            &nbsp;
            Trash
              <form method="POST" action="/me/convos/trash" style="display: inline-block;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn btn-default btn-xs" id="empty-trash">
                  Delete All Trash
                </button>
              </form>
              <span class="badge">
                {% if cps['TRASH'] %}
                  <span style="color: #3BB878">
                    {{ cps['TRASH'].length }} new
                  </span>
                  /
                {% endif %}
                {{ counts.trash_count }}
              </span>
          </a>
        </li>
      </ul>

      <p class="text-center text-muted">
        &uarr;
        <br>You will *not* receive notifications
        <br>for convos deleted from the trash.
      </p>

      {% if ctx.path == '/me/convos/trash' %}
        <div class="text-center">
          <form method="POST" action="/me/convos/undelete-all">
            Accidentally delete something?
            <button type="submit" class="btn btn-default btn-xs">
              Undelete Everything
            </button>
          </form>
        </div>
      {% endif %}

    </div>
    <div class="col-md-9">

      <div class="convo-list-actions" style="height: 50px;">

        <a href="/convos/new" class="pull-right btn btn-success {% if cannot(ctx.currUser, 'CREATE_CONVO') %}disabled{% endif %}">
          <span class="glyphicon glyphicon-plus"></span>
          Create Convo
        </a>

        <form action="/me/notifications/convos" method="post" class="pull-right">
          <input type="hidden" name="_method" value="delete">
          <input type="submit"
                value="Clear PM Notifications"
                class="btn btn-default"
                style="margin-right: 10px;">
        </form>

      </div><!--/.convo-list-actions-->

      <!-- Pagination -->

      {{ paginate.renderFullPaginator(fullPaginator) }}

      <div class="panel panel-default" style="border: 0; background-color: #111">
        <div class="panel-body" style="">
          <div class="row">
            <div class="col-sm-7">Convo</div>
            <div class="col-sm-2">Messages</div>
            <div class="col-sm-3">Latest PM</div>
          </div>
        </div>
      </div>
      {% if folderEmpty %}
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-center lead">
              You haven't moved any convos into this folder, yet
            </p>
          </div>
        </div>
      {% elif convos.length == 0 %}
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-center lead">
              Page is empty.
              <br>In the future I'll prevent you from landing on an empty page.
              <br><a href="{{ ctx.path }}">&larr; Back to Page 1</a>
            </p>
          </div>
        </div>
      {% endif %}

      <div class="text-right">
        <form id="move-form" method="POST" action="/me/convos/move" style="display: inline-block;">
          <div></div>
          <select style="display: inline-block; color: black;" name="folder" class="form-control">
            <option value="INBOX" {% if ctx.path == '/me/convos' %}selected{% endif  %}>Inbox</option>
            <option value="STAR" {% if ctx.path == '/me/convos/star' %}selected{% endif %}>Starred</option>
            <option value="ARCHIVE" {% if ctx.path == '/me/convos/archive' %}selected{% endif %}>Archived</option>
            <option value="TRASH" {% if ctx.path == '/me/convos/trash' %}selected{% endif %}>Trash</option>
          </select>
          <button type="submit" class="btn btn-primary">
            Move <span>0</span>
          </button>
        </form>

        {% if convos.length > 0 %}
          <button type="button" id="select-all" class="btn btn-default" style="display: inline-block;">
            Select All
          </button>
        {% endif %}
      </div>

      {% for convo in convos %}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-7">
                <a href="{{ convo.url }}">{{ convo.title }}</a>
                <div>
                  by
                  <a href="{{ convo.user.url }}" style="color: white">{{ convo.user.uname }}</a>,
                  <abbr class="timeago" title="{{ convo.created_at.toISOString() }}">
                    {{ convo.created_at|formatDate }}
                  </abbr>
                </div>
                <div>
                  Participants:
                  {% for user in convo.participants %}
                    <a href="{{ user.url }}">{{ user.uname }}</a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
                </div>
                <span class="label label-default">{{ convo.folder }}</span>
              </div> <!-- /.col-sm-7 -->
              <div class="col-sm-2">
                <small class="text-muted">
                  {{ convo.pms_count }} Messages
                  {% if convo.has_unread %}
                    <span class="unread-posts-tag">!</span>
                  {% endif %}
                </small>
              </div>
              <div class="col-sm-3 text-right">
                Latest:
                <a href="{{ convo.latest_user.url }}" style="color: white">
                  {{ convo.latest_user.uname }}
                </a>
                <a href="{{ convo.latest_pm.url }}" class="btn btn-default btn-xs latest-post-btn">
                  &rarr;
                </a>
                <div>
                  <abbr class="timeago"
                        title="{{ convo.latest_pm.created_at.toISOString() }}">
                    {{ convo.latest_pm.created_at|formatDate }}
                  </abbr>
                </div>

                <input type="checkbox" data-convo-id="{{ convo.id }}">

              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- Pagination -->

      {{ paginate.renderFullPaginator(fullPaginator) }}
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script>
   var flip = false

   $('#select-all').on('click', function (e) {
     $('input:checkbox').prop('checked', flip = !flip)
     updateForm()
   })

   function updateForm () {
     // Reset form
     $('#move-form div').empty()
     $('#move-form button').hide()
     $('#move-form select').hide()

     var ids = []
     $('input:checked').each(function (e) {
       var $this = $(this)
       var id = $this.attr('data-convo-id')
       ids.push(id)
     })

     if (ids.length) {
      $('#move-form button span').text(ids.length)
      $('#move-form button').show()
      $('#move-form select').show()
     }

     ids.forEach(function (id) {
       var input = $('<input type="hidden" name="ids" value="'+id+'">')
      $('#move-form div').append(input)
     })
   }

   $('input:checkbox').on('change', function (e) {
     updateForm()
   })

   // Initialize form
   updateForm()

   // Confirm before deletion
   $('#delete-form button').on('click', function (e) {
     var confirmed = confirm('Are you sure you want to delete these convos?')
     if (!confirmed) return false
   })
  </script>


  <script>
   $('#empty-trash').on('click', function (e) {
     var confirmed = confirm('Are you sure you want to delete all convos in the trash folder?')
     if (!confirmed) return false
   })
  </script>
{% endblock %}
