{% extends 'layouts/master.html' %}

{% block embed %}

  <!-- Pagination -->

  {% if ctx.currUser.pms_count > 1 %}
    <ul class="pager">
      <li>
        <a href="{{ ctx.request.path }}#recent-posts">
          First Page
        </a>
      </li>
      {% if convos.length < perPage %}
        <li class="disabled">
          <a href="{{ ctx.request.url }}">
            Next Page &rarr;
          </a>
        </li>
      {% else %}
        <li>
          <a href="{{ ctx.request.path }}?before-id={{ nextBeforeId }}#recent-posts">
            Next Page &rarr;
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

  <div class="panel panel-default" style="border: 0; background-color: #111">
    <div class="panel-body" style="">
      <div class="row">
        <div class="col-sm-7">Convo</div>
        <div class="col-sm-2">Messages</div>
        <div class="col-sm-3">Latest PM</div>
      </div>
    </div>
  </div>
  {% for convo in convos %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-7">
            <a href="{{ convo.url }}">{{ convo.title }}</a>
            <div>
              by
              <a href="{{ convo.user.url }}" style="color: white">
                {{ convo.user.uname -}}
              </a>,
              <abbr class="timeago" title="{{ convo.created_at.toISOString() }}">
                {{ convo.formattedCreatedAt }}
              </abbr>
            </div>
            <div>
              Participants:
              {% for user in convo.participants %}
                <a href="{{ user.url }}">{{ user.uname }}</a>{% if !loop.last %}, {% endif %}
              {% endfor %}
            </div>
          </div> <!-- /.col-sm-7 -->
          <div class="col-sm-2">
            {{ convo.pms_count }}
          </div>
          <div class="col-sm-3">
            by <a href="{{ convo.latest_user.url }}" style="color: white">
              {{ convo.latest_user.uname }}
            </a>
            <a href="{{ convo.latest_pm.url }}">
              <span class="glyphicon glyphicon-link"></span>
            </a>
            <div>
              <abbr class="timeago"
                    title="{{ convo.latest_pm.created_at.toISOString() }}">
                {{ convo.latest_pm.created_at|formatDate }}
              </abbr>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  <!-- Pagination -->

  {% if ctx.currUser.pms_count > 1 %}
    <ul class="pager">
      <li>
        <a href="{{ ctx.request.path }}#recent-posts">
          First Page
        </a>
      </li>
      {% if convos.length < perPage %}
        <li class="disabled">
          <a href="{{ ctx.request.url }}">
            Next Page &rarr;
          </a>
        </li>
      {% else %}
        <li>
          <a href="{{ ctx.request.path }}?before-id={{ nextBeforeId }}#recent-posts">
            Next Page &rarr;
          </a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock %}
