{% extends 'layouts/master.html' %}
{% import './macros/ads.html' as ads %}
{% import './macros/macros.html' as macros %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Notifications</li>
  </ol>

  {{ ads.topResponsive() }}

  <div class="page-header" style="border-color: #000">
    <form action="/me/notifications" method="post" class="pull-right">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="ids[]" value="-1">
      {% for n in notifications %}
        <input type="hidden" name="ids[]" value="{{ n.id }}">
      {% endfor %}
      <button type="submit" class="btn btn-default btn-xs">
        Clear All Notifications
      </button>
    </form>
    <h3>My Notifications</h3>
  </div>

  {% if notifications.length == 0 %}
    <div class="well lead text-center">
      You have no notifications.
    </div>
  {% endif %}

  <ul>
    {% for n in notifications %}
      <li data-notification-id="{{ n.id }}">
        <button type="button"
                class="btn btn-default btn-sm delete-notification-btn"
        >
          X
        </button>
        {{ macros.timeago(n.created_at) }}
        {% if n.type == 'MENTION' %}
          <p>
            <a href="/users/{{ n.from_user.slug }}">{{ n.from_user.uname }}</a>
            mentioned you in a topic: <a href="{{ n.post.url }}">{{ n.topic.title }}</a>
          </p>
          <div class="panel panel-default">
            <div class="panel-body" style="max-height: 100px; overflow: auto;">
              {{ n.post.html|safe }}
            </div>
          </div>
        {% elif n.type == 'RATING' %}
          <p>
            {% if n.count > 1 %}
              <span>{{ n.count }} people rated your post. Latest rating:</span>
            {% endif %}
            <a href="/users/{{ n.from_user.slug }}">{{ n.from_user.uname }}</a>
            <img src="{{ n.meta.type|ratingTypeToImageSrc }}">'d your post in
            <a href="{{ n.post.url }}">{{ n.topic.title }}</a>
          </p>
          <div class="panel panel-default">
            <div class="panel-body" style="max-height: 100px; overflow: auto;">
              {{ n.post.html|safe }}
            </div>
          </div>
        {% elif n.type == 'QUOTE' %}
          <p>
            <a href="/users/{{ n.from_user.slug }}">{{ n.from_user.uname }}</a>
            quoted you in a topic: <a href="{{ n.post.url }}">{{ n.topic.title }}</a>
          </p>
          <div class="panel panel-default">
            <div class="panel-body" style="max-height: 100px; overflow: auto;">
              {{ n.post.html|safe }}
            </div>
          </div>
        {% elif n.type == 'PM' %}
          <p>
            Private conversation
            <a href="{{ n.convo.url }}">{{ n.convo.title }}</a>
            has {{ n.count }} unread
            {% if n.count == 1 %} message {% else %} messages {% endif %}
          </p>
        {% elif n.type == 'REPLY_VM' %}
          <p>
            A
            <a href="/me/vms/{{ n.vm_id }}">visitor message thread</a>
            {% if n.count == 1 %}
              has a new reply
            {% else %}
              has {{ n.count }} new replies
            {% endif %}
          </p>
        {% elif n.type == 'TOPLEVEL_VM' %}
          <p>
            You have a new <a href="/me/vms/{{ n.vm_id }}">Visitor Message</a> from
            <a href="/users/{{ n.from_user.slug }}">{{ n.from_user.uname }}</a>
          </p>
          <div class="panel panel-default">
            <div class="panel-body" style="max-height: 100px; overflow: auto;">
              {{ n.vm.html|safe }}
            </div>
            {% if n.count > 1 %}
              <div class="panel-footer">
                Replies: {{ n.count-1 }}
              </div>
            {% endif %}
          </div>
        {% elif n.type == 'CONVO' %}
          <p>
            <!-- <a href="/users/{{ n.from_user.slug }}">{{ n.from_user.uname }}</a> -->
            <!-- started a new private convo with you: -->
            {{ n.count }} unread PM{% if n.count > 1 %}s{% endif %} in convo:
            <a href="/convos/{{ n.convo.id }}">{{ n.convo.title }}</a>
          </p>
        {% elif n.type == 'TOPIC_SUB' %}
          <p>
            {{ n.count }} new post{% if n.count > 1 %}s{% endif %} in subscribed topic:
            {% if n.meta.ic %}
              <a href="/topics/{{ n.topic.id }}/ic/first-unread">
                {{ n.topic.title }}
              </a>
            {% elif n.meta.char %}
              <a href="/topics/{{ n.topic.id }}/char/first-unread">
                {{ n.topic.title }}
              </a>
            {% elif n.meta.ooc %}
              <a href="/topics/{{ n.topic.id }}/ooc/first-unread">
                {{ n.topic.title }}
              </a>
            {% endif %}
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $('.delete-notification-btn').on('click', function() {
    var $this = $(this);
    var notificationId = $this.parent().attr('data-notification-id');
    var url = '/api/me/notifications/' + notificationId;

    $.ajax(url, {
      method: 'POST',
      headers: { 'X-HTTP-Method-Override': 'DELETE' },
      error: function(xhr, textStatus, errorThrown) {
        alert('Error deleting this status. Refresh page and try again.');
      },
      success: function() {
        $this.parent().remove();
      }
    });
  });
</script>
{% endblock %}
