{% extends 'layouts/master.html' %}
{% import './macros/ads.html' as ads %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/convos">Private Convos</a></li>
  </ol>

  {{ ads.topResponsive() }}

  <div class="page-header" style="border-color: #000">
    <h3>New Private Convo</h3>
    <p>
      A conversation is a private thread that only the participants can see and reply to. You are always the first participant.
    </p>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <form action="/convos" method="post">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <!--
              PANEL BODY
              -->
          <div class="panel-body">

            <!-- To -->
            <div class="form-group">
              <label class="control-label" for="to-input">Participants:</label>
              <p>You can start a convo with up to 5 other people. Just put a comma between multiple usernames. You can leave this field blank if you just want to start a convo with yourself (useful for note-taking). Example: <code>Mahz, Contra Fates, Internet Tough Guy</code></p>
              <input id="to-input"
                     type="text"
                     name="to"
                     class="form-control"
                     placeholder="User Name 1, User Name 2, User Name 3 (The other people that will be part of this convo)"
                     {% if (ctx.flash.params or to) %}
                     value="{{ ctx.flash.params.to or to }}"
                     {% endif %}
                     >
            </div>

            <div class="form-group">
              <label class="control-label" for="title-input">Subject/Title:</label>
              <input id="title-input"
                     type="text"
                     name="title"
                     class="form-control"
                     placeholder="Tip: Put something descriptive to help you and other participants remember what this convo is about"
                     {% if ctx.flash.params %}
                     value="{{ ctx.flash.params.title }}"
                     {% endif %}
                     >
            </div>

            <div class="form-group">
                <label class="control-label" for="text-input">Message:</label>
                <ul>
                  <li>{{ ctx.config.MAX_POST_LENGTH|commafy }} char limit</li>
                  <li>Always copy your post before clicking "Submit" so that you don't lose it due to server error or a bad connection.</li>
                </ul>
                <textarea id="text-input"
                          rows="10"
                          placeholder="Click here and begin writing"
                          name="markup"
                          class="form-control"></textarea>
            </div>

          </div> <!-- /.panel-body -->
          <!--
              PANEL FOOTER
              -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="login-submit"
                     type="submit"
                     value="Submit"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>
    </div> <!-- /col -->
  </div> <!-- /.row -->
      {% include 'partials/bbcode_cheatsheet.html' %}

{% endblock %}

{% block scripts %}
  <script>
      $('input[type="submit"]').on('click', function(e) {
        var $this = $(this);
        if ($this.data('already-clicked'))
          return false;
        $this.data('already-clicked', true);
      });
  </script>
<script>
  $('#to-input').val($('#to-input').val()).focus();
  $('#text-input').bbcode({
    charLimit: {{ ctx.config.MAX_POST_LENGTH }}
  });
</script>
{% endblock %}
