{% extends 'layouts/master.html' %}

{% block embed %}
<div class="page-header">
  {% if ctx.config.NODE_ENV == 'development' %}
    <button id="auto-fill-btn" type="button" class="btn btn-default btn-md pull-right">Auto-fill form</button>
  {% endif %}
  <h1>Register</h1>
</div>

  {% if registration.value == false %}
  <div class="alert alert-info">
    <p>
      Registrations were temporarily disabled
      <abbr class="timeago" title="{{ registration.updated_at.toISOString() }}">
        {{ registration.updated_at | formatDate }}
      </abbr>.
    <p>
    <p>Check back soon!</p>
  </div>
  {% else %}
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form action="/users" method="post" id="register-form">
        <div class="panel panel-default">
          <div class="panel-body">
        <div class="form-group">
          <label for="uname-input">Username:</label>
          <input id="uname-input"
                 type="text"
                 name="uname"
                 class="form-control"
                 {% if ctx.flash.params %}
                  value="{{ ctx.flash.params.uname }}"
                 {% endif %}
                 required
                 >
          <div class="help-block" style="color: #ccc">
            Allowed: letters (A-Z), numbers (0-9), spaces
          </div>
        </div>
        <div class="form-group">
          <label for="email-input">Email:</label>
          <input id="email-input"
                 type="email"
                 name="email"
                 class="form-control"
                 placeholder="Required"
                 {% if ctx.flash.params %}
                  value="{{ ctx.flash.params.email }}"
                 {% endif %}
                 required
                 >
        </div>
        <div class="form-group">
          <label for="password1-input">Password:</label>
          <input id="password1-input" type="password" name="password1"
                 {% if ctx.flash.params %}
                  value="{{ ctx.flash.params.password1 }}"
                 {% endif %}
                 class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password2-input">Confirm Password:</label>
          <input id="password2-input" type="password" name="password2"
                 {% if ctx.flash.params %}
                  value="{{ ctx.flash.params.password2 }}"
                 {% endif %}
                 class="form-control" required>
        </div>
            </div> <!-- /.panel-body -->

          <div class="panel-footer" style="border: black">
            <div class="text-right">
              <button id="register-submit" type="submit"
                      class="btn btn-primary g-recaptcha"
                      data-sitekey="{{ recaptchaSitekey }}"
                      data-callback="onSubmit"
                      data-badge="bottomleft"
              >
                Submit
              </button>
            </div>
          </div> <!-- /.panel-footer -->
          </div> <!-- /.panel -->

      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {% if ctx.config.NODE_ENV == 'development' %}
    <script>
      $('#auto-fill-btn').on('click', function() {
        // Only fill in uname if there isn't one
        if ($('#uname-input').val().trim().length === 0) {
          const uname = 'x' + Math.random()
            .toString()
            .replace('.', '')
            .slice(0, 14)
          $('#uname-input').val(uname)
        }
        $('#email-input').val(Math.random().toString() + '@example.com');
        $('#password1-input').val('secret');
        $('#password2-input').val('secret');
        $('#uname-input').focus();
        $('#register-form').submit()
      });
    </script>
  {% endif %}

  <script>
  function onSubmit(token) {
      document.getElementById('register-form').submit()
  }
  </script>

  {% if config.NODE_ENV == 'production' %}
    <script async defer src='https://www.google.com/recaptcha/api.js'></script>
  {% endif %}

  <script>
    $('#uname-input').focus()
  </script>
{% endblock %}
