{% extends 'layouts/master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
  </ol>

  <div class="page-header" style="border-color: #000">
    <h3>Reset Password</h3>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form action="/reset-password" method="post" class="form-horizontal">
        <div class="panel panel-default no-select"
             style="border-color: #000">
          <!--
              PANEL BODY
              -->
          <div class="panel-body">

            <!-- Rest token -->
            <div class="form-group">
              <label for="token-input"
                     class="col-sm-4 control-label">
                Reset Token:
              </label>
              <div class="col-sm-8">
                <input id="token-input"
                       type="text"
                       name="token"
                       class="form-control"
                       placeholder="Copy and paste the token from the email we sent you"
                       value="{{ resetToken }}"
                       required>
              </div>
            </div>

            <!-- Password1 -->
            <div class="form-group">
              <label for="password1-input"
                     class="col-sm-4 control-label">
                New Password:
              </label>
              <div class="col-sm-8">
                <input id="password1-input"
                       type="password"
                       name="password1"
                       class="form-control"
                       required>
              </div>
            </div>

            <!-- Password2 -->
            <div class="form-group">
              <label for="password2-input"
                     class="col-sm-4 control-label">
                Confirm New Password:
              </label>
              <div class="col-sm-8">
                <input id="password2-input"
                       type="password"
                       name="password2"
                       class="form-control"
                       required>
              </div>
            </div>

          </div> <!-- /.panel-body -->
          <!--
              PANEL FOOTER
              -->
          <div class="panel-footer" style="border-color: #000">
            <div class="text-right">
              <input id="forgot-submit"
                     type="submit"
                     value="Submit"
                     class="btn btn-primary">
            </div>
          </div> <!-- /.panel-footer -->
        </div> <!-- /.panel -->
      </form>
    </div> <!-- /col -->
  </div> <!-- /.row -->

{% endblock %}

{% block scripts %}
<script>
  var token = $('#token-input').val();
  if (token.length > 0)
    $('#password1-input').focus();
  else
    $('#token-input').focus();
</script>
{% endblock %}
