{% extends 'layouts/master.html' %}
{% import './macros/paginate.html' as paginate %}
{% import './macros/macros.html' as macros %}

{% block embed %}

  <!-- Breadcrumbs -->

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
  </ol>

  <!-- Page header -->

  <div class="page-header" style="border: 0">
    <h2>
      <a href="{{ topic.url }}" style="color: #fff">{{ topic.title }}</a>
      {% if topic.is_sticky %}
        <span class="label label-primary">Sticky</span>
      {% endif %}
      {% if topic.is_hidden %}
        <span class="label label-warning">Hidden</span>
      {% endif %}
      {% if topic.is_closed %}
        <span class="label label-default">Closed</span>
      {% endif %}
    </h2>

    <!-- Topic state buttons -->

    <div class="topic-controls">

      <!-- STICK -->
      {% if ctx.can(ctx.currUser, 'STICK_TOPIC', topic) %}
        <form action="{{ topic.url }}/status" method="post">
          <input type="hidden" name="_method" value="put">
          {% if topic.is_sticky %}
            <input type="hidden" name="status" value="unstick">
            <button type="submit" class="btn btn-primary btn-xs">Unstick</button>
          {% else %}
            <input type="hidden" name="status" value="stick">
            <button type="submit" class="btn btn-default btn-xs">Stick</button>
          {% endif %}
        </form>
      {% endif %}

      <!-- HIDE -->
      {% if ctx.can(ctx.currUser, 'HIDE_TOPIC', topic) %}
        <form action="{{ topic.url }}/status" method="post">
          <input type="hidden" name="_method" value="put">
          {% if topic.is_hidden %}
            <input type="hidden" name="status" value="unhide">
            <button type="submit" class="btn btn-warning btn-xs">Unhide</button>
          {% else %}
            <input type="hidden" name="status" value="hide">
            <button type="submit" class="btn btn-default btn-xs">Hide</button>
          {% endif %}
        </form>
      {% endif %}

      <!-- CLOSE -->
      {% if ctx.can(ctx.currUser, 'CLOSE_TOPIC', topic) %}
        <form action="{{ topic.url }}/status" method="post">
          <input type="hidden" name="_method" value="put">
          {% if topic.is_closed %}
            <input type="hidden" name="status" value="open">
            <button type="submit" class="btn btn-gray btn-xs">Open</button>
          {% else %}
            <input type="hidden" name="status" value="close">
            <button type="submit" class="btn btn-default btn-xs">Close</button>
          {% endif %}
        </form>
      {% endif %}

    </div><!--/.topic-controls-->
  </div><!--/.page-header-->

  <!-- Pagination -->
  {{ paginate.render(currPage, totalPages, ctx.request.path) }}

  <!-- New Reply button -->

  {% if ctx.can(ctx.currUser, 'CREATE_POST', topic) %}
    <a class="btn btn-primary pull-right" href="#new-reply-form">
      <span class="glyphicon glyphicon-pencil"></span>
      New Reply
    </a>
  {% endif %}

  <!-- Subscribe button -->

  {% if ctx.can(ctx.currUser, 'SUBSCRIBE_TOPIC', topic) %}
    {% if topic.is_subscribed %}
      <form action="{{ topic.subscriptionUrl }}" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="return-to-topic" value="true">
        <button type="submit" class="btn btn-danger pull-right" style="margin-right: 10px">
          <span class="glyphicon glyphicon-remove"></span>
          Unsubscribe
        </button>
      </form>
    {% else %}
      <form action="/me/subscriptions" method="post">
        <input type="hidden" name="topic-id" value="{{ topic.id }}">
        <input type="hidden" name="return-to-topic" value="true">
        <button type="submit" class="btn btn-success pull-right" style="margin-right: 10px">
          <span class="glyphicon glyphicon-plus"></span>
          Subscribe
        </button>
      </form>
    {% endif %}
  {% endif %}

  <ul class="nav nav-tabs">
    {% if topic.forum.is_roleplay %}
      <li class="{% if ctx.request.path.endsWith('/ic') %}active{% endif %}">
        <a href="{{ topic.url }}/posts/ic">
          IC <span class="badge">{{ topic.ic_posts_count|commafy }}</span>
        </a>
      </li>
      <li class="{% if ctx.request.path.endsWith('/ooc') %}active{% endif %}">
        <a href="{{ topic.url }}/posts/ooc">
          OOC <span class="badge">{{ topic.ooc_posts_count|commafy }}</span>
        </a>
      </li>
      <li class="{% if ctx.request.path.endsWith('/char') %}active{% endif %}">
        <a href="{{ topic.url }}/posts/char">
          Characters <span class="badge">{{ topic.char_posts_count|commafy }}</span>
        </a>
      </li>
    {% else %}
      <li class="active">
        <a href="{{ topic.url }}">Posts <span class="badge">
            {{ topic.posts_count|commafy }}
        </span></a>
      </li>
    {% endif %}
  </ul>

  <!-- Posts list -->

  {% if topic[postType + '_posts_count'] === 0 %}
    <div class="well">
      There are no {{ postType.toUpperCase() }} posts, yet.
    </div>
  {% endif %}

  {% for post in topic.posts %}
    {% if ctx.can(ctx.currUser, 'READ_POST', post) %}
      <a name="post-{{ post.id }}"></a>
      <div class="panel panel-default post"
           id="post-{{ post.id }}"
           style="border: 1px solid #111;">
        <div class="panel-heading clearfix"
             style="background-color: #1D1D1D; border-color: #111; border-radius: 0">
          <span class="pull-left">
            <abbr class="timeago" title="{{ post.created_at.toISOString() }}">
              {{ post.created_at|formatDate }}
            </abbr>
            {% if post.updated_at && post.updated_at.getTime() - post.created_at.getTime() > 1000 * 60 %}
              &rarr;
              <span class="glyphicon glyphicon-pencil"></span>
              <abbr class="timeago" title="{{ post.updated_at.toISOString() }}">
                {{ post.formattedUpdatedAt }}
              </abbr>
            {% endif %}
          </span>
          <div class="pull-right post-header">
            <a href="{{ post.url }}/raw">View Raw</a> -
            <a href="{{ post.url }}">
              <span class="glyphicon glyphicon-link"></span>
            </a>
          </div>
        </div> <!-- /.panel-heading -->

        <!-- Panel body -->
        <div class="panel-body"
             style="background-color: #2E2C2C">
          <!-- Author metadata -->
          <div class="col-sm-2 clearfix text-center post-user-meta">


            <!-- For small devices -->
            <div class="visible-xs-block">
              <div class="media">
                {% if post.user.avatar_url %}
                  <a class="media-left" href="{{ post.user.url }}">
                    <img src="{{ post.user.avatar_url}}" alt="avatar"
                         style="max-width: 60px">
                  </a>
                {% endif %}
                <div class="media-body">
                  <h4 class="media-heading">
                    <a href="{{ post.user.url }}">
                      {{ post.user.uname }}
                    </a>
                  </h4>
                  <div class="pull-left">
                    {{ post.user.role|capitalize }}<br>
                    {{ macros.onlineStatus(post.user) }}
                  </div>
                </div>
              </div>
            </div>

            <!-- For larger-than-smartphone devices -->
            <div class="hidden-xs">
              <div class="user-uname">
                <a href="{{ post.user.url }}">
                  {{ post.user.uname }}
                </a>
              </div>

              {% if post.user.avatar_url %}
                <div class="post-avatar"
                     style="margin-top: 10px;">
                  <img src="{{ post.user.avatar_url}}">
                </div>
              {% endif %}

              <div class="user-role" style="margin-top: 10px;">
                {{ post.user.role|capitalize }}
              </div>

              <!-- Online status -->
              {{ macros.onlineStatus(post.user) }}

            </div> <!-- /.hidden-xs -->

          </div> <!-- /.col-sm-2 post-meta -->

          <div class="col-sm-10">
            <!-- Post text -->
            {{- macros.renderPost(post) -}}
            <!-- Signature -->
            {{- macros.renderSig(post.user) -}}
          </div>

        </div> <!-- /.panel-body -->

        <!-- Panel footer -->
        <div class="panel-footer clearfix"
             style="background-color: #2E2C2C; border-radius: 0; border: 0">
          <!-- IP address -->
          {% if ctx.can(ctx.currUser, 'READ_USER_IP', post.user) %}
            <div class="pull-left"
                 style="margin-left: 5px; color: #6E6B6B">
              {{ post.ip_address }}
            </div>
          {% endif %}
          <!-- Reply button -->
          {% if ctx.can(ctx.currUser, 'CREATE_POST', topic) %}
            <a href=""
               class="btn btn-default btn-xs pull-right post-reply-btn"
               post-id="{{ post.id }}"
               post-uname="{{ post.user.uname }}"
               style="margin-left: 5px"
               >Reply</a>
          {% endif %}
          <!-- Edit button -->
          {% if ctx.can(ctx.currUser, 'UPDATE_POST', post) %}
            <a href="/"
               class="btn btn-default btn-xs pull-right post-edit-btn"
               style="margin-left: 5px;"
               post-id={{ post.id }}
              >Edit</a>
          {% endif %}
          <!-- Hide button -->
          {% if post.is_hidden %}
            {% if ctx.can(ctx.currUser, 'UNHIDE_POST', post) %}
              <form action="{{ post.url}}/unhide" method="post">
                <input type="submit" value="Unhide"
                       class="btn btn-default btn-xs pull-right">
              </form>
            {% endif %}
          {% else %}
            {% if ctx.can(ctx.currUser, 'HIDE_POST', post) %}
              <form action="{{ post.url}}/hide" method="post">
                <input type="submit" value="Hide"
                       class="btn btn-default btn-xs pull-right">
              </form>
            {% endif %}
          {% endif %}
        </div> <!-- /.panel-footer -->
      </div> <!-- /.panel -->
    {% endif %} <!-- can READ_POST check -->
  {% endfor %}

  {{ paginate.render(currPage, totalPages, ctx.request.path) }}

  <!-- New post form -->

  {% if ctx.can(ctx.currUser, 'CREATE_POST', topic) %}
    <a name="new-reply-form"></a>
    <h2>New Reply</h2>
    <ul>
      <li><span class="label label-info">Important</span> The forum now uses BBCode for formatting. Your old posts will use the old formatting system UNTIL you edit them. Once you edit an old post, the system will assume you've converted it to BBCode.</li>
      <li><span class="label label-warning">Warning</span> The BBCode parser is new and may have bugs. I recommend avoiding complex/nested BBCode until I work out the kinks.</li>
      <li>Before submitting your post, it's wise to copy it somewhere so that you don't lose it in the event of server error.</li>
      <li>Check out the BBCode Cheatsheet below the editor. It's pretty basic for now, but I will add more BBCode over time. Check the cheatsheet every once in a while for updates.</li>
    </ul>
    <form method="post" action="{{ topic.url }}/posts">
      <input type="hidden" name="post-type" value="{{ postType }}">
      <textarea id="markup-input"
                placeholder="Click here and begin writing"
                name="markup"
                rows=10
                class="form-control"
                ></textarea>

      <input type="submit" class="btn btn-primary" value="Post Reply"></input>
    </form>

    {% include 'partials/bbcode_cheatsheet.html' %}

  {% endif %}

{% endblock %}

{% block scripts %}

<script>

    // Prevent <input> submit buttons from being submitted more than once

    $('input[type="submit"]').on('click', function(e) {
      var $this = $(this);
      if ($this.data('already-clicked'))
        return false;
      $this.data('already-clicked', true);
    });
</script>

<script>

  // Hide avatars that are larger than 150x150

  $('.post-avatar img').on('load', function(e) {
    console.log('avatar loaded');
    var h = $(this).height();
    var w = $(this).width();
    if (h > 150 || w > 150) {
      $(this).parent().html('<span style="color: red">Avatar larger than 150x150</span>');
    }
  });
</script>

<script>
// Prevent double-submit on new-reply form

$('#new-reply').submit(function() {
  $(this).submit(function() {
      return false;
  });
  $(this).find("input[type='submit']")
         .attr('disabled', 'disabled')
         .val('Submitting...');
  return true;
});
</script>

  <script>
    // Turn the new post editor into a bbcode editor

    $(function() {
      $('#markup-input').bbcode();
    });
  </script>

  {#
          REPLY BUTTON
  #}
  <script>
$(function() {
  $('.post-reply-btn').click(function(e) {
    e.preventDefault();
    $reply_btn = $(this);
    $reply_btn.addClass('disabled').html('Loading...');
    var post_id = $reply_btn.attr('post-id');
    var uname = $reply_btn.attr('post-uname');
    var post_url = '/posts/' + post_id + '/raw';
    $.get(post_url, function(markup) {
      console.log('returned')
      $reply_btn.removeClass('disabled').html('Reply');

      var quote_markup = '[quote=' + uname + ']\n' +
        markup.trim()  +
        '\n[/quote]\n';

      var $reply_textarea = $('#markup-input');
      var prev_content = $('textarea').val().trim();
      // Only add \n\n padding if there was already content in textarea
      var padding = (function() {
        if (prev_content.length === 0) {
          return '';
        }
        return '\n\n'
      })();
      $reply_textarea.focus().val('').val(prev_content + padding + quote_markup + '\n');
      $reply_textarea.scrollTop($reply_textarea[0].scrollHeight);

      $('html, body').animate({
        scrollTop: $reply_textarea.offset().top
      }, 100);

    });
  });
});
  </script>

  {#
          EDIT POST BUTTON
  #}
  <script>
$(function() {
  $('.post-edit-btn').click(function(e) {
    e.preventDefault();
    $post_edit_btn = $(this);
    $post_edit_btn.addClass('disabled');
    var post_id = $(this).attr('post-id');
    var $post_body = $('#post-' + post_id + ' .post-content');
    var prev_body = $post_body.html();
    var $spinner = $('<span><img src="/img/spinner.gif"> Loading edit form...</span>');

    // Replace post body with a spinner to indicate we're doing something
    $post_body.html($spinner);

    $cancel_btn = $('<button style="margin-left: 5px;" class="btn btn-default post-edit-cancel-btn">Cancel</button>');

    $.ajax({
      url: '/posts/' + post_id + '/raw',
      dataType: 'html',
      // This is going to be post.markup || post.text
      success: function(post_text) {
        var $post_editor = $('<div class="post-editor"></div>');
        $spinner.remove();

        // Warn about Markdown->BBCode conversion on Markdown posts.
        // A post is a Markdown post if its post-body is wrapped with
        // .post-body instead of .post-body-html
        if ($('#post-' + post_id + ' .post-body')[0]) {
          $post_body.append(
            '<p style="color: salmon">'+
            'This post uses the old formatting system (Markdown) before we had BBCode. If you click "Save", then the forum will assume that you\'ve converted this post to BBCode. If you don\'t want that to happen, then click "Cancel".'+
            '</p><p style="color: salmon">'+
            'For example, <code>[Click Me](http://example.com)</code> (Old system) is now <code>[url=Click Me]http://example.com[/url]</code> (BBCode)'+
            '</p>'
          );
        }

        $post_body.append($post_editor);

        $post_editor.bbcode({
          savable: true,
          onSave: function(e) {
            //
            $success_btn = $post_body.find('.btn-success');
            $success_btn.html('Saving...');
            $success_btn.attr('disabled', true);
            $post_body.find('.btn').attr('disabled', true);

            var text_to_save = e.getContent();
            $.ajax({
              url: '/api/posts/' + post_id,
              dataType: 'json',
              type: 'POST',
              headers: { 'X-HTTP-Method-Override': 'PUT' },
              data: { markup: text_to_save },
              success: function(updated_post) {
                $post_body.html(bbcode(updated_post.markup));
                $post_edit_btn.removeClass('disabled');
                // Set the post's .edited-marker to ' edited'
                var $edited_marker = $('#post-' + post_id + ' .edited-marker')
                $edited_marker.html(' edited');
              }
            })
          }
        });

        // Gotta set the text before the .markdown() call or else
        // .markdown() escapes html entities.
        $post_body.find('textarea').val(post_text)

        // Scroll to editor over 500ms so user can re-orient themselves
        $('body').animate({
            scrollTop: $post_body.offset().top
        }, 500);

        $cancel_btn.insertAfter(
          $('#post-' + post_id + ' .md-footer button[data-handler="cmdSave"]')
        );

        $($cancel_btn).click(function() {
          $post_body.html(prev_body);
          $post_edit_btn.removeClass('disabled');
        });
      }
    });

    return false;
  });
});
  </script>
<script>
  // Render posts only as they appear in the user's browser
  $('.post-body, .post-sig-markdown').appear();
  $('.post-body, .post-sig-markdown').on('appear', function(e) {
    if (!$(this).attr('data-rendered')) {
      var $this = $(this);
      $this.html(markdown.toHTML($this.text()));
      $this.attr('data-rendered', true);
    }
  });
</script>
{% endblock%}
