{% extends 'layouts/master.html' %}
{% import './macros/macros.html' as macros %}

{% block embed %}
  <div class="page-header">
    <h2>
      {{ user.uname }}'s image
    </h2>
    <p>
      &larr; <a href="{{ user.url }}/images">Back to {{ user.uname }}'s images</a>
    </p>
  </div>
  <div class="well">
    <ul>
      <li>
        <strong>Direct Link:</strong>
        <a href="{{ image.src }}">
          {{ image.src }}
        </a>
      </li>
      {% if image.description %}
        <li><strong>Description:</strong> {{ image.description }}</li>
      {% endif %}
      <li><strong>Uploaded:</strong>
        {{ macros.timeago(image.created_at) }}
      </li>
    </ul>
    <div class="text-center">
      <a href="{{ image.src }}">
        <img src="{{ image.src }}" style="max-width: 100%;">
      </a>
    </div>

    {% if can(ctx.currUser, 'MANAGE_IMAGES', user) %}
      <form method="POST" action="{{ image.url }}">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-xs btn-danger">
          Delete
        </button>
      </form>
    {% endif %}
  </div>
{% endblock %}
