{% extends 'layouts/master.html' %}
{% import 'macros/paginate.html' as paginate %}
{% import 'macros/macros.html' as macros %}
{% import 'macros/ads.html' as ads %}

{% block embed %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
  </ol>

  <!-- Viewers -->
  {{ macros.renderViewers(viewers) }}

  {{ ads.topResponsive() }}

  <!-- Page header -->

  <div class="page-header" style="border-color: #000">
    <h3><a href="{{ forum.url }}" style="color: #fff">{{ forum.title }}</a></h3>
    {% if forum.description %}
      <div class="hidden-xs">{{ forum.description }}</div>
    {% endif %}
  </div>

  <!-- Force latest_post_id and latest_post_at refresh -->
  {% if ctx.can(ctx.currUser, 'REFRESH_FORUM', forum) %}
    <div class="well well-sm" style="display: inline-block;">
      Forum Modkit:
      <form action="{{ forum.url }}/refresh" method="post" style="display: inline-block;">
        <button class="btn btn-default btn-xs">
          Refresh Forum
        </button>
        <abbr title="Recalculate forum's latest post to ignore hidden topics. Use this to fix a forum when you hide a spambot's topic and it still shows up as the forum's latest post"
              data-toggle="tooltip"
              style="margin-left: 15px;">
          ?
        </abbr>
      </form>
    </div>
  {% endif %}

  {{ paginate.render(currPage, totalPages, forum.url) }}


  <div class="forum-controls text-right">

    <!-- New Topic button -->

    {% if ctx.can(ctx.currUser, 'CREATE_TOPIC', forum) %}
      <a class="btn btn-primary new-topic-btn" href="{{ forum.url }}/topics/new">
        <span class="glyphicon glyphicon-pencil"></span>
        {% if forum.is_roleplay %}
          New Roleplay
        {% else %}
          New Topic
        {% endif %}
      </a>
    {% endif %}

  </div><!--/forum-controls-->

  <!-- Tabs -->

  {% if forum.parent_forum  %}
    <ul class="nav nav-tabs forum-tabs">
      <li>
        <a href="{{ forum.parent_forum.url }}">
          {{ forum.parent_forum.tab_title || 'Roleplays' }}
        </a>
      </li>
      <li class="active">
        <a href="{{ forum.url }}">
          {{ forum.tab_title || 'Interest Checks' }}
        </a>
      </li>
    </ul>
  {% endif %}

  {% if forum.child_forum  %}
    <ul class="nav nav-tabs forum-tabs">
      <li class="active">
        <a href="{{ forum.url }}">
          {{ forum.tab_title || 'Roleplays' }}
        </a>
      </li>
      <li>
        <a href="{{ forum.child_forum.url }}">
          {{ forum.child_forum.tab_title || 'Interest Checks' }}
        </a>
      </li>
    </ul>
  {% endif %}

  {% if (!forum.child_forum && !forum.parent_forum && !forum.is_roleplay) %}
    <ul class="nav nav-tabs forum-tabs">
      <li class="active"><a href="{{ forum.url }}">Topics</a></li>
    </ul>
  {% endif %}

  <!-- Topic list -->

  {% if forum.topics.length === 0 %}
    <div class="well">
      This forum has no topics yet.
    </div>
  {% endif %}

  {% if forum.topics.length > 0 %}
    <div class="list-group">
      <div class="list-group-item"
           style="background-color: #1D1D1D; border: 1px solid #111;">
        <div class="row">
          {% if forum.is_roleplay %}
            {{ macros.renderCheckItemHeading(topic, forum) }}
          {% elif forum.is_check %}
            {{ macros.renderCheckItemHeading(topic, forum) }}
          {% else %}
            {{ macros.renderTopicItemHeading(topic, forum) }}
          {% endif %}
        </div> <!-- /.row -->
      </div><!-- /.list-group-item -->
      {% for topic in forum.topics %}

        {% if ctx.can(ctx.currUser, 'READ_TOPIC', topic) %}
          {% if forum.is_roleplay %}
            {{ macros.renderCheckItem(topic, forum) }}
          {% elif forum.is_check %}
            {{ macros.renderCheckItem(topic, forum) }}
          {% else %}
            {{ macros.renderTopicItem(topic, forum) }}
          {% endif %}
        {% endif %}

        {% if ctx.can(ctx.currUser, 'READ_TOPIC', topic) %}
        {% endif %}
      {% endfor %}
    </div> <!-- /.list-group -->
  {% endif %}

  <!-- Top -->
  <div style="display: block; margin-bottom: 20px;">
    <a href="#" class="top-link">&uarr; Top</a>
  </div>

  <!-- New Topic button -->

  {% if ctx.can(ctx.currUser, 'CREATE_TOPIC', forum) %}
    <a class="btn btn-primary pull-right" href="{{ forum.url }}/topics/new">
      <span class="glyphicon glyphicon-pencil"></span>
      {% if forum.is_roleplay %}
        New Roleplay
      {% else %}
        New Topic
      {% endif %}
    </a>
  {% endif %}

  <!-- Viewers -->
  {{ macros.renderViewers(viewers) }}

  {{ paginate.render(currPage, totalPages, forum.url) }}

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // Activate tag tooltips
    $('[data-toggle="tooltip"]').tooltip()
  </script>
{% endblock %}
