{% extends 'layouts/master.html' %}
{% import 'macros/paginate.html' as paginate %}
{% import 'macros/macros.html' as macros %}
{% import 'macros/ads.html' as ads %}

{% block embed %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    {% if forum.parent_forum %}
      <li>
        <a href="{{ forum.parent_forum.url }}">
          {{ forum.parent_forum.title }}
        </a>
      </li>
    {% endif %}
  </ol>

  <!-- Viewers -->
  {{ macros.renderViewers(viewers, true) }}

  {{ ads.topResponsive() }}

  <!-- Page header -->

  <div class="page-header" style="border-color: #000">
    <h3><a href="{{ forum.url }}" style="color: #fff">{{ forum.title }}</a></h3>
    {% if forum.description %}
      <div class="hidden-xs">{{ forum.description }}</div>
    {% endif %}
    {% if forum.mods and forum.mods.length > 0 %}
      <img src="/img/arms.png">
      Forum Mods:
      <ul class="list-inline" style="display: inline-block">
      {% for user in forum.mods %}
        <li>
          <a href="{{ user.url }}">
            {{ user.uname }}
          </a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>

  {{ paginate.render(currPage, totalPages, forum.url) }}


  <div class="forum-controls text-right">

    <!-- New Topic button -->

    {% if ctx.can(ctx.currUser, 'CREATE_TOPIC', forum) %}
      <a class="btn btn-primary new-topic-btn" href="{{ forum.url }}/topics/new">
        <span class="glyphicon glyphicon-pencil"></span>
        {% if forum.is_roleplay %}
          New Roleplay
        {% else %}
          New Topic
        {% endif %}
      </a>
    {% endif %}

  </div><!--/forum-controls-->

  <!-- Tabs -->

  <ul class="nav nav-tabs forum-tabs">
  {% for tabbedForum in tabbedForums %}
      <li class="{% if forum.id == tabbedForum.id %}active{% endif %}">
        <a href="{{ tabbedForum.url }}">
          {{ tabbedForum.tab_title or tabbedForum.title  }}
        </a>
      </li>
  {% endfor %}
  </ul>

  <!-- Topic list -->

  {% if forum.topics.length == 0 %}
    <div class="well">
      This forum has no topics yet.
    </div>
  {% endif %}

  {% if forum.topics.length > 0 %}
    <div class="list-group">
      <div class="list-group-item"
           style="background-color: #1D1D1D; border: 1px solid #111;">
        <div class="row">
          {% if forum.is_roleplay %}
            {{ macros.renderCheckItemHeading(topic, forum) }}
          {% elif forum.is_check %}
            {{ macros.renderCheckItemHeading(topic, forum) }}
          {% else %}
            {{ macros.renderTopicItemHeading(topic, forum) }}
          {% endif %}
        </div> <!-- /.row -->
      </div><!-- /.list-group-item -->
      {% for topic in forum.topics %}

        {% if ctx.can(ctx.currUser, 'READ_TOPIC', topic) %}
          {% if forum.is_roleplay %}
            {{ macros.renderCheckItem(topic, forum) }}
          {% elif forum.is_check %}
            {{ macros.renderCheckItem(topic, forum) }}
          {% else %}
            {{ macros.renderTopicItem(topic, forum) }}
          {% endif %}
        {% endif %}

        {% if ctx.can(ctx.currUser, 'READ_TOPIC', topic) %}
        {% endif %}
      {% endfor %}
    </div> <!-- /.list-group -->
  {% endif %}

  <!-- Top -->
  <div style="display: block; margin-bottom: 20px;">
    <a href="#" class="top-link">&uarr; Top</a>
  </div>

  <!-- New Topic button -->

  {% if ctx.can(ctx.currUser, 'CREATE_TOPIC', forum) %}
    <a class="btn btn-primary pull-right" href="{{ forum.url }}/topics/new">
      <span class="glyphicon glyphicon-pencil"></span>
      {% if forum.is_roleplay %}
        New Roleplay
      {% else %}
        New Topic
      {% endif %}
    </a>
  {% endif %}

  <!-- Viewers -->
  {{ macros.renderViewers(viewers, true) }}

  {{ paginate.render(currPage, totalPages, forum.url) }}

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    // Activate tag tooltips
    $('[data-toggle="tooltip"]').tooltip()
  </script>
{% endblock %}
