{% extends 'layouts/master.html' %}

{% block embed %}
  {{ uploadModal(ctx) }}
  {{ editAlbumModal(ctx) }}
  <div class="alert alert-info">
    <strong>Note:</strong>
    <p>
      The image system is new and under construction, so it's a bit rough around the edges. #willimprove
    </p>
    <p>
      Here's the <a href="https://www.roleplayerguild.com/posts/3601560">announcement post</a>.
    </p>
  </div>
  <div class="page-header">
    <h2>
      {{ user.uname }}'s album: {{ album.title }}
      {% if can(ctx.currUser, 'UPLOAD_IMAGE', user) %}
        <button class="btn btn-link"
                data-toggle="modal"
                data-target="#edit-album-modal"
        >
          Edit Title
        </button>
      {% endif %}
      <span class="label label-info">Beta</span>
    </h2>
    <p>
      &larr; <a href="{{ user.url }}/images">Back to {{ user.uname }}'s images</a>
    </p>
    {% if album.markup %}
      <div class="well">
        <p><strong>Description:</strong></p>
  {{ album.markup }}
      </div>
    {% endif %}
  </div>
  {% if can(ctx.currUser, 'UPLOAD_IMAGE', user) %}
    <div class="text-right" style="margin-bottom: 10px;">
      <button class="btn btn-primary"
              data-toggle="modal"
              data-target="#upload-modal"
      >
        <span class="glyphicon glyphicon-plus"></span>
        Upload Image
      </button>
    </div>
  {% endif %}
  {% if images.length == 0 %}
    <div class="well">No images</div>
  {% else %}
    <a name="images"></a>
    <h3>
      Images in this album
      <small>{{ images.length }} total</small>
    </h3>
    {% for image in images %}
      <div style="display: inline-block;">
        <a href="{{ image.url }}">
          <img src="{{ image.src }}" width="200">
        </a>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}



{% macro uploadModal (ctx) %}
  <form method="POST" action="{{ user.url }}/images" enctype="multipart/form-data">
    <input type="hidden" name="album_id" value="{{ album.id }}">
    <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal" style="color: black;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="upload-modal">
              New Image
            </h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-info">
              <p>
                <strong>Notes about the max image size limit:</strong>
              </p>
              <ul>
                <li>
                  You can use <a href="http://picresize.com/">picresize.com</a>
                  to resize your image online and download the resized version.
                </li>
                <li>
                  I'm still figuring out a good size limit on images. If 2 MB
                  is not good enough for you, please post in my
                  <a href="https://www.roleplayerguild.com/topics/75056-mahzs-dev-journal/ooc/last-unread">
                    dev journal
                  </a> and link me to the image you wanted to upload.
                </li>
              </ul>
            </div>
            <div class="form-group">
              <label for="image-input">Image:</label>
              <input type="file" id="image-input" name="image">
              <p class="help-block">
                Max size: ~2 MB (2,000,000 bytes). Must be jpeg, gif, png.
              </p>
            </div>
            <div class="form-group">
              <label for="description-input">Description (optional):</label>
              <textarea id="description-input" name="description"
                        class="form-control"
                        placeholder="Add a note to this image"
                        maxlength="10000"
              ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}



{% macro editAlbumModal (ctx) %}
  <form method="POST" action="{{ user.url }}/albums/{{ album.id }}">
    <input type="hidden" name="_method" value="PUT">
    <div class="modal fade" id="edit-album-modal" tabindex="-1" role="dialog" style="color: black;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
              Edit Album
            </h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title-input">Title:</label>
              <input type="text" id="title-input" name="title" value="{{ album.title }}"
                     maxlength="300"
                     class="form-control"
              >
            </div>
            <div class="form-group">
              <label for="description-input">Description (optional):</label>
              <textarea id="description-input" name="markup"
                        class="form-control"
                        placeholder="Add a description to this album"
                        maxlength="10000"
              >{{ album.markup or '' }}</textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endmacro %}
