{% extends 'layouts/master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>{{ user.uname }}</li>
  </ol>

  <div class="page-header">
      <!-- PM button -->
      {% if ctx.can(ctx.currUser, 'CREATE_CONVO') %}
        <a class="btn btn-primary pull-right"
           href="/convos/new?to={{ encodeURI(user.uname) }}">
          <span class="glyphicon glyphicon-envelope"></span>
          {% if ctx.currUser.id === user.id %}
            Start Private Convo with yourself
          {% else %}
            Start Private Convo with {{ user.uname }}
          {% endif %}
        </a>
      {% endif %}
    <h1>
      <a href="{{ user.url }}">{{ user.uname }}</a>
      <small>{{ user.role|capitalize}}</small>
      {% if ctx.can(ctx.currUser, 'UPDATE_USER', user) %}
        <a href="{{ user.url }}/edit" class="btn btn-default btn-xs">
          Edit
        </a>
      {% endif %}

      {% if ctx.currUser && ctx.currUser.id === user.id && ctx.currUser.notifications_count !== 0 %}
        <form action="/me/notifications" method="post" style="display: inline-block">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="redirect-to" value="{{ ctx.request.url }}">
          <input type="submit"
                 value="Clear {{ ctx.currUser.notifications_count }} Notification{% if ctx.currUser.notifications_count !== 1 %}s{% endif %}"
                 class="btn btn-default btn-xs">
        </form>
      {% endif %}

      {% if ctx.can(ctx.currUser, 'DELETE_USER', user) %}
        <!-- Delete button temporarily disabled -->
      {% endif %}
    </h1>
  </div>

  <div class="row">
    <div class="col-xs-6">

      <!-- Avatar -->
        <div class="media">
      {% if user.avatar_url %}
          <div class="media-left">
            <img src="{{ user.avatar_url }}" class="media-object">
          </div>
      {% endif %}
          <div class="media-body">
            <!-- Stats list -->
            <ul>
                {% if user.is_ghost %}
                  {% if ctx.can(ctx.currUser, 'READ_USER_ONLINE_STATUS', user) %}
                    <li>Last Seen: <span style="color: #000">Invisible</span></li>
                  {% endif %}
                {% else %}
                  <li>Last Seen:
                    {% if user.last_online_at %}
                      {% if user.last_online_at.getTime() >= Date.now() - (1000 * 60 * 15) %}
                        <span style="color: #3BB878">Online now</span>
                      {% else %}
                        <abbr class="timeago" title="{{ user.last_online_at.toISOString() }}">
                          {{ user.last_online_at|formatDate }}
                        </abbr>
                      {% endif %}
                    {% else %}
                      Hasn't logged in since relaunch
                    {% endif %}
                  </li>
                {% endif %}
              </li>
              {% if user.oldguild_uname %}
                <li>Old Guild Username: {{ user.oldguild_uname }}</li>
              {% endif %}
              <li>
                Joined:
                <abbr class="timeago" title="{{ user.created_at.toISOString() }}">
                  {{ user.created_at|formatDate }}
                </abbr>
              </li>
              <li>Posts: {{ user.posts_count }}</li>
              {% if ctx.can(ctx.currUser, 'READ_USER_PM_SENT_COUNT', user) %}
                <li>PMs: {{ user.pms_count }}</li>
              {% endif %}
            </ul>
          </div>
        </div>


    </div><!-- col-6 -->


    <div class="col-xs-6">
      <!-- Ratings table -->
      {% if ctx.can(ctx.currUser, 'READ_USER_RATINGS_TABLE', user) %}
        <table class="table table-condensed rating-table">
          <thead>
            <tr style="border-bottom: 2px solid #333;">
              <th>Rating</th>
              <th>Received</th>
              <th>Given</th>
            </tr>
          </thead>
          <tbody>
            {% for type in ['like', 'thank', 'laugh'] %}
              <tr>
                <td>
                  {{ type|capitalize }}s
                  <img src="{{ type|ratingTypeToImageSrc }}">
                </td>
                <td>
                  {% if user.ratings_received[type] > 0 %}
                    <span style="color: #3bb878; text-shadow: 0px 0px 1px #3bb878;">
                      {{ user.ratings_received[type] }}
                    </span>
                  {% else %}
                    <span class="text-muted">
                    {{ user.ratings_received[type] }}
                    </span>
                  {% endif %}
                </td>
                <td>
                  {% if user.ratings_given[type] > 0 %}
                    <span style="color: #3bb878; text-shadow: 0px 0px 1px #3bb878;">
                      {{ user.ratings_given[type] }}
                    </span>
                  {% else %}
                    <span class="text-muted">
                    {{ user.ratings_given[type] }}
                    </span>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            <tr style="border-top: 2px solid #333;">
              <td>
                Total
              </td>
              <td>
                {% set total_received =  user.ratings_received|sumValues %}
                {% if total_received > 0 %}
                  <span style="color: #3bb878; text-shadow: 0px 0px 1px #3bb878;">
                    {{ total_received }}
                  </span>
                {% else %}
                  <span class="text-muted">
                  {{ total_received }}
                  </span>
                {% endif %}
              </td>
              <td>
                {% set total_given =  user.ratings_given|sumValues %}
                {% if total_given > 0 %}
                  <span style="color: #3bb878; text-shadow: 0px 0px 1px #3bb878;">
                    {{ total_given }}
                  </span>
                {% else %}
                  <span class="text-muted">
                  {{ total_given }}
                  </span>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <p class="text-muted">
          Use ratings to give kudos to posts you liked, thought were funny, or found helpful.<br>Please don't abuse the system.
        </p>
      {% endif %}
    </div> <!-- /.col-6 -->

    </div><!-- /row -->

  <!-- BIO -->

  <a name="bio"></a>
  <div class="row">
    <div class="col-sm-12">
      <h3>
        Bio
        {% if ctx.can(ctx.currUser, 'UPDATE_USER', user) %}
          <button type="button"
                  class="btn btn-xs btn-default"
                  id="edit-bio"
                  data-user-id="{{ user.id }}">Edit</button>
        {% endif %}
      </h3>
      <div class="user-bio well">
        {% if user.bio_html %}
          {{ user.bio_html|safe }}
        {% else %}
          User has no bio, yet
        {% endif %}
      </div>
    </div>
  </div>

  <!-- User profile tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="{{ ctx.request.url }}">Recent Posts</a></li>
  </ul>
  <!-- /tabs -->


      <!-- Most recent posts -->

      <a name="recent-posts"></a>
      <h3>Most Recent Posts</h3>

      <!-- Pagination -->

      {% if user.posts_count > 1 %}
        <ul class="pager">
          <li>
            <a href="{{ ctx.request.path }}#recent-posts">
              First Page
            </a>
          </li>
          {% if recentPosts.length < recentPostsPerPage %}
            <li class="disabled">
              <a href="{{ ctx.request.url }}">
                Next Page &rarr;
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ ctx.request.path }}?before-id={{ nextBeforeId }}#recent-posts">
                Next Page &rarr;
              </a>
            </li>
          {% endif %}
        </ul>
      {% endif %}

      <!-- Recent post list -->

      {% if user.posts_count === 0 %}
        <div class="well">
          User has no posts, yet
        </div>
      {% endif %}

      {% for post in recentPosts %}
        <div class="panel panel-default">
          <div class="panel-heading">
            In
            <a href="{{ post.url }}" style="color: #ffc300">
              {{ post.topic.title }}
            </a>
            <abbr class="timeago" title="{{ post.created_at.toISOString() }}">
              {{ post.created_at|formatDate }}
            </abbr>
          </div>
          <div class="panel-body" style="max-height: 100px; overflow: auto">
            {% if post.html %}
              <div class="post-body-html">{{ post.html|safe }}</div>
            {% elif post.legacy_html %}
              <div class="post-body-html">{{ post.legacy_html|safe }}</div>
            {% else %}
              <div class="post-body">{{ post.text }}</div>
            {% endif %}
          </div>
        </div>
      {% endfor %}


      <!-- Pagination -->

      {% if user.posts_count > 1 %}
        <ul class="pager">
          <li>
            <a href="{{ ctx.request.path }}#recent-posts">
              First Page
            </a>
          </li>
          {% if recentPosts.length < recentPostsPerPage %}
            <li class="disabled">
              <a href="{{ ctx.request.url }}">
                Next Page &rarr;
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ ctx.request.path }}?before-id={{ nextBeforeId }}#recent-posts">
                Next Page &rarr;
              </a>
            </li>
          {% endif %}
        </ul>
      {% endif %}


  <!-- These exist for storing values for ajax interaction -->
  <div id="bio-markup" style="display: none">{{ user.bio_markup }}</div>
  <div id="bio-html" style="display: none">{{ user.bio_html }}</div>

{% endblock %}

{% block scripts %}
  <script>
    $('#edit-bio').on('click', function() {
      console.log('click');
      var userId = $(this).attr('data-user-id');
      var $cancelBtn = $('<button style="margin-left: 5px;" class="btn btn-default post-edit-cancel-btn">Cancel</button>');
      var $editor = $('<textarea class="editor form-control">'+$('#bio-markup').text()+'</textarea>');
      $('.user-bio').html(
        "<p>Write whatever you want in your bio. Everyone can see it, even people not logged in.</p>"+
        "<p>Ideas: Introduce yourself, keep a list of roleplays you're involved in, describe what kind of roleplays/partners you're looking for, provide off-site contact info, share some hilarious jokes, share art, share dank memes, etc.</p>"+
        "<p>Must be no more than {{ ctx.config.MAX_BIO_LENGTH }} chars</p>"
      );
      $('.user-bio').append($editor);
      $editor.bbcode({
        charLimit: {{ ctx.config.MAX_BIO_LENGTH }},
        savable: true,
        onSave: function(e) {
          console.log('Saving');
          var newBioMarkup = e.getContent();
          $.ajax({
            url: '/api/users/' + userId + '/bio',
            dataType: 'json',
            type: 'POST',
            headers: { 'X-HTTP-Method-Override': 'PUT' },
            data: { markup: newBioMarkup },
            success: function(updatedUser) {
              $('.user-bio').html(updatedUser.bio_html || 'User has no bio, yet');
              $('#bio-markup').text(updatedUser.bio_markup);
              $('#bio-html').text(updatedUser.bio_html);
            }
          });
        }
      });

      $cancelBtn.insertAfter(
        $('.user-bio .md-footer button[data-handler="cmdSave"]')
      );

      $cancelBtn.on('click', function() {
        $('.user-bio').html($('#bio-html').text() || 'User has no bio, yet');
      });
    });
  </script>
{% endblock %}
