{% extends 'layouts/master.html' %}
{% import './macros/paginate.html' as paginate %}
{% import './macros/macros.html' as macros %}
{% import './macros/ads.html' as ads %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/me/convos">Private Convos</a></li>
  </ol>

  <!-- Participants list -->
  <div class="well">
    <h4>Participants</h4>
    <p>These are the only people that can see these messages and respond to them.</p>
    <ul>
      {% for user in convo.participants %}
        <li><a href="{{ user.url }}">{{ user.uname }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {{ ads.topResponsive() }}

  <!-- Folder update -->

  <div class="well">
    <form action="{{ convo.url }}/folder" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <label for="folder-input" class="control-label">
        Folder:
        <span style="font-weight: normal;" class="text-muted">(Currently <u>{{ folder | capitalize }}</u>)</span>
      </label>

      <div class="row">
        <div class="col-lg-10">
          <select id="folder-input" class="form-control" name="folder" style="background-color: #ccc;">
            <option value="INBOX" {% if folder == 'INBOX' %}selected{% endif %}>
              Inbox
            </option>
            <option value="STAR" {% if folder == 'STAR' %}selected{% endif %}>
              Starred
            </option>
            <option value="ARCHIVE" {% if folder == 'ARCHIVE' %}selected{% endif %}>
              Archive
            </option>
            <option value="TRASH" {% if folder == 'TRASH' %}selected{% endif %}>
              Trash
            </option>
          </select>
        </div>
        <div class="col-lg-2">
          <button type="submit" class="btn btn-primary btn-block">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Pagination -->
  {{ paginate.render(currPage, totalPages, ctx.request.path, '', '#hi') }}

  <div class="page-header" style="border: 0">
    <h2><a href="{{ convo.url }}" style="color: #fff">{{ convo.title }}</a></h2>
  </div>

  <!-- Pms list -->

  <!-- set `post` for now so that I can easily share logic with
       show_topic.html until I decide whether to unify or diverge posts/pms-->
  {% for post in convo.pms %}
    <a name="post-{{ post.id }}"></a>
    <div class="panel panel-default post"
         id="post-{{ post.id }}"
         style="border: 1px solid #111;">
      <div class="panel-heading clearfix"
           style="background-color: #1D1D1D; border-color: #111; border-radius: 0">
        <span class="pull-left">
          {{ macros.timeago(post.created_at) }}
        </span>
        <div class="pull-right post-header">
          <a href="{{ post.url }}/raw">View Raw</a> -

          <a href="{{ post.url }}" rel="nofollow" class="post-permalink"
              data-post-id="{{ post.id }}"
          >
            <span class="glyphicon glyphicon-link"></span>
          </a>
        </div>
      </div> <!-- /.panel-heading -->

      <!-- Panel body -->
      <div class="panel-body" style="background-color: #2E2C2C">

        <!-- Author metadata -->
        <div class="col-sm-2 clearfix text-center post-user-meta">


            <!-- For small devices -->
            <div class="visible-xs-block">
              {{ macros.renderUserbitSmall(ctx, post.user) }}
              <hr class="small-userbit-divider">
            </div> <!-- /small devices -->

            <!-- For larger-than-smartphone devices -->
            <div class="hidden-xs">
              <div class="user-uname">
                <a href="{{ post.user.url }}">
                  {{ post.user.uname }}
                </a>
              </div>

              {% if post.user.avatar_url %}
                <div class="post-avatar"
                     style="margin-top: 10px;">
                  <img src="{{ post.user.avatar_url}}" alt="Avatar of {{ post.user.uname }}">
                </div>
              {% endif %}

              <div class="user-role" style="margin-top: 10px;">
                {{ post.user.role|presentUserRole }}
              </div>

              <!-- Online status -->

              {{ macros.onlineStatus(ctx, post.user) }}

            </div> <!-- /.hidden-xs -->

        </div> <!-- /.col-sm-2 post-meta -->

        <!-- Post text -->
        <div class="col-sm-10">
          <!-- Post text -->
          {{ macros.renderPost(ctx, post) }}
          <!-- Signature -->
          {{ macros.renderSig(ctx, post.user) }}
        </div>

      </div> <!-- /.panel-body -->

      <!-- Panel footer -->
      <div class="panel-footer clearfix"
           style="background-color: #2E2C2C; border-radius: 0; border: 0">
        <!-- Reply button -->
        <a href=""
           class="btn btn-default btn-xs pull-right post-reply-btn"
           post-id="{{ post.id }}"
           post-uname="{{ post.user.uname }}"
           style="margin-left: 5px"
           {% if not ctx.can(ctx.currUser, 'CREATE_PM', convo) %}disabled{% endif %}
           >Quote</a>
        <!-- Edit button -->
        {% if ctx.can(ctx.currUser, 'UPDATE_PM', post) %}
          <a href="{{ post.url }}/edit"
             class="btn btn-default btn-xs pull-right post-edit-btn"
             style="margin-left: 5px;"
             post-id={{ post.id }}
            >Edit</a>
        {% endif %}
      </div> <!-- /.panel-footer -->
    </div> <!-- /.panel -->
  {% endfor %}

  <!-- Top -->
  <div style="display: block; margin-bottom: 20px;">
    <a href="#" class="top-link">&uarr; Top</a>
  </div>

  <!-- Pagination -->
  {{ paginate.render(currPage, totalPages, ctx.request.path, '', '#hi') }}

  <!-- New post forum -->

  {% if can(ctx.currUser, 'CREATE_PM', convo) %}
    <h2>New Reply</h2>

    <ul>
      <li>Before submitting your post, it's wise to copy it somewhere so that you don't lose it in the event of server error.</li>
      <li>Check out the BBCode Cheatsheet below the editor. It's pretty basic for now, but I will add more BBCode over time. Check the cheatsheet every once in a while for updates.</li>
      <li>Post limit: {{ ctx.config.MAX_POST_LENGTH|commafy }} chars</li>
    </ul>
    <form id="reply-form" role="form" method="post" action="{{ convo.url }}/pms">
      <div class="form-group">
        <textarea rows=10
                  id="reply-input"
                  name="markup"
                  class="form-control"
                  placeholder="Click here and begin writing"></textarea>
      </div>
      <input type="submit" class="btn btn-primary" value="Post Reply"></input>
    </form>

    {% include 'partials/bbcode_cheatsheet.html' %}
  {% endif %}

{% endblock %}

{% block scripts %}
  <script>
      $('input[type="submit"]').on('click', function(e) {
        var $this = $(this);
        if ($this.data('already-clicked'))
          return false;
        $this.data('already-clicked', true);
      });
  </script>
  <script>
    // Render posts only as they appear in the user's browser
    $('.post-body, .post-sig-markdown').appear();
    $('.post-body, .post-sig-markdown').on('appear', function(e) {
      if (!$(this).attr('data-rendered')) {
        var $this = $(this);
        $this.html(markdown.toHTML($this.text()));
        $this.attr('data-rendered', true);
      }
    });
  </script>

  {% if can(ctx.currUser, 'CREATE_PM', convo) %}
    <script>
      $(function() {
        $('#reply-input').bbcode({
          charLimit: {{ ctx.config.MAX_POST_LENGTH }}
        });
      });
    </script>
  {% endif %}

  {#
          REPLY BUTTON
  #}
  <script>
$(function() {
  $('.post-reply-btn').click(function(e) {
    e.preventDefault();
    $reply_btn = $(this);
    $reply_btn.addClass('disabled').html('Loading...');
    var post_id = $reply_btn.attr('post-id');
    var uname = $reply_btn.attr('post-uname');
    var post_url = '/pms/' + post_id + '/raw';
    $.get(post_url, function(markup) {
      console.log('returned')
      $reply_btn.removeClass('disabled').html('Quote');

      var quote_markup = '[quote=@' + uname + ']\n' +
        extractTopLevelMarkup(markup)  +
        '\n[/quote]\n';

      var $reply_textarea = $('#reply-form textarea');
      var prev_content = $('textarea').val().trim();
      // Only add \n\n padding if there was already content in textarea
      var padding = (function() {
        if (prev_content.length === 0) {
          return '';
        }
        return '\n\n'
      })();
      $reply_textarea.focus().val('').val(prev_content + padding + quote_markup + '\n');
      $reply_textarea.scrollTop($reply_textarea[0].scrollHeight);

      $('html, body').animate({
        scrollTop: $reply_textarea.offset().top
      }, 100);

    });
  });
});
  </script>

  {#
          EDIT POST BUTTON
  #}
  <script>
$(function() {
  $('.post-edit-btn').click(function(e) {
    e.preventDefault();
    $post_edit_btn = $(this);
    $post_edit_btn.addClass('disabled');
    var post_id = $(this).attr('post-id');
    var $post_body = $('#post-' + post_id + ' .post-content');
    var prev_body = $post_body.html();
    var $spinner = $('<span><img src="/img/spinner.gif"> Loading edit form...</span>');
    $post_body.html($spinner);
    $cancel_btn = $('<button style="margin-left: 5px;" class="btn btn-default post-edit-cancel-btn">Cancel</button>');

    $.ajax({
      url: '/pms/' + post_id + '/raw',
      dataType: 'html',
      cache: false,
      success: function(post_text) {
        console.log(post_text);
        var $post_editor = $('<textarea class="post-editor form-control"></textarea>');
        $spinner.remove();

        // Warn about Markdown->BBCode conversion on Markdown posts.
        // A post is a Markdown post if its post-body is wrapped with
        // .post-body instead of .post-body-html
        if ($('#post-' + post_id + ' .post-body')[0]) {
          $post_body.append(
            '<p style="color: salmon">'+
            'This PM uses the old formatting system (Markdown) before we had BBCode. If you click "Save", then the forum will assume that you\'ve converted this PM to BBCode. If you don\'t want that to happen, then click "Cancel".'+
            '</p><p style="color: salmon">'+
            'For example, <code>[Click Me](http://example.com)</code> (Old system) is now <code>[url=http://example.com]Click Me[/url]</code> (BBCode)'+
            '</p>'
          );
        }
        $post_body.append($post_editor);
        $post_editor.bbcode({
          charLimit: {{ ctx.config.MAX_POST_LENGTH }},
          savable: true,
          onSave: function(e) {
            //
            $success_btn = $post_body.find('.btn-success');
            $success_btn.html('Saving...');
            $success_btn.attr('disabled', true);
            $post_body.find('.btn').attr('disabled', true);

            var text_to_save = e.getContent();
            $.ajax({
              url: '/api/pms/' + post_id,
              dataType: 'json',
              type: 'POST',
              headers: { 'X-HTTP-Method-Override': 'PUT' },
              data: { markup: text_to_save },
              success: function(updated_post) {
                $post_body.html(updated_post.html);
                $post_edit_btn.removeClass('disabled');
                // Set the post's .edited-marker to ' edited'
                var $edited_marker = $('#post-' + post_id + ' .edited-marker')
                $edited_marker.html(' edited');
              }
            })
          }
        });

        // Gotta set the text before the .markdown() call or else
        // .markdown() escapes html entities.
        $post_body.find('textarea').val(post_text)

        // Scroll to editor over 500ms so user can re-orient themselves
        $('body').animate({
            scrollTop: $post_body.offset().top
        }, 500);

        $cancel_btn.insertAfter(
          $('#post-' + post_id + ' .md-footer button[data-handler="cmdSave"]')
        );

        $($cancel_btn).click(function() {
          $post_body.html(prev_body);
          $post_edit_btn.removeClass('disabled');
        });
      }
    });

    return false;
  });
});
  </script>

  <script>
   var $el
   if (window.location.hash === '#hi') {
     $el = $('input[name="page"]').first()
   } else if (window.location.hash === '#lo') {
     $el = $('input[name="page"]').last()
   }
   if ($el) {
     $el.focus().select()
     removeHash()
   }

    function removeHash () {
        var scrollV, scrollH, loc = window.location;
        if ("pushState" in history)
            history.pushState("", document.title, loc.pathname + loc.search);
        else {
            // Prevent scrolling by storing the page's current scroll offset
            scrollV = document.body.scrollTop;
            scrollH = document.body.scrollLeft;

            loc.hash = "";

            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scrollV;
            document.body.scrollLeft = scrollH;
        }
    }
  </script>

  {# Sync with show_topic #}
  <script>
    var buildPopoverContent = function() {
      var post_id = $(this).attr('data-post-id');
      var html = '<input class="form-control permalink-input" type="text" value="{{ config.HOST }}/pms/' + post_id + '" readonly><br><div class="text-center"><button type="button" class="permalink-close btn btn-default btn-xs">Close</button></div>';
      return html;
    }

    $(document).on('click', '.permalink-input', function(e) {
        $(e.target).focus().select();
    });

    $('.post-permalink').popover({
      html: true,
      content: buildPopoverContent,
      trigger: 'click',
      placement: 'bottom',
      title: 'Permalink to this PM'
    });

    $('.post-permalink').on('shown.bs.popover', function(e) {
      var popover_id = $(this).attr('aria-describedby');
      $('#' + popover_id + ' .permalink-input').focus().select();
    });

    $(document).on('click', '.permalink-close', function() {
      $('.post-permalink').popover('hide');
    });

    $('.post-permalink').on('click', function(e) {
      e.preventDefault();
    });
  </script>
{% endblock%}
