{% extends 'layouts/master.html' %}
{% import './macros/macros.html' as macros %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/trophy-groups">Trophy Groups</a></li>
    <li>{{ group.title }}</li>
  </ol>

  <div class="page-header" style="border-color: #000">
    {% if ctx.can(ctx.currUser, 'UPDATE_TROPHY_GROUP', group) %}
      <a href="/trophy-groups/{{ group.id }}/edit"
         class="btn btn-default btn-xs pull-right"
      >
        Edit
      </a>
    {% endif %}
    <h1>{{ group.title }}</h1>
  </div>

  <!-- Group description -->


  {% if group.description_html %}
    <h4>Description:</h4>
    <div style="margin-left: 20px;">
      {{ group.description_html|safe }}
    </div>
  {% endif %}

  <!-- List trophies -->

  <h2>Trophies in this group</h2>

  {% if trophies.length == 0 %}
    <div class="well">
      This trophy collection has no trophies, yet
    </div>
  {% endif %}

  {% if trophies.length > 0 %}
    <ul>
      {% for trophy in trophies %}
        <li>
          <a href="/trophies/{{ trophy.id }}">{{ trophy.title }}</a>
          Created
          {{ macros.timeago(trophy.created_at) }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
