{% extends 'layouts/master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">IP Address Lookup</li>
  </ol>

  <div class="page-header" style="border-color: #000">
    <h3>Users with IP Address: <code>{{ ip_address }}</code></h3>
  </div>

  <h2>Posts</h2>
  {% if postsTable|isEmpty %}
    <span class="text-muted">No posts found with that IP address</span>
  {% else %}
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>Posts with this IP</th>
          <th>Latest post with this IP</th>
        </tr>
      </thead>
      <tbody>
        {% for row in postsTable %}
          <tr>
            <td><a href="/users/{{ row.slug }}">{{ row.uname }}</a></td>
            <td>{{ row.count }}</td>
            <td>
              <abbr class="timeago" title="{{ row.latest_at.toISOString() }}">
                {{ row.latest_at|formatDate }}
              </abbr>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}


  <h2>PMs</h2>
  {% if pmsTable|isEmpty %}
    <span class="text-muted">No PMs found with that IP address</span>
  {% else %}
    <table class="table">
      <thead>
        <tr>
          <th>User</th>
          <th>PMs with this IP</th>
          <th>Latest PM with this IP</th>
        </tr>
      </thead>
      <tbody>
        {% for row in pmsTable %}
          <tr>
            <td>{{ row.uname }}</td>
            <td>{{ row.count }}</td>
            <td>
              <abbr class="timeago" title="{{ row.latest_at.toISOString() }}">
                {{ row.latest_at|formatDate }}
              </abbr>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

{% endblock %}

{% block scripts %}
{% endblock %}
