{% extends 'layouts/master.html' %}
{% import 'macros/paginate.html' as paginate %}

{% block embed %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
  </ol>

  <!-- Page header -->

  <div class="page-header" style="border-color: #000">
    <h3><a href="{{ forum.url }}" style="color: #fff">{{ forum.title }}</a></h3>
    {% if forum.description %}
      <div>{{ forum.description }}</div>
    {% endif %}
  </div>

  {{ paginate.render(currPage, totalPages, forum.url) }}


  <!-- New Topic button -->

  {% if ctx.can(ctx.currUser, 'CREATE_TOPIC', forum) %}
    <a class="btn btn-primary pull-right" href="#new-topic-form">
      <span class="glyphicon glyphicon-pencil"></span>
      {% if forum.is_roleplay %}
        New Roleplay
      {% else %}
        New Topic
      {% endif %}
    </a>
  {% endif %}

  <!-- Tabs -->

  {% if forum.parent_forum  %}
    <ul class="nav nav-tabs">
      <li><a href="{{ forum.parent_forum.url }}">Roleplays</a></li>
      <li class="active"><a href="{{ forum.url }}">Interest Checks</a></li>
    </ul>
  {% endif %}

  {% if forum.child_forum  %}
    <ul class="nav nav-tabs">
      <li class="active"><a href="{{ forum.url }}">Roleplays</a></li>
      <li><a href="{{ forum.child_forum.url }}">Interest Checks</a></li>
    </ul>
  {% endif %}

  {% if (!forum.child_forum && !forum.parent_forum && !forum.is_roleplay) %}
    <ul class="nav nav-tabs">
      <li class="active"><a href="{{ forum.url }}">Topics</a></li>
    </ul>
  {% endif %}

  <!-- Topic list -->

  {% if forum.topics.length === 0 %}
    <div class="well">
      This forum has no topics yet.
    </div>
  {% endif %}

  {% if forum.topics.length > 0 %}
    <div class="list-group">
      <div class="list-group-item"
           style="background-color: #1D1D1D; border: 1px solid #111;">
        <div class="row">
          <div class="col-xs-6">Topics</div>
          <div class="col-xs-1"></div>
          <div class="col-xs-2">Posts</div>
          <div class="col-xs-3">Latest Post</div>
        </div> <!-- /.row -->
      </div><!-- /.list-group-item -->
      {% for topic in forum.topics %}
        {% if ctx.can(ctx.currUser, 'READ_TOPIC', topic) %}
          <div class="list-group-item"
               style="background-color: #3d3a3a; border: 1px solid #111; color: #fff;">
            <div class="row">
              <div class="col-xs-6">
                <h5 class="list-group-item-heading topic-panel-title">
                  {% if topic.is_closed %}
                    <span class="label label-default">Closed</span>
                  {% endif %}
                  {% if topic.is_hidden %}
                    <span class="label label-warning">Hidden</span>
                  {% endif %}
                  {% if topic.is_sticky %}
                    <span class="label label-primary">Sticky</span>
                  {% endif %}
                  <a href="{{ topic.url }}">{{ topic.title }}</a>
                  <div style="margin-top: 6px;">
                    by <a href="{{ topic.user.url }}" style="color: #fff">
                      {{ topic.user.uname -}}
                    </a>,
                    <abbr class="timeago"
                          title="{{ topic.created_at.toISOString() }}">
                      {{ topic.created_at|formatDate }}
                    </abbr>
                  <div>
                </h5>
              </div>
              <div class="col-xs-1"></div>
              <div class="col-xs-2">{{ topic.posts_count|commafy }}</div>
              <!-- Latest post -->
              <div class="col-xs-3">
                <div>
                  by <a href="{{ topic.latest_user.url }}" style="color: #fff">{{ topic.latest_user.uname }}</a>
                <a href="{{ topic.latest_post.url }}">
                  <span class="glyphicon glyphicon-link"></span>
                  &rarr;
                </a>
                </div>
                <abbr class="timeago"
                      title="{{ topic.latest_post.created_at.toISOString() }}">
                  {{ topic.latest_post.formattedCreatedAt }}
                </abbr>
              </div>
            </div> <!-- /.row -->
          </div> <!-- /.list-group-item -->
        {% endif %}
      {% endfor %}
    </div> <!-- /.list-group -->
  {% endif %}

  {{ paginate.render(currPage, totalPages, forum.url) }}

  <!-- New post forum -->

  {% if ctx.can(ctx.currUser, 'CREATE_TOPIC', forum) %}
    {% if forum.is_roleplay %}
      <h2>New Roleplay</h2>
    {% else %}
      <h2>New Topic</h2>
    {% endif %}

    <form id="new-topic-form" role="form" method="post"
          action="{{ forum.url }}/topics">
      <input type="hidden" name="forum-id" value="{{ forum.id }}">
      <div class="form-group">
        <input type="text"
               placeholder="Topic Title"
               name="title"
               class="form-control">
      </div>
      <div class="form-group">
        <textarea rows=10
                  id="reply-input"
                  name="markup"
                  class="form-control"
                  placeholder="Click here and begin writing"></textarea>
      </div>
      <input type="submit" class="btn btn-primary" value="Create Topic"></input>
    </form>
    {% include 'partials/markdown_cheatsheet.html' %}
  {% endif %}

{% endblock %}

{% block scripts %}
  <script>
      $('input[type="submit"]').on('click', function(e) {
        var $this = $(this);
        if ($this.data('already-clicked'))
          return false;
        $this.data('already-clicked', true);
      });
  </script>
  <script>
    $(function() {
      $('#reply-input').bbcode();
    });
  </script>
{% endblock %}
