{% extends 'layouts/master.html' %}
{% import './macros/paginate.html' as paginate %}
{% import './macros/macros.html' as macros %}
{% import './macros/ads.html' as ads %}

{% block embed %}

  <!-- Breadcrumbs -->

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{{ topic.forum.url }}">{{ topic.forum.title }}</a></li>
  </ol>

  <!-- Viewers -->
  {{ macros.renderViewers(viewers) }}

  <!-- Top ad -->
  {{ ads.topResponsive() }}

  <!-- Page header -->

  <div class="page-header topic-page-header" style="border: 0;">
    <h2 class="topic-heading">
      {% if topic.is_closed %}
        <span class="glyphicon glyphicon-lock text-muted" title="Closed" data-toggle="tooltip"></span>
      {% endif %}
      {% if topic.is_sticky %}
        <span class="glyphicon glyphicon-pushpin" style="color: #2FAECE;" title="Sticky" data-toggle="tooltip"></span>
      {% endif %}
      {% if topic.is_hidden %}
        <span class="label label-warning">Hidden</span>
      {% endif %}
      <a href="{{ topic.url }}" style="color: #fff">
        {% if topic.is_roleplay %}
          <span class="post-type-label">[{{ postType.toUpperCase() }}]</span>
        {% endif %}
        {{ topic.title }}
        {% if currPage > 1 %}
          <small>Page {{ currPage }}</small>
        {% endif %}
      </a>
    </h2>

    <!-- -->

    {% if can(ctx.currUser, 'UPDATE_TOPIC', topic) %}
      <a href="{{ topic.url }}/edit" style="margin-bottom: 10px;"
         class="btn btn-xs btn-default">Edit Topic</a>
    {% endif %}

    {% if can(ctx.currUser, 'ACCESS_TOPIC_MODKIT', topic) %}
      <button type="button"
              id="toggle-topic-modkit"
              class="btn btn-default btn-xs"
              style="margin-bottom: 10px;"
              >Toggle Modkit</button>
    {% endif %}


    <!-- Topic state buttons -->

    {% if can(ctx.currUser, 'ACCESS_TOPIC_MODKIT', topic) %}
    <div class="topic-modkit" style="display: none;">

      <!-- STICK -->
      {% if can(ctx.currUser, 'STICK_TOPIC', topic) %}
        <form action="{{ topic.url }}/status" method="post">
          <input type="hidden" name="_method" value="put">
          {% if topic.is_sticky %}
            <input type="hidden" name="status" value="unstick">
            <button type="submit" class="btn btn-primary btn-xs">Unstick</button>
          {% else %}
            <input type="hidden" name="status" value="stick">
            <button type="submit" class="btn btn-default btn-xs">Stick</button>
          {% endif %}
        </form>
      {% endif %}

      <!-- HIDE -->
      {% if can(ctx.currUser, 'HIDE_TOPIC', topic) %}
        <form action="{{ topic.url }}/status" method="post">
          <input type="hidden" name="_method" value="put">
          {% if topic.is_hidden %}
            <input type="hidden" name="status" value="unhide">
            <button type="submit" class="btn btn-warning btn-xs">Unhide</button>
          {% else %}
            <input type="hidden" name="status" value="hide">
            <button type="submit" class="btn btn-default btn-xs">Hide</button>
          {% endif %}
        </form>
      {% endif %}

      <!-- CLOSE -->
      {% if can(ctx.currUser, 'CLOSE_TOPIC', topic) %}
        <form action="{{ topic.url }}/status" method="post">
          <input type="hidden" name="_method" value="put">
          {% if topic.is_closed %}
            <input type="hidden" name="status" value="open">
            <button type="submit" class="btn btn-success btn-xs">Open</button>
          {% else %}
            <input type="hidden" name="status" value="close">
            <button type="submit" class="btn btn-default btn-xs">Close</button>
          {% endif %}
        </form>
      {% endif %}

     <!-- MOVE -->
     {% if can(ctx.currUser, 'MOVE_TOPIC', topic) %}
        <div style="display: inline-block;" class="well well-sm">
        Move topic:
        <form action="{{ topic.url }}/move" method="post">

          <!-- Destination forum -->
           <select name="forum-id">
             {% for c in categories %}
              <optgroup label="{{ c.title }}"></optgroup>
              {% for f in c.forums %}
                <option style="padding-left: 15px" value="{{ f.id }}">
                  &mdash; {{ f.title }}
                </option>
              {% endfor %}
             {% endfor %}
           </select>

          <!-- Leave redirect? -->
          <label>
            Leave redirect?
            <input type="checkbox" name="leave-redirect?" checked>
          </label>

          <input type="submit" class="btn btn-default btn-xs" value="Move Topic"
                 style="margin-left: 20px;">
        </form>
        </div>
     {% endif %}

    </div><!--/.topic-controls-->
    {% endif %}

    <!-- List topic tags -->
    {% if topic.tags %}
      <ul class="list-inline" style="margin: 0 0 5px 0;">
        {% for tag in topic.tags %}
          <li data-toggle="tooltip" title="{{ tag.description }}"
              style="padding: 0;">
            <span class="label label-default">{{ tag.title }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- List topic GM/co-GMs -->
    {% if topic.is_roleplay %}
      <ul class="list-inline" style="margin-bottom: 5px;">
        <li>
          <span class="label label-primary">GM</span>
          <a href="/users/{{ topic.user.uname|slugifyUname }}">{{ topic.user.uname }}</a>
        </li>
        {% for uname in topic.co_gm_unames %}
          <span class="label label-warning" style="margin-left: 10px;">Co-GM</span>
          <a href="/users/{{ uname|slugifyUname }}">{{ uname }}</a>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- Join status -->

    {% if topic.join_status %}
      <div class="join-status-box">
        <span class="a">Join Status:</span>
        <abbr title="{{ topic.join_status|expandJoinStatus }}" data-toggle="tooltip" class="join-status join-status-{{ topic.join_status }}">
          {{ topic.join_status|capitalize }}
        </abbr>
      </div>
    {% endif %}

    <!-- Ranked & Arena Outcomes -->

    {% if topic.forum.is_arena_rp %}
      <div>
        Ranked:
        {% if topic.is_ranked %}
          <span style="color:#e67e22;">
            <span class="glyphicon glyphicon-fire"></span>Yes
          </span>

          {% if topic.arena_outcomes.length > 0 %}
            <ul>
              {% for o in topic.arena_outcomes %}
                <li>
                  <a href="/users/{{ o.uname|slugifyUname }}">{{ o.uname }}</a>
                  {{ o.outcome|outcomeToElement|safe }}
                  <span class="text-muted">
                    &mdash; Awarded by
                    <a href="/users/{{ o.inserted_by_uname|slugifyUname }}">{{ o.inserted_by_uname }}</a>
                  </span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% else %}
          No
        {% endif %}
      </div>
    {% endif %}

  </div><!--/.page-header-->

  <!-- Pagination -->
  {{ paginate.render(currPage, totalPages, ctx.request.path, '', '#hi') }}

  <div class="topic-controls">

    {% if ctx.currUser %}
      <!-- Search button -->
      <div class="btn-group">
        <a class="btn btn-default" href="/search?topic_id={{ topic.id }}">
          Search Topic
        </a>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <!-- <li class="divider"></li> -->
          <li><a href="/search?topic_id={{ topic.id }}&unames={{ ctx.currUser.uname | encodeURIComponent }}">Find My Posts</a></li>
        </ul>
      </div>
    {% endif %}

    <!-- Subscribe button -->

    {% if can(ctx.currUser, 'SUBSCRIBE_TOPIC', topic) %}
      {% if topic.is_subscribed %}
        <form action="{{ topic.subscriptionUrl }}?redirectTo={{ ctx.url | encodeURIComponent }}" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger" style="margin-right: 0px">
            <span class="glyphicon glyphicon-remove"></span>
            Unsubscribe
          </button>
        </form>
      {% else %}
        <form action="/me/subscriptions?redirectTo={{ ctx.url | encodeURIComponent }}" method="post">
          <input type="hidden" name="topic-id" value="{{ topic.id }}">
          <button type="submit" class="btn btn-success" style="margin-right: 0px">
            <span class="glyphicon glyphicon-plus"></span>
            Subscribe
          </button>
        </form>
      {% endif %}
    {% endif %}

    <!-- New Reply button -->

    {% if can(ctx.currUser, 'CREATE_POST', topic) %}
      <a class="btn btn-primary" href="#new-reply-form">
        <span class="glyphicon glyphicon-pencil"></span>
        New Reply
      </a>
    {% endif %}

  </div> <!--/.topic-controls-->

  <ul class="nav nav-tabs topic-tabs">
    {% if topic.forum.is_roleplay %}
      <li class="{% if ctx.request.path.endsWith('/ic') %}active{% endif %}"
          style="position: relative;">
        {% if topic.unread_ic %}
          <div style="position: absolute; z-index: 9999; width: 100%; text-align: center; bottom: 5px;">
            <a href="{{ topic.url }}/ic/first-unread" class="btn btn-default btn-xs">
              Unread &rarr;
            </a>
          </div>
        {% endif %}
        <a id="ic-tab-link" href="{{ topic.url }}/ic">
          IC <span class="badge">{{ topic.ic_posts_count|commafy }}</span>
        </a>
      </li>
      <li class="{% if ctx.request.path.endsWith('/ooc') %}active{% endif %}"
          style="position: relative;">
        {% if topic.unread_ooc %}
          <div style="position: absolute; z-index: 9999; width: 100%; text-align: center; bottom: 5px;">
            <a href="{{ topic.url }}/ooc/first-unread" class="btn btn-default btn-xs">
              Unread &rarr;
            </a>
          </div>
        {% endif %}
        <a id="ooc-tab-link" href="{{ topic.url }}/ooc">
          OOC <span class="badge">{{ topic.ooc_posts_count|commafy }}</span>
        </a>
      </li>
      <li class="{% if ctx.request.path.endsWith('/char') %}active{% endif %}"
          style="position: relative;">
        {% if topic.unread_char %}
          <div style="position: absolute; z-index: 9999; width: 100%; text-align: center; bottom: 5px;">
            <a href="{{ topic.url }}/char/first-unread" class="btn btn-default btn-xs">
              Unread &rarr;
            </a>
          </div>
        {% endif %}
        <a id="char-tab-link" href="{{ topic.url }}/char">
          Characters <span class="badge">{{ topic.char_posts_count|commafy }}</span>
        </a>
      </li>
    {% else %}
      <li class="active" style="position: relative">
        {% if topic.unread_ooc %}
          <div style="position: absolute; z-index: 9999; width: 100%; text-align: center; bottom: 5px;">
            <a href="{{ topic.url }}/ooc/first-unread" class="btn btn-default btn-xs">
              Unread &rarr;
            </a>
          </div>
        {% endif %}
        <a href="{{ topic.url }}">
          Posts
          <span class="badge">
            {{ topic.posts_count|commafy }}
          </span>
        </a>
      </li>
    {% endif %}
  </ul>

  <!-- Posts list -->

  {% if topic[postType + '_posts_count'] == 0 %}
    <div class="well">
      There are no {{ postType.toUpperCase() }} posts, yet.
    </div>
  {% endif %}

  {% for post in topic.posts %}
    {% if can(ctx.currUser, 'READ_POST', post) %}
      <a name="post-{{ post.id }}"></a>
      <div class="panel panel-default post
                  {% if post.is_hidden %} hidden-post {% endif %}"
           id="post-{{ post.id }}"
           style="border: 1px solid #111;">
        <div class="panel-heading clearfix"
             style="background-color: #1D1D1D; border-color: #111; border-radius: 0">
          <span class="pull-left">
            <abbr class="timeago" title="{{ post.created_at.toISOString() }}">
              {{ post.created_at|formatDate }}
            </abbr>
            {% if post.updated_at and post.updated_at.getTime() - post.created_at.getTime() > 1000 * 60 %}
              &rarr;
              <span class="glyphicon glyphicon-pencil"></span>
              <abbr class="timeago" title="{{ post.updated_at.toISOString() }}">
                {{ post.updated_at|formatDate }}
              </abbr>
            {% endif %}
          </span>
          <div class="pull-right post-header">
            <a href="{{ post.url }}/raw" rel="nofollow">View Raw</a> -
            <a href="{{ post.url }}" rel="nofollow" class="post-permalink"
               data-post-id="{{ post.id }}"
            >
              <span class="glyphicon glyphicon-link"></span>
            </a>
          </div>
        </div> <!-- /.panel-heading -->

        <!-- Panel body -->
        <div class="panel-body"
             style="background-color: #2E2C2C; position: relative; overflow: hidden;">

          <!-- Ribbon -->
          {% if post.user_id == topic.user_id %}
            {% if topic.is_roleplay %}
              <div class="corner-ribbon top-right">GM</div>
            {% else %}
              <div class="corner-ribbon top-right">OP</div>
            {% endif %}
          {% elif topic.co_gm_ids.includes(post.user_id) %}
            <div class="corner-ribbon top-right orange">coGM</div>
          {% endif %}

          <!-- Author metadata -->
          <div class="col-sm-2 clearfix text-center post-user-meta">

            <!-- For small devices -->
            <div class="visible-xs-block">
              {{ macros.renderUserbitSmall(ctx, post.user) }}
              <hr class="small-userbit-divider">
            </div>

            <!-- For larger-than-smartphone devices -->
            <div class="hidden-xs">
              {{ macros.renderUserbitLarge(ctx, post.user) }}
            </div> <!-- /.hidden-xs -->

          </div> <!-- /.col-sm-2 post-meta -->

          <div class="col-sm-10 post-content-wrapper">

            {% if post.id == config.FAQ_POST_ID %}
              <div class="alert alert-info">
                This post controls the contents of
                <a href="/faq" style="color: #2980b9; text-decoration: underline">/faq</a>. All staff can edit this special post.
              </div>
            {% endif %}

            {% if post.id == config.WELCOME_POST_ID %}
              <div class="alert alert-info">
                This post controls the contents of the welcome PM sent
                to all new users. All staff can edit this special post.
              </div>
            {% endif %}

            <!-- Post text -->
            {{ macros.renderPost(ctx, post) }}
            <!-- Ratings -->
            {% if post.ratings.length > 0 %}
              <div class="post-rating-list well well-sm">
                <button class="rater-list-toggle btn btn-default btn-xs pull-right">
                  View All
                </button>
                {% set freq = belt.frequencies(post.ratings, 'type') %}
                {% for type in ['like', 'laugh', 'thank'] %}
                  {% if freq[type] %}
                    {{ freq[type] }}x {{ type|capitalize }}
                    <img src="{{ type|ratingTypeToImageSrc }}"
                         alt="{{ type|capitalize }}"
                         title="{{ type|capitalize }}">
                  {% endif %}
                {% endfor %}
                <div style="margin-top: 10px; display: none;" class="rater-list">
                {% for type in ['like', 'laugh', 'thank'] %}
                  {% if freq[type] %}
                    <div>
                      <img src="{{ type|ratingTypeToImageSrc }}"
                           alt="{{ type|capitalize }}"
                           title="{{ type|capitalize }}">
                      <ul class="list-inline" style="display: inline-block;">
                      {% for rating in _.sortBy(_.filter(post.ratings, { type: type }), 'from_user_uname') %}
                        <li>
                          <a href="/users/{{ rating.from_user_uname|slugifyUname }}">{{ rating.from_user_uname }}</a>{% if not loop.last %},{% endif %}
                        </li>
                      {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                {% endfor %}
                </div>
              </div>
            {% endif %}
            <!-- Signature -->
            {% if not post.is_hidden -%}
              {{ macros.renderSig(ctx, post.user) }}
            {%- endif %}
          </div>

        </div> <!-- /.panel-body -->

        <!-- Panel footer -->
        <div class="panel-footer clearfix"
             style="background-color: #2E2C2C; border-radius: 0; border: 0">
          <!-- Hide button -->
          {% if post.is_hidden %}
            {% if can(ctx.currUser, 'UNHIDE_POST', post) %}
              <form action="{{ post.url}}/unhide" method="post">
                <input type="submit" value="Unhide"
                       class="btn btn-default btn-xs hide-btn pull-left">
              </form>
            {% endif %}
          {% else %}
            {% if can(ctx.currUser, 'HIDE_POST', post) %}
              <form action="{{ post.url}}/hide" method="post">
                <input type="submit" value="Hide"
                       class="btn btn-default btn-xs unhide-btn pull-left">
              </form>
            {% endif %}
          {% endif %}
          <!-- IP address -->
          {% if can(ctx.currUser, 'READ_USER_IP', post.user) %}
            <div class="pull-left" style="margin-left: 5px; color: #6E6B6B">
              <a href="/ips/{{ post.ip_address }}" class="text-muted">
                {{ post.ip_address }}
              </a>
            </div>
          {% endif %}
          <!-- @Mention -->
          {% if can(ctx.currUser, 'CREATE_POST', topic) %}
            <a href=""
               class="btn btn-default btn-xs pull-right post-mention-btn"
               data-post-id="{{ post.id }}"
               data-post-uname="{{ post.user.uname }}"
               style="margin-left: 5px"
               >@Mention</a>
          {% endif %}
          <!-- Quote button -->
          {% if can(ctx.currUser, 'CREATE_POST', topic) %}
            <a href=""
               class="btn btn-default btn-xs pull-right post-reply-btn"
               post-id="{{ post.id }}"
               post-uname="{{ post.user.uname }}"
               style="margin-left: 5px"
               >Quote</a>
          {% endif %}
          <!-- Edit button -->
          {% if can(ctx.currUser, 'UPDATE_POST', Object.assign(post, { banned_ids: topic.banned_ids})) %}
            <a href="{{ post.url }}/edit"
               class="btn btn-default btn-xs pull-right post-edit-btn"
               style="margin-left: 5px;"
               post-id={{ post.id }}
              >Edit</a>
          {% endif %}

          {% if can(ctx.currUser, 'RATE_POST', post) %}
            {% if post.has_rated %}
              <span class="pull-right text-muted" style="margin-right: 10px;">
                You <img src="{{ post.has_rated.type|ratingTypeToImageSrc }}"
                         alt="{{ post.has_rated.type|capitalize }}"
                         title="{{ post.has_rated.type|capitalize }}">'ed this
              </span>
            {% else %}
              <ul class="post-rating-actions list-inline pull-right">
                <li data-rating-type="like" data-toggle="tooltip" title="Like"
                    data-placement="top" data-post-id="{{ post.id }}">
                  <img src="/ratings/like-grey.png" alt="Like" title="Like">
                </li>
                <li data-rating-type="laugh" data-toggle="tooltip" title="Laugh"
                    data-placement="top" data-post-id="{{ post.id }}">
                  <img src="/ratings/laugh-static-grey.png" alt="Laugh" title="Like">
                </li>
                <li data-rating-type="thank" data-toggle="tooltip" title="Thank"
                    data-placement="top" data-post-id="{{ post.id }}">
                  <img src="/ratings/thank-grey.png" alt="Thank" title="Thank">
                </li>
              </ul>
            {% endif %}
          {% endif %}

        </div> <!-- /.panel-footer -->
      </div> <!-- /.panel -->
    {% endif %} <!-- can READ_POST check -->
  {% endfor %}

  <!-- Top -->
  <div style="display: block; margin-bottom: 20px;">
    <a href="#" class="top-link">&uarr; Top</a>
  </div>

  <!-- Viewers -->
  {{ macros.renderViewers(viewers) }}

  {{ paginate.render(currPage, totalPages, ctx.request.path, '', '#lo') }}

  <!-- Tell user they are banned -->

  {% if ctx.currUser.id | isIn(topic.banned_ids) %}
    <div class="alert alert-danger text-center">
      <p>
        The Game Masters (GMs) of this roleplay have suspended your posting
        privileges from this thread.
      </p>
      <p>
        <b>Reminder:</b> Game Masters get the final word in a roleplay
        so that they can keep things moving.
      </p>
    </div>
  {% endif %}

  <!-- New post form -->

  {% if can(ctx.currUser, 'CREATE_POST', topic) %}
    <a name="new-reply-form"></a>
    <h2 style="display: inline-block;">New Reply</h2>
    <p style="color: #3498db; margin-left: 15px; margin-right: 15px;">
      [22 May 2017]: Posts now autosave in your browser. Contact <a href="/users/mahz">Mahz</a> if you have issues.
    </p>
    <button type="button" class="btn btn-default btn-xs"
            onclick="togglePostHint()"
            style="display: inline-block; margin-left: 10px; margin-bottom: 10px;">
      Toggle Hint
    </button>
    <ul class="post-hint" style="display: none;">
      <li>Before submitting your post, it's wise to copy it somewhere so that you don't lose it in the event of server error.</li>
      <li>
        It's a good idea to notify people you're talking to so they know to read your post. There are two ways to do this:
        <ol type="A">
          <li>@Mention: <code>[@Their Username]</code></li>
          <li>@QuoteMention: <code>[quote=@Their Username]...[/quote]</code></li>
        </ol>
        Note: Nested @QuoteMentions do not trigger notifications. Nor do @Mentions inside quotes.
      </li>
      <li>Post limit: {{ ctx.config.MAX_POST_LENGTH|commafy }} chars</li>
    </ul>
    <div class="well">
    <form method="post" action="{{ topic.url }}/posts" id="new-post">
      <input type="hidden" name="post-type" value="{{ postType }}">
      <textarea id="markup-input"
                placeholder="Click here and begin writing"
                name="markup"
                rows=10
                class="form-control"
                >{{ ctx.flash.params.markup }}</textarea>

      <!-- Recaptcha -->
      {#
      <label>
        Human Test: (Sorry, I'll remove this soon for existing members)
      </label>
      <div class="g-recaptcha"
           style="margin-bottom: 20px;"
           data-sitekey="{{ recaptchaSitekey }}"
           data-callback="recaptchaSuccessCallback">
      </div>
      #}

      <input type="submit" id="recaptcha-protected-submit" class="btn btn-primary" value="Post Reply"></input>
    </form>
    </div>

    {% include 'partials/bbcode_cheatsheet.html' %}

  {% endif %}

{% endblock %}

{% block scripts %}

  {#
<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
  // Called when user submits successful recaptcha, so allow them
  // to actually submit the form.
  function recaptchaSuccessCallback() {
    $('#recaptcha-protected-submit')
      .removeClass('btn-danger')
      .addClass('btn-primary')
      .attr('disabled', false);
  }
</script>
#}

<script>

    // Prevent <input> submit buttons from being submitted more than once

    $('input[type="submit"]').on('click', function(e) {
      var $this = $(this);
      if ($this.data('already-clicked'))
        return false;
      $this.data('already-clicked', true);
    });
</script>

<script>
// Prevent double-submit on new-reply form

$('#new-reply').submit(function() {
  $(this).submit(function() {
      return false;
  });
  $(this).find("input[type='submit']")
         .attr('disabled', 'disabled')
         .val('Submitting...');
  return true;
});
</script>


  {#
    Before we initialize the bbcode editor, set the storageKey
    but first check to see if hash fragment wants us to delete it.
  #}
  <script>
    // Accessed later when initializing .bbcode()
    var storageKey = '/topics/{{ topic.id }}/{{ postType }}'

    function getHashParams() {
        var hashParams = {};
        var e,
            a = /\+/g,  // Regex for replacing addition symbol with a space
            r = /([^&;=]+)=?([^&;]*)/g,
            d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
            q = window.location.hash.substring(1);

        while (e = r.exec(q))
          hashParams[d(e[1])] = d(e[2]);

        return hashParams;
    }

   // If URL contains fragment hash (#|&)created=true
   // delete postsDrafts entry
   // and remove it from hash params
   if (getHashParams()['created']) {
     window.location.hash = window.location.hash.replace(/(#|&)created=true/, '')
     postDrafts.remove(storageKey)
   }
  </script>

  {% if can(ctx.currUser, 'CREATE_POST', topic) %}
    <script type="text/javascript">
      // Turn the new post editor into a bbcode editor

      var $M = $('#markup-input').bbcode({
        charLimit: {{ ctx.config.MAX_POST_LENGTH }},
        storageKey: storageKey
      });

      $('.post-mention-btn').on('click', function(e) {
        e.preventDefault();
        var $this = $(this);
        var postId = parseInt($this.attr('data-post-id'), 10);
        var uname = $this.attr('data-post-uname');

        var mention_markup = '[@' + uname + ']';

        var selected = $M.getSelection();
        $M.replaceSelection(mention_markup);
        var newPos = selected.start + mention_markup.length;
        $M.setSelection(newPos, newPos);

        $('html, body').animate({
          scrollTop: $('a[name="new-reply-form"]').offset().top
        }, 100);

        $M.$element.focus();
      });
    </script>
  {% endif %}

  {#
          REPLY BUTTON
  #}
  <script>
$(function() {
  $('.post-reply-btn').click(function(e) {
    e.preventDefault();
    $reply_btn = $(this);
    $reply_btn.addClass('disabled').html('Loading...');
    var post_id = $reply_btn.attr('post-id');
    var uname = $reply_btn.attr('post-uname');
    var post_url = '/posts/' + post_id + '/raw';
    $.get(post_url, function(markup) {
      console.log('returned')
      $reply_btn.removeClass('disabled').html('Quote');

      var quote_markup = '[quote=@' + uname + ']\n' +
        extractTopLevelMarkup(markup)  +
        '\n[/quote]\n';

      var $reply_textarea = $('#markup-input');
      var prev_content = $reply_textarea.val().trim();
      // Only add \n\n padding if there was already content in textarea
      var padding = (function() {
        if (prev_content.length === 0) {
          return '';
        }
        return '\n\n'
      })();
      $reply_textarea.focus().val('').val(prev_content + padding + quote_markup + '\n');
      $reply_textarea.scrollTop($reply_textarea[0].scrollHeight);

      $('html, body').animate({
        scrollTop: $reply_textarea.offset().top
      }, 100);

    });
  });
});
  </script>

  {#
          EDIT POST BUTTON
  #}
  <script>
$(function() {
  $('.post-edit-btn').click(function(e) {
    e.preventDefault();
    $post_edit_btn = $(this);
    $post_edit_btn.addClass('disabled');
    var post_id = $(this).attr('post-id');
    var $post_body = $('#post-' + post_id + ' .post-content');
    var prev_body = $post_body.html();
    var $spinner = $('<span><img src="/img/spinner.gif" alt="Loading..." title="Loading..."> Loading edit form...</span>');

    // Replace post body with a spinner to indicate we're doing something
    $post_body.html($spinner);

    $cancel_btn = $('<button style="margin-left: 5px;" class="btn btn-default post-edit-cancel-btn">Cancel</button>');

    $.ajax({
      url: '/posts/' + post_id + '/raw',
      dataType: 'html',
      cache: false,
      // This is going to be post.markup || post.text
      success: function(post_text) {
        var $post_editor = $('<textarea class="post-editor form-control"></textarea>');
        $spinner.remove();

        // Warn about Markdown->BBCode conversion on Markdown posts.
        // A post is a Markdown post if its post-body is wrapped with
        // .post-body instead of .post-body-html
        if ($('#post-' + post_id + ' .post-body')[0]) {
          $post_body.append(
            '<p style="color: salmon">'+
            'This post uses the old formatting system (Markdown) before we had BBCode. If you click "Save", then the forum will assume that you\'ve converted this post to BBCode. If you don\'t want that to happen, then click "Cancel".'+
            '</p><p style="color: salmon">'+
            'For example, <code>[Click Me](http://example.com)</code> (Old system) is now <code>[url=http://example.com]Click Me[/url]</code> (BBCode)'+
            '</p>'
          );
        }

        $post_body.append($post_editor);

        $post_editor.bbcode({
          savable: true,
          charLimit: {{ ctx.config.MAX_POST_LENGTH }},
          onSave: function(e) {
            //
            $success_btn = $post_body.find('.btn-success');
            $success_btn.html('Saving...');
            $success_btn.attr('disabled', true);
            $post_body.find('.btn').attr('disabled', true);

            var text_to_save = e.getContent();
            $.ajax({
              url: '/api/posts/' + post_id,
              dataType: 'json',
              type: 'POST',
              headers: { 'X-HTTP-Method-Override': 'PUT' },
              data: { markup: text_to_save },
              success: function(updated_post) {
                $post_body.html(updated_post.html);
                $post_edit_btn.removeClass('disabled');
                // Set the post's .edited-marker to ' edited'
                var $edited_marker = $('#post-' + post_id + ' .edited-marker')
                $edited_marker.html(' edited');
              }
            })
          }
        });

        // Gotta set the text before the .markdown() call or else
        // .markdown() escapes html entities.
        $post_body.find('textarea').val(post_text)

        // Scroll to editor over 500ms so user can re-orient themselves
        $('body').animate({
            scrollTop: $post_body.offset().top
        }, 500);

        $cancel_btn.insertAfter(
          $('#post-' + post_id + ' .md-footer button[data-handler="cmdSave"]')
        );

        $($cancel_btn).click(function() {
          $post_body.html(prev_body);
          $post_edit_btn.removeClass('disabled');
        });
      }
    });

    return false;
  });
});
  </script>
<script>
  // Render posts only as they appear in the user's browser
  $('.post-body, .post-sig-markdown').appear();
  $('.post-body, .post-sig-markdown').on('appear', function(e) {
    if (!$(this).attr('data-rendered')) {
      var $this = $(this);
      $this.html(markdown.toHTML($this.text()));
      $this.attr('data-rendered', true);
    }
  });
</script>

<script>
function togglePostHint() {
  $('.post-hint').toggle();
}
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<script>
  $('.post-rating-actions li').on('click', function() {
    var $this = $(this);
    var ratingType = $this.attr('data-rating-type');
    var postId = $this.attr('data-post-id');
    $.ajax({
      type: 'POST',
      url: '/posts/' + postId + '/rate',
      data: { type: ratingType, post_id: postId },
      dataType: 'json',
      error: function(xhr) {
        var json;
        try {
          json = JSON.parse(xhr.responseText);
        } catch(ex) {
          alert('Rating failed. Refresh the page and try again.');
          throw ex;
        }
        if (json.error === 'TOO_SOON')
          alert('Must wait 3 seconds between ratings.');
      },
      success: function(rating) {
        var undoForm = '<form action="/me/ratings/'+ rating.post_id +'" method="post" style="display: inline-block;">'+
          ' <input type="hidden" name="_method" value="delete">'+
          '  <input type="submit" value="Undo '+ rating.type.charAt(0).toUpperCase() + rating.type.slice(1) +'" class="btn-link btn-xs">'+
          '</form>'
        var html = '<li class="text-muted">'+ undoForm + '</li>';
        $this.parent().html(html);
      },
    });
  });
</script>

<script type="text/javascript">
  $('.rater-list-toggle').on('click', function() {
    $(this).parent().find('.rater-list').toggle();
  });
</script>

{# tab-page tracking only enabeld for roleplays #}
{% if topic.is_roleplay %}
  <script type="text/javascript">
    if (isStorage()) {
      var re, match;
      var topicId, postType, currPage, prevPage;
      var localKey, localVal;

      re = /\/topics\/([\d]+)[^\/]*\/(ic|ooc|char)/;
      match = window.location.pathname.match(re);

      topicId = match[1];
      postType = match[2];

      re = /\\&|\?page=([\d]+)/;
      match = window.location.search.match(re);

      currPage = (match && match[1]) || 1;

      localKey = topicId + ':' + postType;
      prevPage = localStorage.getItem(localKey) && parseInt(localStorage.getItem(localKey));

      // If there was a value for this topic+postType but now user is one
      // page 1, then just remove it instead of polluting localStorage with
      // a bunch of page 1s.
      if (prevPage && currPage === 1) {
        localStorage.removeItem(localKey);
      }

      if (currPage > 1) {
        localStorage.setItem(localKey, currPage);
      }

      // When localStorage accumulates 1000 keys, then reset it
      if (localStorage.length >= 1000) {
        console.log('Resetting localStorage');

        // Save the localStorage key/vals of the current topic
        // Map of localKey->localVal
        var currTopicStorage = {};
        ['ic', 'ooc', 'char'].forEach(function(postType) {
          var localKey = topicId + ':' + postType;
          var localVal = localStorage.getItem(localKey);
          currTopicStorage[localKey] = localVal;
        });

        // Delete localStorage
        localStorage.clear();

        // Replay currentTopicStorage on top of it
        Object.keys(currTopicStorage).forEach(function(localKey) {
          var localVal = currTopicStorage[localKey];
          if (localVal)
            localStorage.setItem(localKey, localVal);
        });
        console.log('Reset: ', localStorage.length);
      }

      ['ic', 'ooc', 'char'].forEach(function(postType) {
        var key = topicId + ':' + postType;
        var page = localStorage.getItem(key) || 1;
        if (page > 1) {
          var $el = $('#' + postType + '-tab-link');
          $el.attr('href', $el.attr('href') + '?page=' + page)
          $el.tooltip({
            title: 'Page ' + page,
            trigger: 'manual'
          }).tooltip('show');
        }
      });
    }

  </script>
{% endif %}

  <script type="text/javascript">
    $('#toggle-topic-modkit').on('click', function() {
      $('.topic-modkit').toggle();
    });
  </script>
  <script type="text/javascript">
    // Activate tag tooltips
    $('[data-toggle="tooltip"]').tooltip()
    $('.postbit-arena-stats [data-toggle="tooltip"]').tooltip();
    // Activate user status popovers
    $('.status-btn[data-toggle="popover"]').popover({
      trigger: 'focus hover click',
      html: true,
      template: '<div class="popover popover-user-status" role="tooltip">'+
        '<div class="arrow"></div><h3 class="popover-title"></h3>'+
        '<div class="popover-content"></div>'+
        '</div>',
      content: function() {
        var $this = $(this);
        var popover_id = $this.attr('aria-describedby');  // popover277632
        var iso_string = $this.attr('data-iso-string');
        var text = $this.attr('data-text');
        return text + '<br>' +
          '<div class="text-right"><abbr class="timeago" title="'+iso_string+'">'+iso_string+'</abbr></div>'
          ;
      }
    }).on('show.bs.popover', function() {
      var $this = $(this);
      setTimeout(function() {
         var popover_id = $this.attr('aria-describedby');
         $('#' + popover_id).find('abbr').timeago();
      },0);
    });
  </script>

  <script>
    var buildPopoverContent = function() {
      var post_id = $(this).attr('data-post-id');
      var html = '<input class="form-control permalink-input" type="text" value="{{ config.HOST }}/posts/' + post_id + '" readonly><br><small>Use this to link people directly to this post</small><br><div class="text-center"><button type="button" class="permalink-close btn btn-default btn-xs">Close</button></div>';
      return html;
    }

    $(document).on('click', '.permalink-input', function(e) {
        $(e.target).focus().select();
    });

    $('.post-permalink').popover({
      html: true,
      content: buildPopoverContent,
      trigger: 'click',
      placement: 'bottom',
      title: 'Permalink to this post'
    });

    $('.post-permalink').on('shown.bs.popover', function(e) {
      var popover_id = $(this).attr('aria-describedby');
      $('#' + popover_id + ' .permalink-input').focus().select();
    });

    $(document).on('click', '.permalink-close', function() {
      $('.post-permalink').popover('hide');
    });

    $('.post-permalink').on('click', function(e) {
      e.preventDefault();
    });
  </script>

  <script>
   var $el
   if (window.location.hash === '#hi') {
     $el = $('input[name="page"]').first()
   } else if (window.location.hash === '#lo') {
     $el = $('input[name="page"]').last()
   }
   if ($el) {
     $el.focus().select()
     removeHash()
   }

    function removeHash () {
        var scrollV, scrollH, loc = window.location;
        if ("pushState" in history)
            history.pushState("", document.title, loc.pathname + loc.search);
        else {
            // Prevent scrolling by storing the page's current scroll offset
            scrollV = document.body.scrollTop;
            scrollH = document.body.scrollLeft;

            loc.hash = "";

            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scrollV;
            document.body.scrollLeft = scrollH;
        }
    }
  </script>

{% endblock%}
