{% extends 'layouts/master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
  </ol>

  <div class="page-header" style="border-color: #000">
    <h3>Forum Staff</h3>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form action="/sessions" method="post" class="form-horizontal">

        <!-- Admins -->
        {% if admins.length > 0 %}
        <div class="panel panel-default no-select" style="border-color: #000">
          <div class="panel-heading">
            Admins
          </div>
          <div class="panel-body">
            <ul>
            {% for user in admins %}
              <li>
                <a href="{{ user.url }}">{{ user.uname }}</a>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div> <!-- /.panel -->
        {% endif %}

        <!-- Super Moderators -->
        {% if smods.length > 0 %}
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">
              Super Mods
            </div>
            <div class="panel-body">
              <ul>
              {% for user in smods %}
                <li>
                  <a href="{{ user.url }}">{{ user.uname }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div> <!-- /.panel -->
        {% endif %}

        <!-- Moderators -->
        {% if mods.length > 0 %}
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">
              Mods
            </div>
            <div class="panel-body">
              <ul>
              {% for user in mods %}
                <li>
                  <a href="{{ user.url }}">{{ user.uname }}</a>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div> <!-- /.panel -->
        {% endif %}

      </form>
    </div> <!-- /col -->
  </div> <!-- /.row -->

{% endblock %}

{% block scripts %}
{% endblock %}
