{% extends 'layouts/master.html' %}
{% import './macros/macros.html' as macros %}

{% block embed %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
  </ol>

  <div class="page-header" style="border-color: #000">
    <h3>Forum Staff</h3>
    <small>
      The Guild has a very hands-off approach to community management, so we try to chill behind the scenes and let you be you. However, please contact us if you experience issues of any sort. We're here to help.
    </small>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form action="/sessions" method="post" class="form-horizontal">

        <!-- Admins -->
        {% if (admins.length + smods.length) > 0 %}
        <div class="panel panel-default no-select" style="border-color: #000">
          <div class="panel-heading">
            <img src="/img/crown.png">
            Admins
          </div>
          <div class="panel-body">
            <ul>
            {% for user in admins.concat(smods) %}
              <li style="clear: both">
                <a href="{{ user.url }}">{{ user.uname }}</a>
                <div style="float: right">
                  {{ macros.onlineStatus(ctx, user) }}
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div> <!-- /.panel -->
        {% endif %}

        <!-- Moderators -->
        {% if mods.length > 0 %}
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">
              <img src="/img/star.png">
              Moderators
              <small style="display: block;">
                Here to assist users in general matters of support and keep the forum running smoothly.
              </small>
            </div>
            <div class="panel-body">
              <ul>
              {% for user in mods %}
                <li style="clear: both">
                  <a href="{{ user.url }}">{{ user.uname }}</a>
                  <div style="float: right">
                    {{ macros.onlineStatus(ctx, user) }}
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div> <!-- /.panel -->
        {% endif %}

        <!-- Contest Mods -->
        {% if conmods.length > 0 %}
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">
              <img src="/img/candle.gif">
              Contest Moderators
              <small style="display: block;">
                Specialized moderators that focus on operating the writing contests.
              </small>
            </div>
            <div class="panel-body">
              <ul>
              {% for user in conmods %}
                <li style="clear: both">
                  <a href="{{ user.url }}">{{ user.uname }}</a>
                  <div style="float: right">
                    {{ macros.onlineStatus(ctx, user) }}
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div> <!-- /.panel -->
        {% endif %}

        <!-- Arena Mods -->
        {% if arena_mods.length > 0 %}
          <div class="panel panel-default no-select" style="border-color: #000">
            <div class="panel-heading">
              <img src="/img/arms.png">
              Arena Moderators
              <small style="display: block;">
                Specialized moderators that focus on the Arena/PvP forums and manage the ranking system.
              </small>
            </div>
            <div class="panel-body">
              <ul>
              {% for user in arena_mods %}
                <li style="clear: both">
                  <a href="{{ user.url }}">{{ user.uname }}</a>
                  <div style="float: right">
                    {{ macros.onlineStatus(ctx, user) }}
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div> <!-- /.panel -->
        {% endif %}

      </form>
    </div> <!-- /col -->
  </div> <!-- /.row -->

{% endblock %}

{% block scripts %}
{% endblock %}
