{% extends 'layouts/master.html' %}
{% import './macros/ads.html' as ads %}

{% macro massControls (isArchive) %}
  <style>
   .mass-controls .form-control {
     display: inline-block;
     width: 200px;
   }
  </style>

  <div class="mass-controls text-right">
    <p class="text-muted">
      Click the checkboxes next to subs to mass-update them
      <button type="button" class="btn btn-link select-all" style="border: none">
        Select All
      </button>
    </p>
    <form method="POST" action="/me/subscriptions/mass-action">
      <select name="action" class="form-control">
        <option disabled selected value>-- Select Action --</option>
        {% if isArchive %}
          <option value="unarchive">
            Move to Subscriptions
          </option>
        {% else %}
          <option value="archive">
            Move to Archive
          </option>
        {% endif %}
        <option value="unsub">Delete Subscription</option>
      </select>
      <div class="ids" style="display: none;"></div>
      <button type="submit" class="btn btn-primary">
        Apply to <span class="count">0</span> subscriptions
      </button>
    </form>
  </div>
{% endmacro %}

{% block embed %}

  <!-- Breadcrumbs -->

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    {% if isArchive %}
      <li>
        <a href="/me/subscriptions">Subscriptions</a>
      </li>
      <li>Archive</li>
    {% else %}
      <li>
       Subscriptions
      </li>
    {% endif %}
  </ol>

  {{ ads.topResponsive() }}

  <!-- Page header -->

  <div class="page-header" style="border: none;">
    {% if isArchive %}
      <h2>
        <a href="/me/subscriptions/archive" style="color: #fff">
          My Archived Subscriptions
          <img src="/img/snowflake.png">
          <img src="/img/snowflake.png">
          <img src="/img/snowflake.png">
        </a>
      </h2>
      <p>
        Archived subscriptions are more like bookmarks. Unlike subscriptions, you will not receive notifications.
      </p>
    {% else %}
      <h2>
        <a href="/me/subscriptions" style="color: #fff">
          My Subscriptions
        </a>
      </h2>
      <p>
        Subscribing to a topic gives you a convenient way to track only the topics you care about. You will receive notifications when subscribed topics receive new posts.
      </p>
      <p>
        If you want to stop notifications for a topic, you have two options:
        <ol>
          <li>
            <strong>Unsubscribe:</strong> Remove the subscription entirely.
          </li>
          <li>
            <strong>Archive:</strong> Moving a subscription to the
            <a href="/me/subscriptions/archive">Archive</a> tab will stop
            notifications for the topic but still allow you to follow / bookmark
            topics you care about.
          </li>
        </ol>
      </p>
    {% endif %}

    <div class="text-center" style="margin-top: 25px;">
      <ul class="nav nav-tabs">
        <li class="{% if ctx.path == '/me/subscriptions' %}active{% endif %}">
          <a href="/me/subscriptions">
            Subscriptions
          </a>
        </li>
        <li class="{% if ctx.path == '/me/subscriptions/archive' %}active{% endif %}">
          <a href="/me/subscriptions/archive">
            Archived Subscriptions
            <img src="/img/snowflake.png">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <p class="lead">Total: {{ topics.length }}, Max: 200</p>


  <!-- Mass Controls -->

  {{ massControls(isArchive) }}

  <h3>
    {% if isArchive %}
      <img src="/img/snowflake.png">
      Archived
    {% endif %}
    Roleplays <small>{{ roleplayTopics.length }}</small>
  </h3>

  <!-- Roleplay panels -->
    <div class="list-group">
      <div class="list-group-item" style="background-color: #1d1d1d; border: 1px solid #111;">
        <div class="row">
          <div class="col-sm-3">Roleplay</div>
          <div class="col-sm-3 hidden-xs">Latest IC</div>
          <div class="col-sm-3 hidden-xs">Latest OOC</div>
          <div class="col-sm-3 hidden-xs">Latest Char</div>
        </div>
      </div>

        {% if roleplayTopics.length == 0 %}
          <div class="well">You have not subscribed to any Roleplays, yet</div>
        {% endif %}

        {% for topic in roleplayTopics %}
          <div class="list-group-item topic-panel"
             style="background-color: #3d3a3a; border: 1px solid #111; color: #fff;">
            <div class="row">
              <div class="col-sm-12">
                <!-- Checkbox -->
                <input type="checkbox"
                       class="selector pull-right"
                       data-topic-id="{{ topic.id }}"
                >

                <h5 class="list-group-item-heading topic-panel-title">

                  <!-- Unsub button -->
                  <form action="{{ topic.subscriptionUrl }}" method="post"
                        class="unsub-form">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit"
                            class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </form>

                  <!-- Title -->
                  <a href="{{ topic.url }}">{{ topic.title }}</a>
                  {% if topic.is_archived  %}
                    <span class="label label-default">
                      <img src="/img/snowflake.png">
                      Archived
                    </span>
                  {% endif %}
                </h5>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <div class="text-muted">
                  {{ topic.ic_posts_count }}
                  <a href="{{ topic.url }}/ic">IC</a>,
                  {{ topic.ooc_posts_count }}
                  <a href="{{ topic.url }}/ooc">OOC</a>,
                  {{ topic.char_posts_count }}
                  <a href="{{ topic.url }}/char">Char</a>
                </div>
                <p class="list-group-item-text topic-panel-desc">
                  by
                  <a href="{{ topic.user.url }}" style="color: #fff">{{ topic.user.uname }}</a>,
                  <abbr class="timeago" title="{{ topic.created_at.toISOString() }}"
                        style="display: inline-block;">
                    {{ topic.formattedCreatedAt }}
                  </abbr>
                </p>
              </div><!--/.col-4-->
              <!-- Latest IC-->
              <div class="col-sm-3">
                {% if topic.latest_ic_user %}
                  <span class="visible-xs-inline">Latest IC:</span>
                  <div class="latest-ic">
                    <a href="{{ topic.latest_ic_user.url }}"
                       style="color: #fff">{{ topic.latest_ic_user.uname }}</a>
                    <a href="{{ topic.latest_ic_post.url }}"
                       class="btn btn-default btn-xs latest-post-btn">
                      &rarr;
                    </a>
                  </div>
                  <abbr class="timeago" title="{{ topic.latest_ic_post.created_at.toISOString() }}"
                        style="display: inline-block;">
                    {{ topic.latest_ic_post.formattedCreatedAt }}
                  </abbr>
                  {% if not isArchived and topic.sub_notes.ic  %}
                    <sup style="color: #51e0db">New!</sup>
                  {% endif %}
                {% else %}
                  --
                {% endif %}
              </div>
              <!-- Latest OOC-->
              <div class="col-sm-3">
                {% if topic.latest_ooc_user %}
                  <span class="visible-xs-inline">Latest OOC:</span>
                  <div class="latest-ooc">
                    <div style="display: inline-block;">
                      <a href="{{ topic.latest_ooc_user.url }}"
                         style="color: #fff">{{ topic.latest_ooc_user.uname }}</a>
                      <a href="{{ topic.latest_ooc_post.url}}"
                         class="btn btn-default btn-xs latest-post-btn">
                        &rarr;
                      </a>
                    </div>
                  </div>
                  <abbr class="timeago" title="{{ topic.latest_ooc_post.created_at.toISOString() }}"
                        style="display: inline-block;">
                    {{ topic.latest_ooc_post.formattedCreatedAt }}
                  </abbr>
                  {% if not isArchived and topic.sub_notes.ooc  %}
                    <sup style="color: #51e0db">New!</sup>
                  {% endif %}
                {% else %}
                  --
                {% endif %}
              </div><!--/.col-2-->
              <!-- Latest Char-->
              <div class="col-sm-3">
                {% if topic.latest_char_user %}
                  <span class="visible-xs-inline">Latest Char:</span>
                  <div class="latest-char">
                    <a href="{{ topic.latest_char_user.url }}"
                       style="color: #fff">{{ topic.latest_char_user.uname }}</a>
                    <a href="{{ topic.latest_char_post.url}}"
                       class="btn btn-default btn-xs latest-post-btn">
                      &rarr;
                    </a>
                  </div>
                  <abbr class="timeago" title="{{ topic.latest_char_post.created_at.toISOString() }}"
                        style="display: inline-block;">
                    {{ topic.latest_char_post.formattedCreatedAt }}
                  </abbr>
                  {% if not isArchived and topic.sub_notes.char  %}
                    <sup style="color: #51e0db">New!</sup>
                  {% endif %}
                {% else %}
                  --
                {% endif %}
              </div><!--/.col-2-->
            </div><!--/.row-->

          </div>
        {% endfor %}
    </div>

    <h3>
      {% if isArchive %}
        <img src="/img/snowflake.png">
        Archived
      {% endif %}
      Non-Roleplays <small>{{ nonroleplayTopics.length }}</small>
    </h3>

  <!-- Non-roleplay panels -->
    <div class="list-group">
      <div class="list-group-item" style="background-color: #1d1d1d; border: 1px solid #111;">
        <div class="row">
          <div class="col-sm-7">Topics</div>
          <div class="col-sm-2 hidden-xs">Posts</div>
          <div class="col-sm-3 hidden-xs">Latest Post</div>
        </div>
      </div><!--/.list-group-item-->

      {% if nonroleplayTopics.length == 0 %}
        <div class="well">You have not subscribed to any Topics, yet</div>
      {% endif %}

      {% for topic in nonroleplayTopics %}
        <div class="list-group-item topic-panel"
           style="background-color: #3d3a3a; border: 1px solid #111; color: #fff;">
          <div class="row">
              <div class="col-sm-12">

              <!-- Checkbox -->
              <input type="checkbox"
                      class="selector pull-right"
                      data-topic-id="{{ topic.id }}"
              >
              <h5 class="list-group-item-heading topic-panel-title">
                <!-- Unsub button -->
                  <form action="{{ topic.subscriptionUrl }}" method="post"
                        class="unsub-form hidden-xs">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit"
                          class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </form>

                <!-- Unsub button for xs/sm -->
                <form action="{{ topic.subscriptionUrl }}" method="post"
                      class="unsub-form hidden-sm hidden-md hidden-lg">
                  <input type="hidden" name="_method" value="delete">
                  <button type="submit"
                          class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </form>

                <!-- Title -->
                <a href="{{ topic.url }}">{{ topic.title }}</a>
                {% if topic.is_archived  %}
                  <span class="label label-default">
                    <img src="/img/snowflake.png">
                    Archived
                  </span>
                {% endif %}
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7">

              <p class="list-group-item-text topic-panel-desc">
                by
                <a href="{{ topic.user.url }}" style="color: #fff">{{ topic.user.uname }}</a>,
                <abbr class="timeago" title="{{ topic.created_at.toISOString() }}">
                  {{ topic.created_at|formatDate }}
                </abbr>
              </p>
            </div><!--/.col-7-->
            <div class="col-sm-2">
              <small class="text-muted">
                {{ topic.posts_count }} Posts
              </small>
            </div>
            <div class="col-sm-3">
                {% if topic.latest_user %}
                  <div>
                    Latest:
                    <a href="{{ topic.latest_user.url }}"
                       style="color: #fff">{{ topic.latest_user.uname }}</a>
                    <a href="{{ topic.latest_post.url }}"
                       class="btn btn-default btn-xs latest-post-btn">
                      &rarr;
                    </a>
                  </div>
                  <abbr class="timeago" title="{{ topic.latest_post.created_at.toISOString() }}">
                    {{ topic.latest_post.formattedCreatedAt }}
                  </abbr>
                  {% if not isArchived and topic.sub_notes.ooc  %}
                    <sup style="color: #51e0db">New!</sup>
                  {% endif %}
                {% else %}
                  Latest: --
                {% endif %}
            </div>
          </div><!--/.row-->
        </div><!--/list-group-item-->
    {% endfor %}
    </div><!--/.list-group-->


  <!-- Mass Controls -->

  {{ massControls(isArchive) }}


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
      $('.unsub-form [type="submit"]').on('click', function(e) {
        if (!confirm('Are you sure you want to unsubscribe?')) return e.preventDefault();
      });
    </script>

    <script>
     $('.selector').on('change', function (e) {
       var $this = $(this)
       updateMassControls()
     })

     $('.mass-controls .select-all').on('click', function (e) {
       $('.selector').prop('checked', true)
       updateMassControls()
     })

     function updateMassControls () {
       var count = $('.selector:checked').length
       $('.mass-controls .count').text(count)

       // Disable form if none selected
       if (count === 0) {
         $('.mass-controls [type="submit"]')
           .removeClass('btn-primary').addClass('btn-default disabled')
       } else {
         $('.mass-controls [type="submit"]')
           .removeClass('btn-default disabled').addClass('btn-primary')
       }

       // Reset and add <input hidden> for each checked selector
       $('.mass-controls .ids').empty()

       $('.selector:checked').each(function () {
         var $this = $(this)
         var topicId = $this.attr('data-topic-id')
         var $input = $('<input type="hidden" name="ids" value="'+topicId+'">')
         $('.mass-controls .ids').append($input)
       })
     }

     updateMassControls()
    </script>
{% endblock %}
