{% extends 'layouts/master.html' %}

{% block embed %}

  <!-- Breadcrumbs -->

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
  </ol>

  <!-- Page header -->

  <div class="page-header">
    <h2><a href="/subscriptions" style="color: #fff">My Subscriptions</a></h2>
    <p>Subscribing to a topic gives you a convenient way to track only the topics you care about.</p>
  </div>

  <p class="lead">Total: {{ topics.length }}, Max: 100</p>

  <h3>Roleplays <small>{{ roleplayTopics.length }}</small></h3>

  <!-- Roleplay panels -->
    <div class="list-group">
      <div class="list-group-item" style="background-color: #1d1d1d; border: 1px solid #111;">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-3">Roleplay</div>
          <div class="col-xs-2">Posts</div>
          <div class="col-xs-2">Latest IC</div>
          <div class="col-xs-2">Latest OOC</div>
          <div class="col-xs-2">Latest Character</div>
        </div>
      </div>
        {% for topic in roleplayTopics %}
          <div class="list-group-item topic-panel"
             style="background-color: #3d3a3a; border: 1px solid #111; color: #fff;">
            <div class="row">
              <div class="col-xs-1">
                <a href="/" class="btn btn-danger btn-xs hidden-md hidden-lg">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
                <a href="/" class="btn btn-danger btn-xs visible-md-block">
                  Unsub
                </a>
                <a href="/" class="btn btn-danger btn-xs visible-lg-block">
                  <span class="glyphicon glyphicon-remove"></span>
                  Unsub
                </a>
              </div>
              <div class="col-xs-3">
                <h5 class="list-group-item-heading topic-panel-title">
                  <a href="{{ topic.url }}">{{ topic.title }}</a>
                </h5>
                <p class="list-group-item-text topic-panel-desc">
                  by
                  <a href="{{ topic.user.url }}" style="color: #fff">
                    {{ topic.user.uname -}}
                  </a>,
                  <abbr class="timeago" title="{{ topic.created_at.toISOString() }}">
                    {{ topic.formattedCreatedAt }}
                  </abbr>
                </p>
              </div><!--/.col-4-->
              <div class="col-xs-2">
                {{ topic.ic_posts_count }} IC<br>{{ topic.ooc_posts_count }} OOC
              </div>
              <!-- Latest IC-->
              <div class="col-xs-2">
                {% if topic.latest_ic_user %}
                  <div>
                    by
                    <a href="{{ topic.latest_ic_user.url }}"
                       style="color: #fff">
                      {{ topic.latest_ic_user.uname -}}
                    </a>
                    <a href="{{ topic.latest_ic_user.url}}">
                      <span class="glyphicon glyphicon-link"></span>
                      &rarr;
                    </a>
                  </div>
                  <abbr class="timeago" title="{{ topic.latest_ic_post.created_at.toISOString() }}">
                    {{ topic.latest_ic_post.formattedCreatedAt }}
                  </abbr>
                {% else %}
                  --
                {% endif %}
              </div>
              <!-- Latest OOC-->
              <div class="col-xs-2">
                {% if topic.latest_ooc_user %}
                  <div>
                    by
                    <a href="{{ topic.latest_ooc_user.url }}"
                       style="color: #fff">
                      {{ topic.latest_ooc_user.uname -}}
                    </a>
                    <a href="{{ topic.latest_ooc_user.url}}">
                      <span class="glyphicon glyphicon-link"></span>
                      &rarr;
                    </a>
                  </div>
                  <abbr class="timeago" title="{{ topic.latest_ooc_post.created_at.toISOString() }}">
                    {{ topic.latest_ooc_post.formattedCreatedAt }}
                  </abbr>
                {% else %}
                  --
                {% endif %}
              </div><!--/.col-2-->
              <!-- Latest Character-->
              <div class="col-xs-2">
                {% if topic.latest_char_user %}
                  <div>
                    by
                    <a href="{{ topic.latest_char_user.url }}"
                       style="color: #fff">
                      {{ topic.latest_char_user.uname -}}
                    </a>
                    <a href="{{ topic.latest_char_user.url}}">
                      <span class="glyphicon glyphicon-link"></span>
                      &rarr;
                    </a>
                  </div>
                  <abbr class="timeago" title="{{ topic.latest_char_post.created_at.toISOString() }}">
                    {{ topic.latest_char_post.formattedCreatedAt }}
                  </abbr>
                {% else %}
                  --
                {% endif %}
              </div><!--/.col-2-->
            </div><!--/.row-->

          </div>
        {% endfor %}
    </div>

  <h3>Non-Roleplays <small>{{ nonroleplayTopics.length }}</small></h3>

  <!-- Non-roleplay panels -->
    <div class="list-group">
      <div class="list-group-item" style="background-color: #1d1d1d; border: 1px solid #111;">
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-6">Topics</div>
          <div class="col-xs-2">Posts</div>
          <div class="col-xs-3">Latest Post</div>
        </div>
      </div><!--/.list-group-item-->
      {% for topic in roleplayTopics %}
        <div class="list-group-item topic-panel"
           style="background-color: #3d3a3a; border: 1px solid #111; color: #fff;">
          <div class="row">
            <div class="col-xs-1">
              <a href="/" class="btn btn-danger btn-xs hidden-md hidden-lg">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
              <a href="/" class="btn btn-danger btn-xs visible-md-block">
                Unsub
              </a>
              <a href="/" class="btn btn-danger btn-xs visible-lg-block">
                <span class="glyphicon glyphicon-remove"></span>
                Unsub
              </a>
            </div>
            <div class="col-xs-6">
              <h5 class="list-group-item-heading topic-panel-title">
                <a href="{{ topic.url }}">{{ topic.title }}</a>
              </h5>
              <p class="list-group-item-text topic-panel-desc">
                by
                <a href="{{ topic.user.url }}" style="color: #fff">
                  {{ topic.user.uname -}}
                </a>,
                <abbr class="timeago" title="{{ topic.created_at.toISOString() }}">
                  {{ topic.formattedCreatedAt }}
                </abbr>
              </p>
            </div><!--/.col-7-->
            <div class="col-xs-2">
              {{ topic.posts_count }}
            </div>
            <div class="col-xs-3">
                {% if topic.latest_user %}
                  <div>
                    by
                    <a href="{{ topic.latest_user.url }}"
                       style="color: #fff">
                      {{ topic.latest_user.uname -}}
                    </a>
                    <a href="{{ topic.latest_user.url}}">
                      <span class="glyphicon glyphicon-link"></span>
                      &rarr;
                    </a>
                  </div>
                  <abbr class="timeago" title="{{ topic.latest_post.created_at.toISOString() }}">
                    {{ topic.latest_post.formattedCreatedAt }}
                  </abbr>
                {% else %}
                  --
                {% endif %}
            </div>
          </div><!--/.row-->
        </div><!--/list-group-item-->
    {% endfor %}
    </div><!--/.list-group-->




{% endblock %}

{% block scripts %}
{% endblock%}
