
body {
    background-color: #222020;
    color: #fff;
}

/* Provide a gutter so that content isn't flush against the bottom of the window */
body {
    padding-bottom: 100px;
}

/* Make all links dat ugly taxi-cab yellow */
a {
    color: #ffc300;
}

/* Invert (darken) the bgcolor of breadcrumbs */
.breadcrumb {
    background-color: #3d3a3a;
}

/* Ensure images can be no wider than post container width */
.post-body-html img,
.post-body img {
    max-width: 100%;
}

/* Prevent text/cursor selection on elements where it doesn't make sense */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darken page-header bottom border that's light by default */
.page-header {
    border-color: #000;
}

/* Invert the well to make it dark. Remove background-image added by
   Bootstrap-theme */
.well {
    background-color: #222;
    border-color: #111;
    background-image: none;
}

/* =========================================================== */
/* Undocumented overrides I ported over from the clojure Guild */
/* TODO: Review and prune/document these to explain purpose    */
/* =========================================================== */

.panel-default {
    background-color: #3d3a3a;
}

/* Mute the link colors in panel headers, darken the bgs */
.panel-default>.panel-heading a,
.panel-default>.panel-heading {
    color: #ccc;
}
.panel-default>.panel-heading {
    background-color: #262626;
    border-color: #2e2c2c;
}
.panel-default {
    border-color: #3d3a3a;
}
.panel-footer {
    background-color: #7A7575;
}

/* ================================================= */

/* Make the text black in the bootstrap-markdown editor/preview */
.md-editor {
    color: black;
}

/* ===SHOW TOPIC==================== */

/* Add some space between controls and tabs/postlist below them */
.topic-controls {
    margin-bottom: 10px;
}
/* Put them inline  */
.topic-controls form {
    display: inline-block;
    margin-right: 10px;
}

/*  Add my own .btn-gray to line up with closed/unclock topic
    since .btn-default is white. modeled after label-default like the Closd
    banner */
.btn-gray {
  background-color: #999;
  color: #fff;
  background-image: linear-gradient(to bottom, #999 0, #666 100%);
  background-repeat: repeat-x;
  border-color: #888;
}
/* extend it with other bootstrap-theme stuff */
.btn-gray {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  color: white;
}


/* Paginater adjustments taken from oldguild. */

.pager li>a {
    background-color: #222;
    border-color: #111;
    }

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
        background-color: #222;
    border-color: #111;

}


/* Remove inline styles from homepage */
.category-group-heading {
    background-color: #1d1d1d;
    border: 1px solid #111;
}
.forum-item {
    background-color: #3d3a3a;
    border: 1px solid #111;
    color: #fff;
}

/* Shrink blockquote text to match regular font size */
blockquote {
    font-size: 14px;
}

/* ================================================== */


/* Tablets and up */
@media (min-width: 768px) {
    .post-user-meta .user-uname,
    .post-user-meta .user-role {
        text-align: center;
    }
}

@media (min-width: 992px) {
    /* 151px used so that images larger than 150px will
         trigger the "This image is too large" event */
    .post-avatar img {
        max-width: 151px;
    }
}

/* Large tablets/netbooks, not desktops/large laptops  */
@media (min-width: 992px) and (max-width: 1199px) {
    .post-avatar img {
        max-width: 115px;
    }
}


/* Tablets only */
@media (min-width: 768px) and (max-width: 991px) {
    .post-avatar img {
        max-width: 90px;
    }
}

@media (max-width: 768px) {
    .post-avatar img {
        max-width: 50px;
    }
    .post-sig {
        height: 100px;
    }

    .post-content {
      border-top: 2px solid black;
      padding-top: 10px;
    }
}


@media (max-width: 767px) {
    .post-content {
        margin-top:20px;
    }
    .post-sig {
        margin-top: 20px;
    }
    /* .post-avatar { */
    /*     float: left; */
    /* } */
    .user-avatar-img-mobile {
        float: left;
    }
    .post-user-meta .user-avatar-box {
    /* float:left; */
    /* left: 10px; */
    }
    /* .post-user-meta .user-uname { */
    /*     /\* position: absolute; *\/ */
    /*     /\* left: 100px; *\/ */
    /*     margin-left: 10px; */
    /*     float: left; */
    /* } */
    .post-user-meta .user-role {
    /* position: absolute; */
    /* left: 100px; */
    /* top: 20px; */
    }
}

/* bbcode   */

.bb-h1:before,
.bb-h2:before,
.bb-h3:before {
    color: #666;
}
.bb-h1,
.bb-h2,
.bb-h3 {
  font-family: Georgia, serif;
}

/* Ensure h1, h2, and h3 cannot be nested */
.bb-h1 .bb-h1,
.bb-h1 .bb-h2,
.bb-h1 .bb-h3,
.bb-h2 .bb-h1,
.bb-h2 .bb-h2,
.bb-h2 .bb-h3,
.bb-h3 .bb-h1,
.bb-h3 .bb-h2,
.bb-h3 .bb-h3 {
    display: none;
}


.bb-h1 {
    /* font-size: 2em; */
    font-size: 3em;
    border-bottom: 6px double white;
    margin-top: 20px;
}
.bb-h2 {
    /* font-size: 1.75em; */
    font-size: 2.25em;
    border-bottom: 1px solid white;
    margin-top: 20px;
}
.bb-h3 {
    /* font-size: 1.50em; */
    font-size: 1.75em;
    margin-top: 20px;
}
/* .bb-h1:before {content: '# ';} */
/* .bb-h2:before {content: '## ';} */
/* .bb-h3:before {content: '### ';} */
.bb-indent {
    padding-left: 20px;
    padding-right: 20px;
}

.hider-panel {
    border: 1px solid black;
}

/* The default blockquote footer is small and hugs the text too closely
   and is hard to see against the slate grey */
blockquote footer {
    font-size: 100%;
    color: #888;
    margin-top: 10px;
}

.bb-b {
    font-weight: bold;
}
.bb-i {
    font-style: italic;
}
.bb-u {
    text-decoration: underline;
}
.bb-s {
    text-decoration: line-through;
}
.bb-mark {
    padding: 0.2em;
    background-color: #ff0;
    color: #000;
}

/* Alignment */
.bb-center { text-align: center; }
.bb-left { text-align: left; }
.bb-right { text-align: right; }
.bb-justify { text-align: justify; }

.bb-quote {
    padding-top: 0;
    margin-bottom: 0;
}

.bb-table tr.bb-active td,
.bb-table td.bb-active {background-color: #666 !important;}
.bb-table tr.bb-success td,
.bb-table td.bb-success {background-color: #00BC8C !important;}
.bb-table tr.bb-warning td,
.bb-table td.bb-warning {background-color: #F39C12 !important;}
.bb-table tr.bb-danger td,
.bb-table td.bb-danger {background-color: #E43725 !important;}
.bb-table tr.bb-info td,
.bb-table td.bb-info {background-color: #3498DB !important;}
/* Darken table borders/grid */
/* .table > tbody > tr > td {border-top: 1px solid #888;} */
/* .bb-th {border-bottom-color: #888 !important;} */

/*
    Gives content a border that lines up with the border of Bootstrap's nav-tabs
    that must be directly above it.
    This encompasses tab content is a complete border that makes it obvious
    what will change when a tab is clicked.
    Ex:
    <ul class="nav nav-tabs">...</ul>
    <div class="tabbed-content"></div>
 */
.tabbed-content {
    padding: 20px 10px 10px 10px;
    border-radius: 0 0 4px 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

textarea {
    background-color: #2E2C2C !important;
    color: white !important;
}
.md-preview {
    background-color: #2E2C2C !important;
    color: white !important;
    padding: 10px;
}

.bb-color-editor {
    width: 250px;
}
.bb-color-row {
    line-height: 10px;
}
.bb-color-swatch {
    height: 15px;
    width: 15px;
    display: inline-block;
    border: 1px solid white;
}


/* For some reason since I added bbcode I need to add a gutter back
   in below the editor else the Submit button is flush against it.
 */
.md-editor {
    margin-bottom: 10px;
}

/* Invert the colors of fullscreen mode. By default it's black on white. */
.md-editor.md-fullscreen-mode {
    background: #2E2C2C !important;
}
.md-editor.md-fullscreen-mode .md-input,
.md-editor.md-fullscreen-mode .md-preview {
    background: #2E2C2C !important;
}
.md-editor.md-fullscreen-mode .md-input:focus,
.md-editor.md-fullscreen-mode .md-input:hover {
    background: #2E2C2C !important;
}

/* In fullscreen-mode, make the button text white */
.md-editor.md-fullscreen-mode .btn {
    color: #fff;
}

.md-editor.md-fullscreen-mode .btn.active,
.md-editor.md-fullscreen-mode .btn:active {
    background: #ccc;
    color: #000
}
.md-editor.md-fullscreen-mode .btn:focus,
.md-editor.md-fullscreen-mode .btn:hover {
    background: #ccc;
    color: #000;
}

.bbcode-errors {
    margin-top: 5px;
}
.bbcode-editor-mode {
    display: none;
    margin-left: 10px;
}