
body {
    background-color: #222020;
    color: #fff;
}

/* Provide a gutter so that content isn't flush against the bottom of the window */
body {
    padding-bottom: 100px;
}

/* Make all links dat ugly taxi-cab yellow */
a {
    color: #ffc300;
}

/* Invert (darken) the bgcolor of breadcrumbs */
.breadcrumb {
    background-color: #3d3a3a;
}

/* Ensure images can be no wider than post container width */
.post-body img {
    max-width: 100%;
}

/* Prevent text/cursor selection on elements where it doesn't make sense */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darken page-header bottom border that's light by default */
.page-header {
    border-color: #000;
}

/* Invert the well to make it dark. Remove background-image added by
   Bootstrap-theme */
.well {
    background-color: #222;
    border-color: #111;
    background-image: none;
}

/* =========================================================== */
/* Undocumented overrides I ported over from the clojure Guild */
/* TODO: Review and prune/document these to explain purpose    */
/* =========================================================== */

.panel-default {
    background-color: #3d3a3a;
}

/* Mute the link colors in panel headers, darken the bgs */
.panel-default>.panel-heading a,
.panel-default>.panel-heading {
    color: #ccc;
}
.panel-default>.panel-heading {
    background-color: #262626;
    border-color: #2e2c2c;
}
.panel-default {
    border-color: #3d3a3a;
}
.panel-footer {
    background-color: #7A7575;
}

/* ================================================= */

/* Make the text black in the bootstrap-markdown editor/preview */
.md-editor {
    color: black;
}

/* ===SHOW TOPIC==================== */

/* Add some space between controls and tabs/postlist below them */
.topic-controls {
    margin-bottom: 10px;
}
/* Put them inline  */
.topic-controls form {
    display: inline-block;
    margin-right: 10px;
}

/*  Add my own .btn-gray to line up with closed/unclock topic
    since .btn-default is white. modeled after label-default like the Closd
    banner */
.btn-gray {
  background-color: #999;
  color: #fff;
  background-image: linear-gradient(to bottom, #999 0, #666 100%);
  background-repeat: repeat-x;
  border-color: #888;
}
/* extend it with other bootstrap-theme stuff */
.btn-gray {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  color: white;
}


/* Paginater adjustments taken from oldguild. */

.pager li>a {
    background-color: #222;
    border-color: #111;
    }

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
        background-color: #222;
    border-color: #111;

}