
body {
    background-color: #222020;
    color: #fff;
}

/* Lighten muted text so it shows better on dark bgs */
.text-muted {
    color: #999;
}

/* Darken label text so it shows better on dark bg */
.label {
    color: #111;
}

/* Provide a gutter so that content isn't flush against the bottom of the window */
body {
    padding-bottom: 100px;
}

/* Make all links dat ugly taxi-cab yellow */
a {
    color: #ffc300;
}

/* Invert (darken) the bgcolor of breadcrumbs */
.breadcrumb {
    background-color: #3d3a3a;
}

/* Ensure images can be no wider than post container width */
.post-body-html img,
.post-body img {
    max-width: 100%;
}

/* Prevent text/cursor selection on elements where it doesn't make sense */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darken page-header bottom border that's light by default */
.page-header {
    border-color: #000;
}

/* Invert the well to make it dark. Remove background-image added by
   Bootstrap-theme */
.well {
    background-color: #222;
    border-color: #111;
    background-image: none;
}

/* =========================================================== */
/* Undocumented overrides I ported over from the clojure Guild */
/* TODO: Review and prune/document these to explain purpose    */
/* =========================================================== */

.panel-default {
    background-color: #3d3a3a;
}

/* Mute the link colors in panel headers, darken the bgs */
.panel-default>.panel-heading a,
.panel-default>.panel-heading {
    color: #ccc;
}
.panel-default>.panel-heading {
    background-color: #262626;
    border-color: #2e2c2c;
}
.panel-default {
    border-color: #3d3a3a;
}
.panel-footer {
    background-color: #7A7575;
}

/* ================================================= */

/* Make the text black in the bootstrap-markdown editor/preview */
.md-editor {
    color: black;
}

/* ===SHOW TOPIC==================== */

/* Add some space between controls and tabs/postlist below them */
.topic-modkit {
    margin-bottom: 10px;
}
/* Put them inline  */
.topic-modkit form {
    display: inline-block;
    margin-right: 10px;
}

/*  Add my own .btn-gray to line up with closed/unclock topic
    since .btn-default is white. modeled after label-default like the Closd
    banner */
.btn-gray {
  background-color: #999;
  color: #fff;
  background-image: linear-gradient(to bottom, #999 0, #666 100%);
  background-repeat: repeat-x;
  border-color: #888;
}
/* extend it with other bootstrap-theme stuff */
.btn-gray {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  color: white;
}


/* Paginater adjustments taken from oldguild. */

/* darken hover */
.pager li > a:hover, .pager li > a:focus {
    background: none;
    border-color: #222;
}

.pager li>a {
    background-color: #222;
    border-color: #777;
}

.pager .disabled>a, .pager .disabled>a:hover, .pager .disabled>a:focus, .pager .disabled>span {
    background-color: #222;
    border-color: #777;

}


/* Remove inline styles from homepage */
.category-group-stats-heading {
    margin-top: 20px;
}
.category-group-heading {
    /* background-color: #1d1d1d; */
    /* border: 1px solid #111; */
    background-color: transparent;
    border: 0;
}
.category-group {
    box-shadow: none;
}
.forum-item {
    background-color: #3d3a3a;
    border: 1px solid #111;
    color: #fff;
}

/* Shrink blockquote text to match regular font size */
blockquote {
    font-size: 14px;
}

/* ================================================== */


/* Tablets and up */
@media (min-width: 768px) {
    .post-user-meta .user-uname,
    .post-user-meta .user-role {
        text-align: center;
    }
}

@media (min-width: 992px) {
    .post-avatar img {
        max-width: 150px;
    }
}

/* Large tablets/netbooks, not desktops/large laptops  */
@media (min-width: 992px) and (max-width: 1199px) {
    .post-avatar img {
        max-width: 115px;
    }
}


/* Tablets only */
@media (min-width: 768px) and (max-width: 991px) {
    .post-avatar img {
        max-width: 90px;
    }

    /* shrink cyberpunk userbit text */
    .cyberpunk {
        font-size: 75%;
    }
}

@media (max-width: 768px) {
    .post-avatar img {
        max-width: 50px;
    }
    .post-sig {
        max-height: 100px;
    }
    .small-userbit-divider {
        margin-left: -30px;
        margin-right: -30px;
    }
    .post-rating-list {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .post-content {
      /* border-top: 2px solid black; */
      /* padding-top: 10px; */
    }
}


.post-sig {
    max-height: 300px;
    overflow-y: hidden;
    overflow-x: visible;
    margin-top: 50px;
    padding: 20px 20px 0 20px;
    border-top: 2px dotted black;
}


@media (max-width: 767px) {
    .pager {
        font-size: 80%
    }
    .logout-form {
        float: none !important;
    }
    .logout-form input {
        width: 100%;
        display: block;
        text-decoration: underline;
        background-color: #c9302c;
        border-color: #ac2925;
        background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
        background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
        background-repeat: repeat-x;
        text-shadow:  0 -1px 0 rgba(0, 0, 0, .2);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
        color: white;
    }
    .navbar {
        margin-bottom: 0;
    }
    .post-content {
        margin-top: 10px;
    }
    .post-sig {
        margin-top: 20px;
        /* padding-top: 0; */
        /* border-top:0; */
    }
    /* .post-avatar { */
    /*     float: left; */
    /* } */
    .user-avatar-img-mobile {
        float: left;
    }
    .post-user-meta .user-avatar-box {
    /* float:left; */
    /* left: 10px; */
    }
    /* .post-user-meta .user-uname { */
    /*     /\* position: absolute; *\/ */
    /*     /\* left: 100px; *\/ */
    /*     margin-left: 10px; */
    /*     float: left; */
    /* } */
    .post-user-meta .user-role {
    /* position: absolute; */
    /* left: 100px; */
    /* top: 20px; */
    }
}

/* bbcode   */

.bb-h1:before,
.bb-h2:before,
.bb-h3:before {
    color: #666;
}
.bb-h1,
.bb-h2,
.bb-h3 {
  font-family: Georgia, serif;
}

/* Ensure h1, h2, and h3 cannot be nested */
.bb-h1 .bb-h1,
.bb-h1 .bb-h2,
.bb-h1 .bb-h3,
.bb-h2 .bb-h1,
.bb-h2 .bb-h2,
.bb-h2 .bb-h3,
.bb-h3 .bb-h1,
.bb-h3 .bb-h2,
.bb-h3 .bb-h3 {
    display: none;
}


.bb-h1 {
    /* font-size: 2em; */
    font-size: 3em;
    /* border-bottom: 6px double white; */
    margin-top: 20px;
}
.bb-h2 {
    /* font-size: 1.75em; */
    font-size: 2.25em;
    /* border-bottom: 1px solid white; */
    margin-top: 20px;
}
.bb-h3 {
    /* font-size: 1.50em; */
    font-size: 1.75em;
    margin-top: 20px;
}
/* .bb-h1:before {content: '# ';} */
/* .bb-h2:before {content: '## ';} */
/* .bb-h3:before {content: '### ';} */
.bb-indent {
    padding-left: 20px;
    padding-right: 20px;
}

.hider-panel {
    border: 1px solid black;
}

/* The default blockquote footer is small and hugs the text too closely
   and is hard to see against the slate grey */
blockquote footer {
    font-size: 100%;
    color: #888;
    margin-top: 10px;
}

.bb-b {
    font-weight: bold;
}
.bb-i {
    font-style: italic;
}
.bb-u {
    text-decoration: underline;
}
.bb-s {
    text-decoration: line-through;
}
.bb-mark {
    padding: 0.2em;
    background-color: #ff0;
    color: #000;
}

/* Alignment */
.bb-center { text-align: center; }
.bb-left { text-align: left; }
.bb-right { text-align: right; }
.bb-justify { text-align: justify; }

.bb-quote {
    padding-top: 0;
    margin-bottom: 0;
}

.bb-table tr.bb-active td,
.bb-table td.bb-active {background-color: #666 !important;}
.bb-table tr.bb-success td,
.bb-table td.bb-success {background-color: #00BC8C !important;}
.bb-table tr.bb-warning td,
.bb-table td.bb-warning {background-color: #F39C12 !important;}
.bb-table tr.bb-danger td,
.bb-table td.bb-danger {background-color: #E43725 !important;}
.bb-table tr.bb-info td,
.bb-table td.bb-info {background-color: #3498DB !important;}
/* Darken table borders/grid */
/* .table > tbody > tr > td {border-top: 1px solid #888;} */
/* .bb-th {border-bottom-color: #888 !important;} */

/*
    Gives content a border that lines up with the border of Bootstrap's nav-tabs
    that must be directly above it.
    This encompasses tab content is a complete border that makes it obvious
    what will change when a tab is clicked.
    Ex:
    <ul class="nav nav-tabs">...</ul>
    <div class="tabbed-content"></div>
 */
.tabbed-content {
    padding: 20px 10px 10px 10px;
    border-radius: 0 0 4px 4px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

textarea {
    background-color: #2E2C2C !important;
    color: white !important;
}
.md-preview {
    background-color: #2E2C2C !important;
    color: white !important;
    padding: 10px;
}

.bb-color-editor {
    width: 250px;
}
.bb-color-row {
    line-height: 10px;
}
.bb-color-swatch {
    height: 15px;
    width: 15px;
    display: inline-block;
    /* border: 1px solid white; */
}


/* For some reason since I added bbcode I need to add a gutter back
   in below the editor else the Submit button is flush against it.
 */
.md-editor {
    margin-bottom: 10px;
}

/* Invert the colors of fullscreen mode. By default it's black on white. */
.md-editor.md-fullscreen-mode {
    background: #2E2C2C !important;
}
.md-editor.md-fullscreen-mode .md-input,
.md-editor.md-fullscreen-mode .md-preview {
    background: #2E2C2C !important;
}
.md-editor.md-fullscreen-mode .md-input:focus,
.md-editor.md-fullscreen-mode .md-input:hover {
    background: #2E2C2C !important;
}

/* In fullscreen-mode, make the button text white */
.md-editor.md-fullscreen-mode .btn {
    color: #fff;
}

.md-editor.md-fullscreen-mode .btn.active,
.md-editor.md-fullscreen-mode .btn:active {
    background: #ccc;
    color: #000
}
.md-editor.md-fullscreen-mode .btn:focus,
.md-editor.md-fullscreen-mode .btn:hover {
    background: #ccc;
    color: #000;
}

.bbcode-errors {
    margin-top: 5px;
}
.bbcode-editor-mode {
    display: none;
    margin-left: 10px;
}

/* Popover font color is white by default. We need it to be dark. */
.popover {
    color: #000;
    border: 2px solid black;
}

/* Make the smilies wrap */
#bbcode-cheatsheet .smilie-box {
    display: inline-block;
}
.user-stats {
    color: #a86;
}

/* .topic-item is each list-group-item on show_forum */
/* Darken their timeagos */
.topic-item .moved-at,
.topic-item .created-at,
.forum-item abbr {
    color: #999;
}

.top-link {
    color: #999;
}

.bb-mention {
    background-color: #222;
    padding: 1px 3px;
    margin: 0 1px;
    border: 1px solid #444;
}
.bb-mention:hover {
    text-decoration: none;
}


/* CORNER RIBBON */

.corner-ribbon {
    width: 200px;
    background-color: #39d;
    position: absolute;
    top: 10px;
    left: -83px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.corner-ribbon.top-right {
    right: -83px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

/* hide/unhide btn. it's on the left of post footer. give it some space*/
.hide-btn,
.unhide-btn {
    margin-left: 10px;
}

.hidden-post .post-content-wrapper {
    max-height: 200px;
    overflow-y: auto;
}
.hidden-post {
    opacity: 0.50;
    position: relative;
}
.hidden-post::before {
    content: 'HIDDEN';
    position: absolute;
    text-align: center;
    font-size: 10em;
    top: 0;
    left: 0;
    color: white;
    opacity: 0.25;
    padding-top: 20px;
    display: block;
    height: 0;
    width: 100%;
    z-index: 1;
}

#tagline {
    color: #666;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0px;
    position: relative;
}

/* overrides to darken the editor padding */
.md-editor>.md-header {
    background-color: #888;
}
.md-editor .md-footer, .md-editor>.md-header {
    background-color: #888;
}
.char-count {
    color: #ccc;
    text-shadow: -1px -1px 0px rgba(0,0,0,1.0);
    margin-right: 10px;
}
.md-editor>textarea {
    padding: 5px;
}

/* take off the glaring white bg from bootstrap's <code>.
   give it darker font color*/
code {
    background-color: transparent;
    color: #7bcdc8;
}
pre {
    background-color: transparent;
    color: #7bcdc8;
}

/*
  darken tabs, llike the OOC/IC tabs
 */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #777;
    /* darken text */
    color: #111;
    font-weight: 500;
    /* darken border */
    border-color: #999;
}
.nav-tabs {
    /* darken border */
    border-color: #111;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.forum-tabs > li.active > a,
.forum-tabs > li.active > a:hover,
.forum-tabs > li.active > a:focus,
.topic-tabs > li.active > a,
.topic-tabs > li.active > a:hover,
.topic-tabs > li.active > a:focus {
    border-bottom: 0;
    border-color: #111;
}
.forum-tabs,
.topic-tabs {
    /* remove border-bottom since it's flush against post that has border*/
    border: 0
}
.topic-tabs {
    /* override -1px since topic tabs should be flush against first post */
    margin-bottom: 0;
}
.topic-tabs .badge {
    /* darken */
    background-color: #333;
}
.nav > li > a:hover, .nav > li > a:focus {
    /*too bright white. just make it slightly lighter than active tabs*/
    background-color: #999;
    /* normally it's yellow like a:hover. make it dark */
    color: #333;
}
.nav-tabs > li > a:hover {
    /*when tab is hovered, remove those white borders.make it same color as
      hovered tab*/
    border-color: #999;
}

/*
   Typeahead wraps the <input> in a span.twitter-typeahead that has
   display: inline-block. But we want it to be block.
 */
.twitter-typeahead {
    display: block !important;
}

.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 5px 0;
    color: black;
}
.tt-suggestion {
    padding: 3px 20px;
    white-space: nowrap;
}

.tt-suggestion:hover {
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}
.tt-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #333 !important;
}

/* give dat cool, dark , "sunken"/inset look to form elements */
.tt-input,
textarea.form-control,
input[type="email"].form-control,
input[type="password"].form-control,
input[type="text"].form-control {
    background-color: #333;
    border-color: #111;
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    color: white;
}

.md-editor {
    border: 0;
}
.md-editor>textarea {
    border-left: 1px solid #111;
    border-right: 1px solid #111;
}
.md-editor>textarea:focus {
    /* this turns box shadow off on focus. i wnat it back*/
    box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    /* default is white. */
    background: inherit;
}
.form-control:focus {
    border: 0;
}



.btn {
    border-radius: 0;
    border-color: #111 !important;
    text-shadow: 0 1px 0 #111;
}

.btn-success {
    background-image: linear-gradient(to bottom, #3BB878 0%, #27784E 100%)
}
.btn-success:hover {
    background-color: #27784E;
}
.btn-success.active,
.btn-success:active {
    background-color: #27784E;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    /* darken beyond just opacity 0.65*/
    color: #aaa;
}


.btn-gray,
.btn-default {
  /* Gray */
  /* background-image: linear-gradient(to bottom, #666 0%, #333 100%); */
  background-image: linear-gradient(to bottom, #666 0%, #615753 100%);
  border-color: #111;
  color: #e5e5e5; /* Whiter than what was previously #ccc */
  text-shadow: 0 1px 0 #111;
  background-color: #333;
  border-radius: 0px;
}

.btn-default:disabled, .btn-default[disabled] {
    background-color: #333;
    color: #555;
}

.btn-gray:hover,
.btn-default:hover,
.btn-gray:focus,
.btn-default:focus,
.btn-gray:active,
.btn-default:active,
.btn-gray.active,
.btn-default.active {
  /* Gray */
  /* background-color: #333; */
  background-color: #615753;
  border-color: #111;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-gray:hover,
.btn-gray:focus,
.btn-gray.focus {
    color: #ccc;
}

.md-editor .md-footer {
    min-height: 45px;
  background-image: linear-gradient(to bottom, #53615F 0%, #495861 100%);
  border-color: black;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.md-editor>.md-header {
  background-image: linear-gradient(to bottom, #495861 0%, #53615F 100%);
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.md-editor>.md-preview {
    border-top: 0;
    border-right: 1px solid #111;
    border-bottom: 0;
    border-left: 1px solid #111;
}
.md-editor.active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(152, 134, 134, 1);
}

.md-editor {
    position: relative;
}
.md-editor>.md-preview:before {
    content: 'Preview Mode';
    position: absolute;
    top: 50px;
    right: 10px;
    color: #ccc;
    opacity: 0.25;
    font-size: 2em;
}

/* popover */

.popover {
    background-color: #777;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075), 0px 3px 15px 0px black;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  border-radius: 0;
}
.popover-title {
    background-color: #777;
    border-bottom: 0;
    padding: 8px 14px 0 14px;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: oblique;
}
.popover.top > .arrow:after {
    border-top-color: #777;
}
/* white repalcement D7CFC0*/



.label-success {
    background-color: #3BB878;

}
.bbcode-errors p {
    color: #ccc;
    text-shadow: -1px -1px 0px rgba(0,0,0,1.0);
    margin-left: 10px;
}
.bbcode-errors p .label {
    text-shadow: none;
}

.bbcode-errors {
    position: relative;
}

.char-count {
    position: absolute;
    right: 10px;
}

.list-group-item:last-child,
.list-group-item:first-child,
.list-group-item,
.list-group,
.panel {
    border-radius: 0;
}

.post .panel-heading {
  /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075), 0px 3px 15px 0px black; */
  /* -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075); */
}
.post.panel {
    margin-bottom: 5px;
}

/* remove rounded corners */
.navbar,
.breadcrumb {
    border-radius: 0;
}

/* Ratings */

ul.post-rating-actions {
    margin-right: 10px;
    margin-bottom: 0;
}
ul.post-rating-actions li {
    display: inline-block;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
}
.post-rating-list {
    margin-top: 20px;
}
.rating-table.table > thead > tr > th {
    border-bottom: 0;
}
.rating-table.table > thead > tr > th,
.rating-table.table > tbody > tr > th,
.rating-table.table > tfoot > tr > th,
.rating-table.table > thead > tr > td,
.rating-table.table > tbody > tr > td,
.rating-table.table > tfoot > tr > td {
    border-top: 0;
}

.rater-list li {
    padding-right: 0;
}

.bb-greentext {
    color: #789922;
    text-shadow: 0 0 1px #789922;
}

.topic-item-current-user-posted:before {
    content: "-";
    position: absolute;
    left: -10px;
    top: 20px;
    color: #65F598;
}

.post-type-label {
  font-family: Courier New;
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 5px;
}

.user-custom-title {
    word-break: break-word;
}

/* Make ratings more subtle */
.post-rating-actions img {
    opacity: 0.50;
}
.post-rating-actions img:hover {
    opacity: 1.00;
}

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* darken hr and reduce margin */
hr {
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid #444;
}

/* join_status */

.join-status-apply,
.join-status-jump-in,
.edit-topic .join-status-apply,
.edit-topic .join-status-jump-in,
.show-topic .join-status-apply,
.show-topic .join-status-jump-in,
.show-forum .join-status-apply,
.show-forum .join-status-jump-in {
    color: #3bb878;
    text-shadow: 0px 0px 1px #3bb878;
}
.join-status-full,
.edit-topic .join-status-full,
.show-topic .join-status-full,
.show-forum .join-status-full {
    color: #999;
}

.join-status,
.edit-topic .join-status,
.show-forum .join-status {
    font-family: monospace;
}
.show-forum .join-status {
    text-align: center;
}
.show-topic .topic-join-status .a {
    color: #ccc;
}

/* new topic form */
#new-topic-form {
    padding-bottom: 15px;
}
#new-topic-form .post-type-btn-group,
#new-topic-form p,
#new-topic-form .form-controls,
#new-topic-form .form-group {
    padding-left: 15px;
    padding-right: 15px;
}

#new-topic-form h4 {
    margin-top: 0;
    background-color: #111;
    padding: 10px 15px;
}

.page-header {
    /* shrink margin a lil bit */
    margin-top: 20px;
}

/* ads and mock ads */

.abc {
    text-align: center;
    width: 100%;
}
.mock-ad {
    border: 2px solid #999;
    display: table;
    color: #999;
    margin-left: auto;
    margin-right: auto;
}
.mock-ad div {
  display: table-cell;
  vertical-align: middle;
}

/* ===============*/

.latest-post .latest-title {
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* max-width: 100px; */
    /* display: inline-block; */
}

.latest-post {
    /* font-size: 85%; */
    font-size: 100%;
    /* white-space: nowrap; */
    overflow: hidden;
}

.latest-post .by-line a {
    text-decoration: underline;
}
.latest-post .by-line a:hover {
    text-decoration: none;
}

.forum-controls {
    float: right;
}
.new-topic-btn {
    float: right;
}

@media (max-width: 768px) {
    .forum-controls {
        float: none;
    }
    .new-topic-btn {
        float: none;
    }
    .latest-post {
        font-size: 85%;
    }
    .latest-post .by-line {
        /* display: inline-block; */
    }
}
.by-line {
    margin-bottom: 10px;
}

/* shrink/grow cateogry-title on homepage */
.category-title {
    font-family: Georgia;
    font-size: 2.0em;
    margin-top: 0;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .category-title {
      font-size: 1.6em;
    }
}


/* give forum panels the edge */
.topic-item,
.forum-item {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

/* give labels the edge */
.label {
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}


.forum-item-title {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 1.3em;
    /* text-transform: uppercase; */
    /* font-style: oblique; */
    font-weight: bold;
}

.subforum-item-title {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 1.1em;
    /* text-transform: uppercase; */
    /* font-style: oblique; */
    /* font-weight: bold; */
}

/* md and below */
@media  (max-width: 991px) {
    .latest-char,
    .latest-ooc,
    .latest-ic {
        display: inline-block;
    }
}
.timeago {
    color: #999;
}

.unsub-form button,
.unsub-form {
    display: inline-block;
    color: #d9534f;
}

@media (max-width: 768px) {
    .stats-panel-aggregates {
        text-align: left;
    }
}

/* global + fixed top/bottom buttons */

#top-bottom-box {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 500;
}
#top-bottom-box a:hover {
    opacity: 1.0;
}
#top-bottom-box a {
    font-size: 25px;
    opacity: 0.50;
    border-radius: 2px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    display: inline-block;
    background-color: #3bb878;
    color: #23382e;
    text-align: center;
}

.topic-tabs {
    /* Give topic tabs a top margin so that the "Page XX" tooltip does
     not cover the buttons above them */
    margin-top: 30px;
}

.topic-controls {
    float: right;
}

.post-content {
    /* Force long things in posts to wrap */
    word-wrap: break-word;
}

.topic-controls form {
    display: inline-block;
    /* margin-right: 10px; */
}

@media (max-width: 767px) {

    /* Shrink pagination buttons */
    .pager li > a, .pager li > span {
        padding: 2px 5px;
    }

    /* Shrink bbcode headers */
    .bb-h1 { font-size: 2.50em; }
    .bb-h2 { font-size: 1.75em; }
    .bb-h3 { font-size: 1.25em; }

    /* Shrink pager margins */
    .pager {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Shrink topic heading */
    .topic-heading {
        font-size: 18px;
    }
    .topic-page-header {
        margin-bottom: 0;
    }
    .post-type-label {
        font-size: 18px;
        margin-bottom: 0;
    }

    /* - Shrink buttons above topic on mobile
       - Center them
     */
    .forum-controls,
    .topic-controls {
        float: none;
        text-align: center;
        /* margin-bottom: 10px; */
    }
    .forum-controls button,
    .forum-controls a,
    .topic-controls button,
    .topic-controls a {
        padding: 1px 5px;
        font-size: 12px;
        line-height: 1.5;
    }

    /* Reduce post content padding in smallest width */
    .panel-body {
        padding: 10px;
    }
    .post-content-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    /* Shrink pbp tagline on mobile */
    #tagline {
        font-size: 1em;
    }
  }

.latest-post-btn {
    color: #ffc300;
    padding-left: 10px;
    padding-right: 10px;
}

.bb-hr {
    border-top: 1px solid #ccc;
}

.bb-list li {
    white-space: pre-wrap;
}

.md-editor>textarea {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

.bb-list {
    margin-bottom: 0;
}



/* Search page */

@media (max-width: 768px) {
  /* Shrink tab padding on mobile */
  body.search .nav > li > a {
    padding: 5px 10px;
  }
}

/* Only show the multi-select-hint to people with large screens
   - hopefully just people with keyboards */
@media (max-width: 1199px) {
    body.search .multi-select-hint {
        display: none;
    }
}
@media (min-width: 1200px) {
    body.search .multi-select-hint {
        display: block;
    }
}

.popover-user-status {
    font-size: 90%;
}
.popover-user-status .timeago {
    color: #111;
}

.unread-posts-tag {
    color: #65f598;
    /* border: 1px solid #65f598; */
    /* font-size: 75%; */
    /* padding: 0px 3px; */
    font-family: Courier New;
}

.topic-title-link.has-unread-posts {
    font-weight: bold;
}

.topic-tabs > li.active > a,
.topic-tabs > li.active > a:hover,
.topic-tabs > li.active > a:focus,
.topic-tabs > li > a,
.topic-tabs > li > a:hover,
.topic-tabs > li > a:focus {
    padding-bottom: 35px;
}

/* Cyberpunk effect for "Benevolent Cyberpunk" trophy (id = 1) */

.cyberpunk td.L { text-align: left; }
.cyberpunk td.R { text-align: right; }
.cyberpunk table {
    color: rgb(50, 255, 50);
}
.cyberpunk .negate-bg {
  background: rgb(0,10,0);
}
.cyberpunk .danger {
 	color: rgb(255,50,50);
  background: rgb(0,10,0);
}
.cyberpunk .warn {
  color: rgb(255,255,50);
  background: rgb(0,10,0);
}
.cyberpunk {
    font-family: monospace;
}
.cyberpunk legend a {
    color: rgb(0,10,0);
}
.cyberpunk legend {
    /* color: rgb(50,255,50); /* #32ff32 */
    font-size: 14px;
    background: rgb(50,255,50);
    color: rgb(0,10,0);
    width: auto;
    padding: 0 5px;
    border: 0;
    margin-bottom: 5px;
}
fieldset.cyberpunk {
    margin: 15px 0;
    border: 3px double rgb(50,255,50);
    padding: 2px;
    color: #197F19;
    background-image: url('/img/cyberpunk-bg.png');
}

.green-glow {
    color: #3bb878;
    text-shadow: 0px 0px 1px #3bb878;
}
.red-glow {
    color: #e74c3c;
    text-shadow: 0px 0px 1px #e74c3c;
}

.topic-item {
    /* deault bg color for tpics in a topic list */
    background-color: #3d3a3a;
    border: 1px solid #111;
    color: #fff;
}

/* for topics in the topic list (show forum) that are stickied */
.topic-item-sticky {
    background-color: #12424e;
}