
body {
    background-color: #222020;
    color: #fff;
}

/* Provide a gutter so that content isn't flush against the bottom of the window */
body {
    padding-bottom: 100px;
}

/* Make all links dat ugly taxi-cab yellow */
a {
    color: #ffc300;
}

/* Invert (darken) the bgcolor of breadcrumbs */
.breadcrumb {
    background-color: #3d3a3a;
}

/* Ensure images can be no wider than post container width */
.post-body img {
    max-width: 100%;
}

/* Prevent text/cursor selection on elements where it doesn't make sense */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* =========================================================== */
/* Undocumented overrides I ported over from the clojure Guild */
/* TODO: Review and prune/document these to explain purpose    */
/* =========================================================== */

.panel-default {
    background-color: #3d3a3a;
}

/* Mute the link colors in panel headers, darken the bgs */
.panel-default>.panel-heading a,
.panel-default>.panel-heading {
    color: #ccc;
}
.panel-default>.panel-heading {
    background-color: #262626;
    border-color: #2e2c2c;
}
.panel-default {
    border-color: #3d3a3a;
}
.panel-footer {
    background-color: #7A7575;
}

/* ================================================= */

/* Make the text black in the bootstrap-markdown editor/preview */
.md-editor {
    color: black;
}