{% extends 'layouts/master.html' %}

{% block embed %}
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/tags">Tags</a>
    </li>
  </ol>

  {% for group in groups %}
    <code>[id={{ group.id }}]</code> {{ group.title }}
    <ul>
      {% for tag in group.tags %}
        <li>
          <code>{{ tag.id }}</code>
          {{ tag.title }}
          - {{ tag.description }}
          <form method="POST" action="{{ tag.url }}/move" class="form-inline" style="display: inline-block;">
            <div class="form-group">
              <input type="text" class="form-control" name="tag_group_id" value="{{ tag.tag_group_id }}" style="width: 50px;">
            </div>
            <button type="submit" class="btn btn-default btn-xs">
              Move
            </button>
          </form>
        </li>
      {% endfor %}
      <form method="POST" action="{{ group.url }}/tags" class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" id="tag-title" name="title"
                 placeholder="title"
          >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="tag-desc" name="desc" placeholder="A tiny description" >
        </div>

        {# tag slug #}
        <div class="form-group">
          <input type="text" class="form-control" id="tag-slug" name="slug" placeholder="tag-slug" >
        </div>

        <button type="submit" class="btn btn-primary">
          Add
        </button>
      </form>
    </ul>
  {% endfor %}

  <h3>New Tag Group</h3>

  <form method="POST" action="/tag-groups" class="form-inline">
    <div class="form-group">
      <label for="group-title">Title</label>
      <input type="text" class="form-control" id="group-title" name="title">
    </div>
    <button type="submit" class="btn btn-primary">
      Add
    </button>
  </form>
{% endblock %}

{% block scripts %}
{% endblock %}
