
<!-- global leaderboard at top of page-->

{% macro topLeaderboard() %}
  {% if config.ENABLE_ADS %}
    <div class="abc">
      {% if config.NODE_ENV === 'production' %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- [koa-guild] top-leadboard -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-9234114046145427"
             data-ad-slot="4573647062"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      {% else %}
        <div class="mock-ad" style="height: 90px; width: 728px;">
          <div>Ad</div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

<!-- box ad show to guests in user profiles -->

{% macro profileBlock() %}
  {% if config.ENABLE_ADS %}
    <div class="abc">
      {% if config.NODE_ENV === 'production' %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- [koa-guild] profile-block -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:336px;height:280px"
             data-ad-client="ca-pub-9234114046145427"
             data-ad-slot="8864245869"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      {% else %}
        <div class="mock-ad" style="height: 280px; width: 336px;">
          <div>Ad</div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro topResponsive() %}
  {% if config.ENABLE_ADS %}
    <div class="abc">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <style type="text/css">
        .top-responsive {
          width: 320px;
          height: 100px;
          margin: 15px auto;
        }
        @media (min-width:500px) { .top-responsive { width: 468px; height: 60px; } }
        @media (min-width:800px) { .top-responsive { width: 728px; height: 90px; } }
      </style>
      <!-- [koa-guild] responsive-top -->
      <ins class="adsbygoogle top-responsive"
           style="display:block"
           data-ad-client="ca-pub-9234114046145427"
           data-ad-slot="2259309061"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  {% endif %}
{% endmacro %}
