{#
  urlFragment is an optional hash fragment like #tabs that can be
  used so that clicking a pagination button auto-scrolls user
  to <a name="urlFragment"></a> that's expected to exist on destination page
#}
{% macro render(currPage, totalPages, baseUrl, urlFragment) %}
  {% set suffix = '' %} {# reset state of suffix #}
  {% if totalPages > 1 %}
    <ul class="pager">
      <li {% if currPage == 1 %} class="disabled" {% endif %}>
        <a href="{{ baseUrl }}{{ urlFragment }}" rel="first">First</a>
      </li>

      <li {% if currPage == 1 %} class="disabled" {% endif %}>
        {% if (currPage-1) > 1 %}
          {% set suffix = '?page=' + Math.max(currPage-1, 1) %}
        {% endif %}
        <a href="{{ baseUrl + suffix }}{{ urlFragment}}" rel="prev">
          &larr; Prev
        </a>
      </li>

      {% if currPage > 1 %}
        {% set suffix = '?page=' + currPage  %}
      {% endif %}
      <a style="color: white;" href="{{ baseUrl + suffix }}{{ urlFragment }}">Page {{ currPage|commafy }} of {{ totalPages|commafy }}</a>

      <li {% if currPage == totalPages %} class="disabled" {% endif %}>
        <a href="{{ baseUrl + '?page=' + Math.min(currPage+1, totalPages) }}{{ urlFragment }}" rel="next">
          Next &rarr;
        </a>
      </li>

      <li {% if currPage == totalPages %} class="disabled" {% endif %}>
        <a href="{{ baseUrl }}?page={{ totalPages }}{{ urlFragment }}" rel="last">Last</a>
      </li>

    </ul>
  {% endif %}
{% endmacro %}





{% macro renderFullPaginator(fullPaginator) %}
  {% if fullPaginator %}
    {# TODO: Extract to CSS file #}
    <style>
     .pagination > li > a {
       color: #ffc300;
       background-color: #222;
       border-color: #777;
     }
     .pagination > li > span {
       color: #777;
       background-color: #222;
       border-top: 0;
       border-bottom: 0;
       border-left: 1px solid #777;
       border-right: 1px solid #777;
       border-color: #777;
     }
     .pagination > li > span:hover {
       color: #777;
       background-color: #222;
     }
    </style>
    <nav class="full-paginator" style="text-align:center;">
      <ul class="pagination">
        {% for pg in fullPaginator %}
          {% if pg.kind == 'BUTTON' %}
            <li class="{% if pg.isActive %}active{% endif %}">
              <a href="{{ pg.href }}">
                <span aria-hidden="true">{{ pg.text }}</span>
              </a>
            </li>
          {% elif pg.kind == 'SEPARATOR' %}
            <li class="separator">
              <span>...</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro %}
